---
layout: default
class: work character-lab
header-class: character-lab
---
%header.hero
  .container
    %img{ src: "/images/character-lab/hero.png", alt: "" }/

.container
  %header.project-header
    %h1 Character Growth Card
    %h3.project-subtitle
      Apr&ndash;Jun 2014
      %span.divider /
      10 Weeks

  %section.copy
    %p I was part of a thoughtbot team that helped build an application to allow teachers to grade students based on their character, rather than solely on traditional academic skills. This non-profit had conducted research and encouraged teachers to begin incorporating these skills into their current curriculums. They began this process by giving teachers and schools a PDF grading sheet, which teachers found to be an excellent tool for teaching character related skills. The non-profit was seeking a way to make this process digital so it would be easier for teachers to assess multiple students simultaneously, thereby becoming less of a burden in addition to their other responsibilities.

%section.full
  %img{ src: "/images/character-lab/design-sprint.jpg", alt: "" }/
  %cite Design Sprint Exercises

.container
  %section.copy
    %p Because the non-profit already had a validated product, the design sprint was relatively quick. Though we brainstormed many great ideas for the application, in the end, we agreed on the simplest one. We then tested our prototype with two different user groups: teachers that had already been using the growth card, and teachers who hadn’t yet heard of it. The prototype was a great success with both groups.
    %p Since the team was working with a short timeline, we made sure to only use features that we felt were absolutely necessary in order to amplify the product’s use. The goal was to have the product tested amongst teachers and students for a semester in order to learn more about its use before putting more time and money into the product’s development. During this project, I worked with a preexisting brand.

%section.full-image
  .container
    %img{ src: "/images/character-lab/screens.png", alt: "" }/
    %cite Screenshots of the beta version of the application

.container
  %p.copy This is a rails application. We utilized Sass for a CSS preprocessor using Bourbon, Neat and Bitters for help with built in mixins, functions and a grid framework. The HTML was written in Haml.
