---
layout: default
class: work character-lab
---

.container
  %section.copy
    %h1 Character Growth Card
    %p I was part of a thoughtbot team that helped build an application to help teachers grade students on their character skills rather than just their academic skills. This non-profit had been conducting this research and encouraging teachers to teach these skills. They started by giving teachers and schools a PDF grade sheet and the found this to be a great tool for helping teachers teach these character skills. They we looking for a way to make this digital so that it was easier for the teachers to fill out multiple students at once and didn’t become so burdensome for them.

  %section.image
    %img.browser.top{ src: "/images/character-lab/hero-2.jpg", alt: "" }/
    %img.browser.bottom{ src: "/images/character-lab/hero.jpg", alt: "" }/

.container
  %section.image
    %img.browser.top{ src: "/images/character-lab/edit-class.jpg", alt: "" }/
    %img.browser.bottom{ src: "/images/character-lab/settings.jpg", alt: "" }/

  %section.copy
    %p Because they already had a product that had already been validated the design sprint went relatively quickly. We came up with a lot of really great ideas for helping teachers but in the end converged on the simplest idea that the team had so we could easily test it.The HTML wireframe that we used for testing during the sprint went over really well with teachers who had been using the PDFs and really well with teachers who hadn’t known about the PDFs before.
    %p The team was working with a short timeline so we made sure that we only put in the features that necessarily had to be there to make the product work for teachers. The goal was for the organization to test it out with teachers and students for a semester to learn how they use it before they put more time and money into development.

.container
  %section.copy
    %p Working with a preexisting brand.

    %h3 Technical specs
    %p A rails application. This used Sass for a CSS preprocessor using Bourbon, Neat and Bitters for help with built in mixins, functions and a grid framework. HTML was written in Haml mostly because it was really quick to write for the early prototypes.
    %h3 Timeline
    %p 10 weeks

  %section.image
    %img.frameless.top{ src: "/images/character-lab/sprint-bw-2.jpg", alt: "" }/
    %img.frameless.bottom{ src: "/images/character-lab/sprint-bw-1.jpg", alt: "" }/
