@import "posts-base";

html {
  background: url(/images/posts/nike/sponge.jpg) center center fixed no-repeat;
  @include background-size(cover);
}

body.nike {
  background-color: transparent;

  > section {
    @extend .wrapper;
    max-width: 800px;
    color: #fff;
    padding: lh(4) 0;
    text-align: center;

    blockquote {
      padding: lh(3);
      background: rgba(#001759, .5);
      @include box-shadow(0 0 0 1px rgba(#001759, .7), inset 0 0 0 1px rgba(#fff, .2));

      cite {
        font: italic bold 16px "teimer-web", Georgia, serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: lh(2);
        display: block;

        a {
          color: #fff;
          border-bottom: 1px solid #001759;
        }
      }

      p {
        font: 300 60px "ff-basic-gothic-web-pro", Helvetica, Arial, sans-serif;
        line-height: 76px;

        em {
          font-style: italic;
        }
      }
    }
  }

  footer {
    p {
      color: #001759;

      a {
        color: #001759;
        border-color: #fff;
      }
    }
  }
}
