---
layout: default
class: work developer-portal
---

%header.container
  %section.copy
    %h1 Developer Portal
    %p I was part of a thoughtbot team that helped build an internal application for major pharmaceutical company. They had been hiring more and more developers and found that there was a vast amount of knowledge between all of them but many weren’t tapping into others expertise or knowledge or only using personal networks to tap into their fellow developers knowledge. They wanted to build a community around all their developers so that sharing knowledge was easy and their expertise wasn’t siloed off. From a business standpoint the company realized the impact that this might have in saving their developers time and increasing the level of

  %section.image
    %img.browser.top{ src: "/images/developer-portal/new.jpg", alt: "" }/
    %img.browser.bottom{ src: "/images/developer-portal/hero.jpg", alt: "" }/

.container
  %section.image
    %img.tablet{ src: "/images/developer-portal/tablet.jpg", alt: "" }/
    %img.phone{ src: "/images/developer-portal/phone.jpg", alt: "" }/

  %section.copy
    %p We started off the project with two design sprints. The first we came up with a challenge statement and found during testing that some of our assumptions we’re validated. We decided that it would be important to do another design sprint to analyze the findings we had from the first sprint and . We were more successful during testing in the second sprint and decided that it would be a good starting point to start development. You can read about the design sprints for the project on the thoughtbot blog here and here.

.container
  %section.copy
    %p Throughout the lifetime of the project, we continued to test the application to make sure that we were on track building the right product for the problem. This proved invaluable as we moved into more of the details of some of the features that we had defined in the sprints.

    %p We ended up creating a more social experience that brought some of the ideas behind GitHub, Tumblr and Stack Overflow together for a more tailors experience to the needs of the companies developers.

  %section.image
    %img.frameless.top{ src: "/images/developer-portal/sprint-bw-2.jpg", alt: "" }/
    %img.frameless.bottom{ src: "/images/developer-portal/sprint-bw-1.jpg", alt: "" }/

.container
  %section.image
    %img.browser{ src: "/images/developer-portal/prototype.gif", alt: "" }/

  %section.copy
    %h3 Technical specs
    %p This application was an Ember app with a rails backend. All the styles were written with Sass using Bourbon, Neat and Bitters. We also used several Refills for components on the site. All HTML templates were done in Handlebars, Embers tempting language. Mockups were done in Sketch app.

    %h3 Timeline:
    %p 10 weeks
