---
layout: default
class: secondary
---

%h3 Playground: Experiments in content and design

%ul
  %li
    %a{ href: "#" }
      %h2 Baseball Stadiums
      %p On of my bucket list goals is to visit every baseball stadium. This is my way of keeping track of which ones I’ve been too and which I still need to go.

  %li
    %a{ href: "#" }
      %h2 Purpose
      %p The why behind what it is I do. A list of ideals I hold myself to and hope to live up to.
