.home-collaboration {
  display: grid;
  background-image: url(home/collaboration-texture.svg);
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;

  @include respond-above(medium) {
    @include contain(xxlarge);
  }
}

.home-collaboration-button {
  background-color: $seashell-pink;
  text-decoration: none;
}

.home-collaboration-button-wrapper {
  @include padding($sp-unit-3 null);
}

.home-collaboration-content {
  @include padding($sp-unit-8 $sp-unit-4 ($sp-unit-10 * 2) $sp-unit-4);
  display: grid;
  row-gap: $sp-unit-3;

  @include respond-above(medium) {
    @include padding($sp-unit-8 $sp-unit-8 $sp-unit-8 0);
    align-self: center;
    grid-column: 6/span 6;
  }

  @include respond-between(large, xxlarge) {
    grid-column: 7/span 5;
  }

  @include respond-above(xxlarge) {
    @include padding($sp-unit-12 $sp-unit-12 $sp-unit-12 null);
  }

  @include respond-above(xlarge) {
    grid-column: 7/span 4;
  }
}

.home-collaboration-heading {
  font-family: $font-stack-secondary;
  font-size: $font-large-2;
  font-weight: $font-weight-regular;
  line-height: $leading-unit-2;
}

.home-collaboration-img-1 {
  width: 100%;

  @include respond-below(medium) {
    justify-self: end;
    max-height: 40rem;
    object-fit: cover;
    object-position: bottom;
    order: 1;
  }

  @include respond-above(medium) {
    grid-column: 8/span 5;
    grid-row: 1;
  }

  @include ie11 {
    height: auto;
    width: auto;
  }
}

.home-collaboration-img-2 {
  @include respond-below(medium) {
    display: none;
  }

  @include respond-above(medium) {
    @include size(100%);
    grid-column: 1/span 5;
    object-fit: cover;
    object-position: top right;
  }

  @include ie11 {
    height: auto;
    margin-right: $sp-unit-12;
    width: auto;
  }
}

.home-collaboration-quote {
  @include padding(null $sp-unit-4 ($sp-unit-10 * 2) $sp-unit-4);

  @include respond-below(medium) {
    order: 2;
  }

  @include respond-above(medium) {
    @include padding(null 0 $sp-unit-8 0);
    align-self: center;
    column-gap: $sp-unit-4;
    display: grid;
    grid-column: 2/span 6;
    grid-row: 1;
    grid-template-columns: min-content 1fr;
  }
}

.home-collaboration-quote-credit {
  color: $scorpion-gray;
  font-family: $font-stack-primary;
  font-size: $font-size-3;
  letter-spacing: $kerning-unit-2;
  text-transform: uppercase;

  @include respond-above(medium) {
    grid-column: 2;
  }
}

.home-collaboration-quote-mark {
  font-size: 12rem;
}

.home-collaboration-quote-text {
  font-family: $font-stack-secondary;
  font-size: $font-large-2;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: $font-weight-regular;
  line-height: $leading-unit-4;

  @include respond-below(medium) {
    margin-top: $sp-unit-10 * -1;
  }

  @include respond-above(medium) {
    padding-top: $sp-unit-12;
  }

  @include respond-between(medium, xlarge) {
    font-size: $font-large-4 / 2;
  }
}

.home-collaboration-text {
  font-family: $font-stack-primary;
  font-size: $font-size-3;
  font-weight: $font-weight-semibold;
  line-height: $leading-unit-6;

  @include ie11 {
    margin: $sp-unit-4 0;
  }
}

.home-collaboration-texture {
  @include respond-below(medium) {
    display: none;
    order: 1;
  }

  @include respond-above(medium) {
    grid-column: 1/span 12;
    grid-row: 1;
  }
}

.home-collaboration-wrapper--bottom,
.home-collaboration-wrapper--top {
  display: flex;
  display: grid;

  @include respond-below(medium) {
    row-gap: $sp-unit-8;
  }

  @include respond-above(medium) {
    column-gap: $sp-unit-8;
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(xlarge) {
    column-gap: $sp-unit-12;
  }
}

.home-collaboration-wrapper--top {
  @include respond-below(medium) {
    background-color: $seashell-pink;
  }
}
