---
layout: index
class: index
---

<header class="hero">
  {% include home.svg %}
  <h1 class="title--primary">Hi, I&rsquo;m Kyle, a product design generalist, person-of-all-trades type. I use research and Jobs-to-be-Done to understand complex problems; then design, and implement practical solutions.</h1>
</header>

<section class="grid">
  <div class="span-six border-top">
    <h2 class="eyebrow">Work</h2>
    <ul>
      <li class="u-margin-bottom-base shape-item">
        <div class="shape-item__shape">
          {% include r1.svg %}
        </div>

        <div class="shape-item__content">
          <h3 class="u-margin-bottom-medium">Real Simple Energy</h3>
          <p>Rapidly validate business idea and build minimum viable product. <a href="/work/rse">Save&nbsp;up</a></p>
          <p class="detail">Product / Design Sprint / Research / Front-end</p>
        </div>
      </li>
      <li class="u-margin-bottom-base shape-item">
        <div class="shape-item__shape">
          {% include o1.svg %}
        </div>

        <div class="shape-item__content">
          <h3 class="u-margin-bottom-medium">thoughtbot Website</h3>
          <p>Design a system for content and integrate a CMS for thoughtbot's website. <a href="/work/thoughtbot-website">Start&nbsp;editing</a></p>
          <p class="detail">Marketing / Design System /  Research / Content / Front-end</p>
        </div>
      </li>
      <li class="u-margin-bottom-base shape-item">
        <div class="shape-item__shape">
          {% include t1.svg %}
        </div>

        <div class="shape-item__content">
          <h3 class="u-margin-bottom-medium">Keep Ruby Weird</h3>
          <p>Branding and front-end work for a local Ruby conference. <a href="/work/krw">Get&nbsp;weird</a></p>
          <p class="detail">Brand &amp; Marketing / Content / Front-end</p>
        </div>
      </li>
      <li class="u-margin-bottom-base shape-item">
        <div class="shape-item__shape">
          {% include r2.svg %}
        </div>

        <div class="shape-item__content">
          <h3 class="u-margin-bottom-medium">Ottoneu</h3>
          <p>Re-brand and product iteration to spur growth and retention. <a href="/work/ottoneu">Play&nbsp;ball</a></p>
          <p class="detail">Brand &amp; Marketing / Product / Research / Content / Front-end</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="span-four border-top u-margin-bottom-large">
    <h2 class="eyebrow">Recent Posts</h2>

    <ol>
      {% for post in site.posts limit: 3 %}
        <li class="u-margin-bottom-base">
          {% if post.external_url %}
          <p><a href="{{post.external_url}}">{{ post.title }} ↗</a></p>
          {% else %}
          <p><a href="{{post.url}}">{{ post.title }}</a></p>
          {% endif %}
          <span class="detail">{{ post.date | date: '%m/%d/%Y' }}</span>
        </li>
      {% endfor %}
    </ol>

    <a href="/blog">View All</a>
  </div>

  <div class="span-two border-top">
    <h2 class="eyebrow">
      Found Elsewhere
    </h2>
    <ul class="dashed-list">
      <li><a href="https://tentative.fm">Tentative ↗</a></li>
      <li><a href="https://www.goodreads.com/user/show/16097193-kyle-fiedler">Goodreads ↗</a></li>
      <li><a href="https://www.linkedin.com/in/kyle-fiedler-8a75014/">LinkedIn ↗</a></li>
      <li><a href="https://github.com/kylefiedler/">GitHub ↗</a></li>
      <li><a href="https://dribbble.com/kylefiedler/">Dribbble ↗</a></li>
      <li><a href="mailto:kyle@kylefiedler.com">Email ↗</a></li>
    </ul>
  </div>
</section>
