.case-study--subtitle {
  color: lighten($text-color, 15%);
  font-size: $small-font-size;
  font-style: italic;
  margin-bottom: 2rem;
}

.case-study--body {
  .image {
    margin: 2rem 0;

    @media screen and (min-width: em(980)) {
      margin-right: -40%;
    }

    @media screen and (min-width: em(1150)) {
      margin-right: -60%;
    }
  }

  img {
    display: block;
  }
}
