---
layout: default
---

%h1 Purpose
%p The why behind what it is I do. A list of ideals I hold myself to and hope to live up to.

%ul
  %li Don't be an asshole
  %li Never stop learning
  %li Have fun
  %li Don't stress about things you can't control
