body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  padding-top: 10px;
}

@include selection {
  background-color: $base-accent-color;
  color: #fff;
};

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: rem(36);
  letter-spacing: -1px;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 0.25rem;
  font-size: rem(24);
  letter-spacing: -1px;
}

h3 {
  color: lighten($text-color, 10);
  font-family: $base-font-family;
  font-size: em(14);
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  text-transform: uppercase;

  a {
    color: lighten($text-color, 10);
  }
}

p {
  color: $text-color;
  margin: 0 0 ($base-spacing / 2);
  font-size: em(17);
}

a {
  @include transition(color 0.1s linear);
  color: $base-font-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

time {
  color: lighten($text-color, 25);
  font-size: em(14);
  font-style: italic;
  line-height: rem(34);
  text-align: right;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 3px solid $base-border-color;
  padding-left: $base-spacing / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}
