.wrapper {
  padding: 0 25.888px 0;
  text-align: left;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body > section {
  position: relative; }
  body > section > header {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -ms-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
    body > section > header:hover {
      background: rgba(0, 0, 0, 0.8); }
    body > section > header h1 {
      padding: 12.944px; }
      body > section > header h1 a {
        display: block;
        background: url("/images/header-icon-white.png") center no-repeat;
        -webkit-background-size: 70%;
        -moz-background-size: 70%;
        -ms-background-size: 70%;
        -o-background-size: 70%;
        background-size: 70%;
        text-indent: -9999px;
        width: 30px;
        height: 30px; }
        body > section > header h1 a:hover {
          border-bottom: 0; }

body.conan {
  text-transform: uppercase; }
