@charset "UTF-8";
body > section {
  position: relative; }
  body > section > header {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    -ms-transition: all 0.15s ease-out 0;
    -o-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0; }
    body > section > header:hover {
      background: rgba(0, 0, 0, 0.8); }
    body > section > header h1 {
      padding: 0.809em; }
      body > section > header h1 a {
        display: block;
        background: url("/images/header-icon-white.png") center no-repeat;
        -webkit-background-size: 70%;
        -moz-background-size: 70%;
        -ms-background-size: 70%;
        -o-background-size: 70%;
        background-size: 70%;
        text-indent: -9999px;
        width: 30px;
        height: 30px; }
        body > section > header h1 a:hover {
          border-bottom: 0; }

body.mental {
  background: #329427 url("/images/posts/mental/bg-pattern.png") 0 0 repeat; }
  body.mental:after {
    position: absolute;
    bottom: 0;
    display: block;
    content: " ";
    width: 100%;
    height: 564px;
    background: url("/images/posts/mental/paint-bottom.png") bottom repeat-x; }
  body.mental > section {
    padding-top: 16.18em;
    padding-bottom: 9.708em;
    color: #f9ff04;
    max-width: 900px; }
    body.mental > section blockquote {
      font: 72px "vinyl",sans-serif;
      position: relative; }
      body.mental > section blockquote:before {
        display: inline;
        float: left;
        margin-left: -0.4em;
        content: "“";
        font-size: 1.6em;
        margin-top: -1.1326em;
        color: #1e5717; }
      body.mental > section blockquote:after {
        position: absolute;
        top: -39px;
        left: -430px;
        display: block;
        content: " ";
        width: 395px;
        height: 395px;
        background: url("/images/posts/mental/baseball-field.png") bottom repeat-x; }
      body.mental > section blockquote cite {
        font-size: 62px;
        color: #fff;
        font-family: "felt-tip-senior",cursive;
        display: block;
        margin-left: -0.7em;
        margin-top: 0.809em; }
        body.mental > section blockquote cite span {
          letter-spacing: -10px; }

footer p {
  color: #246c1c; }
  footer p a {
    color: #1e5717; }
