@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

/* CSS Reset
---------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* Variables
---------------------------------------- */
/*fonts*/
/*grid*/
/*colors*/
/* Extended classes
---------------------------------------- */
/* Clearfix hack I love you */
.clearfix:after, body.saddle article:after, body.saddle article div.header-wrapper header:after, body.saddle article section:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix, body.saddle article, body.saddle article div.header-wrapper header, body.saddle article section {
  display: inline-block; }

/* Hide from IE Mac \*/
.clearfix, body.saddle article, body.saddle article div.header-wrapper header, body.saddle article section {
  display: block; }

/* End hide from IE Mac */
.wrapper, body.saddle article div.header-wrapper header, body.saddle article section {
  width: 1224px;
  text-align: left;
  margin: 0 auto;
  padding: 24px; }

/* Base styles
---------------------------------------- */
body {
  text-align: center;
  font: 14px "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Georgia", serif;
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
  background: #f9f9f9; }

h2 {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
  margin: 10px 0; }

p, li {
  line-height: 20px; }

a {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  display: inline-block; }
  a:empty {
    display: none; }
  a:link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
    line-height: 20px -1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  a:active {
    color: rgba(0, 0, 0, 0.7);
    font-style: italic; }
  a:visited {
    color: rgba(0, 0, 0, 0.7);
    font-style: italic; }
  a:hover {
    color: rgba(0, 0, 0, 0.9);
    background: rgba(252, 255, 224, 0.6);
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

body.saddle header.main nav a {
  color: #fff; }
  body.saddle header.main nav a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none; }
body.saddle article div.header-wrapper {
  background: #3f311c url("/images/posts/saddle/header-bg.png") repeat;
  color: #fff;
  padding: 80px 0 20px;
  border-bottom: 1px solid #2d2d2d; }
  body.saddle article div.header-wrapper header h1 {
    display: block;
    text-indent: -9999px;
    background: transparent url("/images/posts/saddle/back-in-the-saddle.png") left top no-repeat;
    width: 599px;
    height: 331px;
    float: left; }
  body.saddle article div.header-wrapper header div.header-description {
    float: right;
    width: 600px; }
    body.saddle article div.header-wrapper header div.header-description h2 {
      color: rgba(255, 255, 255, 0.4);
      font: 32px ostrich-sans-1, ostrich-sans-2, helvetica, sans-serif;
      margin-top: 60px; }
    body.saddle article div.header-wrapper header div.header-description p {
      font-size: 22px;
      line-height: 30px;
      text-shadow: 0 1px 0 #000;
      -webkit-font-smoothing: antialiased; }
body.saddle article section {
  margin-top: 40px; }
  body.saddle article section iframe {
    width: 496px;
    height: 320px;
    float: left; }
  body.saddle article section div.content-wrapper {
    width: 600px;
    float: left;
    margin-left: 24px; }
    body.saddle article section div.content-wrapper h2 {
      color: #5c4829;
      font-family: ostrich-sans-1, ostrich-sans-2, helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 32px;
      line-height: 40px;
      margin-top: 0; }
    body.saddle article section div.content-wrapper div.columns {
      -webkit-column-width: 288px;
      -webkit-column-gap: 24px; }
    body.saddle article section div.content-wrapper p {
      margin-bottom: 20px; }
  body.saddle article section p.post-number {
    margin-top: -40px;
    width: 104px;
    text-indent: -9999px;
    display: block;
    background: transparent url("/images/posts/saddle/number-1.png") right top no-repeat;
    height: 171px;
    float: left; }
