/* CSS Reset
---------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

/* Mixins
---------------------------------------- */
/* Variables
---------------------------------------- */
/*fonts*/
/*grid*/
/*colors*/
/* Functions
---------------------------------------- */
/* Extended classes
---------------------------------------- */
/* Clearfix hack I love you */
.clearfix:after, body.saddle article:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix, body.saddle article {
  display: inline-block; }

/* Hide from IE Mac \*/
.clearfix, body.saddle article {
  display: block; }

/* End hide from IE Mac */
.wrapper, body.saddle article div.header-wrapper header, body.saddle article section {
  width: 1224px;
  text-align: left;
  margin: 0 auto; }

/* Base styles
---------------------------------------- */
body {
  text-align: center;
  font: 14px "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Georgia", serif;
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
  background: #fff;
  /*  background: #fff url(/images/bg.png) 0 0 repeat;
    */ }

h2 {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px; }

a:link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 20px -1px; }
a:active {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic; }
a:visited {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic; }
a:hover {
  color: rgba(0, 0, 0, 0.9);
  background: rgba(252, 255, 224, 0.6);
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

body.saddle nav {
  background: rgba(11, 8, 5, 0.7);
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }
body.saddle article div.header-wrapper {
  background: #3f311c;
  color: #fff;
  padding-top: 100px; }
