* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }
  body a {
    text-decoration: none; }
  body > section > header {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    -ms-transition: all 0.15s ease-out 0;
    -o-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0; }
    body > section > header:hover {
      background: rgba(0, 0, 0, 0.8); }
    body > section > header h1 {
      padding: 0.809em;
      margin: 0; }
      body > section > header h1 a {
        display: block;
        background: url("/images/header-icon-white.png") center no-repeat;
        color: #fff;
        font-size: 0.75em;
        text-transform: uppercase;
        font-family: "ff-tisa-web-pro", Georgia, serif; }
        body > section > header h1 a:hover {
          border-bottom: 0; }

::selection {
  background: #16c3d8;
  color: #333; }

::-moz-selection {
  background: #16c3d8;
  color: #333; }

::-webkit-selection {
  background: #16c3d8;
  color: #333; }

body.starts {
  font-family: "rooney-web", serif;
  border-top: 6px solid #16c3d8;
  margin: 0; }
  body.starts > section {
    zoom: 1;
    max-width: 75.99879em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px; }
    body.starts > section:before, body.starts > section:after {
      content: "";
      display: table; }
    body.starts > section:after {
      clear: both; }
    body.starts > section article {
      margin-bottom: 35.596px;
      padding-top: 213.576px;
      background: transparent url("/images/posts/starts/fresh.png") center 60px no-repeat; }
      body.starts > section article h1 {
        margin-bottom: 71.192px;
        text-align: center;
        font-weight: bold;
        font-size: 56px; }
        body.starts > section article h1:before {
          border-top: 1px solid #e3e3e3;
          content: " ";
          width: 300px;
          display: block;
          margin: 0 auto;
          padding-top: 71.192px; }
      body.starts > section article p {
        font-size: 22px;
        text-indent: 35.596px;
        line-height: 35.596px; }
        body.starts > section article p:last-child {
          margin-top: 35.596px; }
    body.starts > section > footer {
      text-align: left;
      padding: 0;
      margin-bottom: 35.596px; }
      body.starts > section > footer p {
        margin-left: 0; }
