body > section {
  position: relative; }
  body > section > header {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    -ms-transition: all 0.15s ease-out 0;
    -o-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0; }
    body > section > header:hover {
      background: rgba(0, 0, 0, 0.8); }
    body > section > header h1 {
      padding: 0.809em; }
      body > section > header h1 a {
        display: block;
        background: url("/images/header-icon-white.png") center no-repeat;
        -webkit-background-size: 70%;
        -moz-background-size: 70%;
        -ms-background-size: 70%;
        -o-background-size: 70%;
        background-size: 70%;
        text-indent: -9999px;
        width: 30px;
        height: 30px; }
        body > section > header h1 a:hover {
          border-bottom: 0; }

::selection {
  background: #16c3d8;
  color: #333; }

::-moz-selection {
  background: #16c3d8;
  color: #333; }

::-webkit-selection {
  background: #16c3d8;
  color: #333; }

body.starts {
  font-family: "rooney-web", serif;
  border-top: 6px solid #16c3d8; }
  body.starts > section {
    max-width: 800px; }
    body.starts > section article {
      margin-bottom: 35.596px;
      padding-top: 213.576px;
      background: transparent url("/images/posts/starts/fresh.png") center 60px no-repeat; }
      body.starts > section article h1 {
        margin-bottom: 71.192px;
        text-align: center;
        font-weight: bold;
        font-size: 56px; }
        body.starts > section article h1:before {
          border-top: 1px solid #e3e3e3;
          content: " ";
          width: 300px;
          display: block;
          margin: 0 auto;
          padding-top: 71.192px; }
      body.starts > section article p {
        font-size: 22px;
        text-indent: 35.596px;
        line-height: 35.596px; }
        body.starts > section article p:last-child {
          margin-top: 35.596px; }
    body.starts > section > footer {
      text-align: left;
      padding: 0;
      margin-bottom: 35.596px; }
      body.starts > section > footer p {
        margin-left: 0; }
