    <footer>
      <div class="border-top split">
        <ul class="u-margin-bottom-medium">
          <li><a href="/">Index</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/colophon">Colophon</a></li>
        </ul>
        <ul class="split--sub">
          <li><a href="https://tentative.fm">Tentative</a> ↗</li>
          <li><a href="https://www.goodreads.com/user/show/16097193-kyle-fiedler">Goodreads</a> ↗</li>
          <li><a href="https://www.linkedin.com/in/kyle-fiedler-8a75014/">LinkedIn</a> ↗</li>
          <li><a href="https://github.com/kylefiedler/">GitHub</a> ↗</li>
          <li><a href="https://dribbble.com/kylefiedler/">Dribbble</a> ↗</li>
          <li><a href="mailto:kyle@kylefiedler.com">Email</a> ↗</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
