  <div class="footer-wrapper">
    <footer>
      <section class="column">
        <h3>Writing</h3>

        <ol>
          {% for post in site.posts limit:10 %}
          {% if post.external_url %}
          <li>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <time>{{ post.date | date: '%B %d, %Y' }}</time>
          </li>
          {% else %}
          <li>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <time>{{ post.date | date: '%B %d, %Y' }}</time>
          </li>
          {% endif %}
          {% endfor %}
          <li>
            <h2><a href="/writing">Full Archive</a></h2>
          </li>
        </ol>
      </section>

      <section class="column">
        <h3>Podcasts &amp; Speaking</h3>
        <ul>
          <li>
            <h2>
              <a href="http://tentative.fm/">Tentative</a>
            </h2>
            <time>March, 2015 &ndash; Present</time>
          </li>
          <li>
            <h2>
              <a href="http://us.ivoox.com/en/32-kyle-fiedler-audios-mp3_rf_11970663_1.html">HiRes Podcast: Episode 32</a>
            </h2>
            <time>October 21, 2016</time>
          </li>
          <li>
            <h2><a href="http://mirrorconf.com">MirrorConf 2016: Blurred Lines</a></h2>
            <time>September 21, 2016</time>
          </li>
          <li>
            <h2><a href="http://www.betweenscreens.fm/episodes/134">Between Screens: Episode 134</a></h2>
            <time>July 24, 2015</timep>
            </li>
            <li>
              <h2>
                <a href="https://youtu.be/3HlLwSg2o9Y?t=8m43s">Geekfest &mdash; DIY Design Sprints</a>
              </h2>
              <time>Jul 28, 2015</time>
            </li>
            <li>
              <h2><a href="http://www.betweenscreens.fm/episodes/127">Between Screens: Episode 127</a></h2>
              <time>July 7, 2015</time>
            </li>
            <li>
              <h2>
                <a href="http://www.freshtilledsoil.com/the-dirt-kyle-fiedler-jobs-to-be-done/">The Dirt: Kyle Fiedler on the Jobs to be Done Framework</a>
              </h2>
              <time>April 25, 2014</time>
            </li>
            <li>
              <h2>
                <a href="http://giantrobots.fm/132">Giant Robots 132: Story Tellers</a>
              </h2>
              <time>February 1, 2015</time>
            </li>
            <li>
              <h2>
                <a href="http://giantrobots.fm/17">Giant Robots 17: I'm feeling full and Sassy</a>
              </h2>
              <time>October 21, 2012</time>
            </li>
          </ul>
        </section>

        <section class="column">
          <h3>Say Hi!</h3>
          <ul>
            <li>
              <h2>
                <a href="http://twitter.com/kylefiedler">Twitter</a>
              </h2>
            </li>
            <li>
              <h2>
                <a href="http://dribbble.com/kylefiedler">Dribbble</a>
              </h2>
            </li>
            <li>
              <h2>
                <a href="http://github.com/kylefiedler">GitHub</a>
              </h2>
            </li>
            <li>
              <h2>
                <a href="https://www.linkedin.com/in/kyle-fiedler-8a75014/">LinkedIn</a>
              </h2>
            </li>
            <li>
              <h2>
                <a href="mailto:kyle@kylefiedler.com?subject=Saying Hi!">Email</a>
              </h2>
            </li>
          </ul>
        </section>

        <section class="column">
          <h3>Lists</h3>
          <ul>
            <li>
              <h2><a href="/lists/baseball-stadiums">Baseball Stadiums</a></h2>
            </li>
            <li>
              <h2><a href="/lists/reading">Reading</a></h2>
            </li>
            <li>
              <h2><a href="/lists/podcasts">Podcasts</a></h2>
            </li>
          </ul>
        </section>
      </footer>
    </div>
  </body>
</html>
