    <footer class="mt--large">
      <nav class="flex justify-between">
        <p class="detail"><span class="gif">Bye<img src="/images/gifs/bye.gif" alt="An animated gif of Homer Simpson fading into a bush"></span>, thanks for visiting!</p>
        <ul>
          <li><span class="entity">⋇</span> <a href="/colophon" class="detail">Colophon</a></li>
          <li><span class="entity">✉</span> <a href="mailto:kyle@kylefiedler.com" class="detail">Say Hi</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
