<section>
  <h2 class="title--tertiary">All work</h2>
  <ul class="split">
    <li>
      <h3 class="u-margin-bottom-0"><a href="/work/ph-bill-negotiation.html">Point Health Bill Negotiation</a></h3>
      <p class="detail">2021</p>
    </li>
    <li>
      <h3 class="u-margin-bottom-0"><a href="/work/ph-design-system.html">Point Health Mobile Components</a></h3>
      <p class="detail">2021</p>
    </li>
    <li>
      <p><a href="/work/institute">Institute of Product Innovation</a></p>
    </li>
    <li>
      <p><a href="/work/rse">Real Simple Energy</a></p>
    </li>
    <li>
      <p><a href="/work/thoughtbot-website">thoughtbot Website</a></p>
    </li>
    <li>
      <p><a href="/work/krw">Keep Ruby Weird</a></p>
    </li>
    <li>
      <p><a href="/work/ottoneu">Ottoneu</a></p>
    </li>
  </ul>
</section>
