<section class="border-top">
  <h2 class="title--secondary">Recent Projects</h2>
  <ul class="circle mb--base">
    <li><p><a href="/work/infura-endpoints.html">Infura Endpoints</a></p></li>
    <li><p><a href="/work/infura-design-system.html">Infura Interface &amp; Design System refactor</a></p></li>
    <li><p><a href="/work/consensys-developer-journey.html">Consensys Developer Journey</a></p></li>
    <li><p><a href="/work/infura-support.html">Infura Support Page</a></p></li>
    <li><p><a href="/work/ph-npi.html">Point Health NPI</a></p></li>
    <li><p><a href="/work/ph-bill-negotiation.html">Point Health Bill Negotiation</a></p></li>
    <li><p><a href="/work/ph-design-system.html">Point Health Mobile Components</a></p></li>
  </ul>
  <a href="/work">All Projects</a>
  </div>
</section>
