<section class="grid">
  <div class="span-four border-top u-margin-bottom-large">
    <h2 class="eyebrow">Check out some other work</h2>
    <ul>
      <li>
        <p><a href="/work/rse">Real Simple Energy</a></p>
      </li>
      <li>
        <p><a href="/work/thoughtbot-website">thoughtbot Website</a></p>
      </li>
      <li>
        <p><a href="/work/krw">Keep Ruby Weird</a></p>
      </li>
      <li>
        <p><a href="/work/ottoneu">Ottoneu</a></p>
      </li>
    </ul>
  </div>

  <div class="span-two border-top">
    <h2 class="eyebrow">Get in touch</h2>
    <ul>
      <li><a href="https://www.linkedin.com/in/kyle-fiedler-8a75014/">LinkedIn ↗</a></li>
      <li><a href="https://github.com/kylefiedler/">GitHub ↗</a></li>
      <li><a href="https://dribbble.com/kylefiedler/">Dribbble ↗</a></li>
      <li><a href="mailto:kyle@kylefiedler.com">Email ↗</a></li>
    </ul>
  </div>
</section>
