@import "bourbon/bourbon";
@import "neat/neat";
@import "base-functions", "base-variables";

body {
  margin: 0;

  a {
    text-decoration: none;
  }

  > section {
    > header {
      position: absolute;
      background: rgba(#000, .3);
      top: 0;
      left: 0;
      @include transition();

      &:hover {
        background: rgba(#000, .8);
      }

      h1 {
        padding: lh(.5);
        margin: 0;

        a {
          display: block;
          background: url('/images/header-icon-white.png') center no-repeat;
          color: #fff;
          font-size: em(12);
          text-transform: uppercase;
          font-family: "ff-tisa-web-pro", Georgia, serif;

          &:hover {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
