@import "posts-base";

$base-font-size: 22px;
$base-line-height: golden-ratio($base-font-size, 1);

::selection {
    background:#16c3d8;
    color:#333;
}

::-moz-selection {
    background:#16c3d8;
    color:#333;
}

::-webkit-selection {
    background:#16c3d8;
    color:#333;
}


body.starts {
  font-family: "rooney-web", serif;
  border-top: 6px solid #16c3d8;
  margin: 0;

  > section {
    @include outer-container();
    max-width: 800px;

    article {
      margin-bottom: lh();
      padding-top: lh(6);
      background: transparent url('/images/posts/starts/fresh.png') center 60px no-repeat;

      h1  {
        margin-bottom: lh(2);
        text-align: center;
        font-weight: bold;
        font-size: 56px;

        &:before {
          border-top: 1px solid #e3e3e3;
          content: " ";
          width: 300px;
          display: block;
          margin: 0 auto;
          padding-top: lh(2);
        }
      }

      p {
        font-size: $base-font-size;
        text-indent: lh();
        line-height: $base-line-height;

        &:last-child  {
          margin-top: lh();
        }
      }
    }

    > footer {
      text-align: left;
      padding: 0;
      margin-bottom: lh();

      p {
        margin-left: 0;
      }
    }
  }
}
