@include keyframes(fade-in-up) {
  0% {
    opacity: 0;
    @include transform(translateY(40px));
  }

  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}

%fade-in-up {
  @include animation-name(fade-in-up);
  @include animation-duration(2s);
}

@include keyframes(bounce-in-down) {
  0% {
    opacity: 0;
    @include transform(translateY(-300px));
  }

  30% {
    opacity: 1;
    @include transform (translateY(20px));
  }

  60% {
    @include transform(translateY(-8px));
  }

  100% {
    @include transform(translateY(0));
  }
}

%bounce-in-down {
  @include animation-name(bounce-in-down);
  @include animation-delay(.3s);
  @include animation-duration(1.5s);
  @include animation-fill-mode(both);
  @include animation-iteration-count(1);
  @include animation-timing-function($ease-out-back);
}

@include keyframes(spin) {
  0% {
    @include transform(rotate(0deg));
  }

  100% {
    @include transform(rotate(360deg));
  }
}

%spin {
  @include animation-name(spin);
  @include animation-duration(2s);
}
