// fonts
$body-font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Tisa, Georgia;
$body-font-size: 1em;
$header-font-family: "etica-display-1","etica-display-2", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$base-line-height: golden-ratio($body-font-size, 1);

//Neat Grid
$grid-columns: 10; // Total number of columns in the grid
$column: golden-ratio(1em, 12); // Column width
$gutter: golden-ratio(1em, 12); // Gutter between each two columns
$show-grid: true;
$visual-grid-color: red;

// colors
$text-color: #626262;
