body {
  background: $background-color;
  color: lighten($primary-color, 10%);
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;

  @include media(640px){
    font-size: 1em;
  };

  @include media(840px){
    font-size: 1.1em;
  };

  @include media(1600px){
    background-color: lighten($secondary-color, 46%);
    font-size: 1.2em;
    @include transition;
  }
}

h1 {
  color: $primary-color;
  font-family: $header-font-family;
  font-size: em(26);
  font-weight: bold;
  line-height: 1.3em;
  margin: 0 0 lh(.5);
}

h2 {
  color: $primary-color;
  font-size: $body-font-size;
  font-style: italic;
  font-weight: normal;
}

p {
  margin-top: 0;
  font-size: 1.1em;
  line-height: 1.7em;
}

img {
  max-width: 100%;
}

a {
  color: darken($highlight-color, 10);
  text-decoration: none;
  border-bottom: 2px solid lighten($secondary-color, 40%);
  @include transition();

  &:hover {
    color: lighten($highlight-color, 5);
  }
}

blockquote {
  border-left: 4px solid lighten($secondary-color, 40%);
  margin: 0;
  padding-left: lh();
}

cite {
  display: block;

  &:before {
    content: "—";
    margin-right: lh();
    @include inline-block;
  }
}

::selection, ::-moz-selection {
  background: $highlight-color; /* Safari */
  color: $background-color;
}

article.four-oh {
  @include shift(1);
  padding-left: flex-gutter();
  margin-bottom: 5em;
}
