body.blog {
  padding: 2em;
  @include outer-container;

  header {
    @include row;
    margin-bottom: 2em;

    h1 {
      font-size: em(20);
      float: left;

      a {
        border-bottom: 0;
      }
    }

    ul {
      float: right;

      li {
        @include inline-block;
      }
    }
  }

  article {
    @include row;

    aside {
      @include span-columns(1);
      opacity: .6;

      &:hover {
        opacity: .8;
      }
    }

    > div {
      @include span-columns(4);
    }
  }
}
