main.blog {
  @include outer-container;
}

.post {
  position: relative;

  p {
    color: $base-text-color;
    font-size: em(18);
  }

  img {
    display: block;
    margin-bottom: 0.5em;
  }
}

.date {
  @include position(absolute, 2em null null (-(flex-grid(2))));
  font-size: em(14);
  text-align: right;
}

.pagination {
  margin: 3em 0;
}
