body.blog {
  padding: 2em;
  @include outer-container;

  header {
    @include row;
    margin-bottom: 2em;

    h1 {
      font-size: em(20);
      text-align: center;

      a {
        border-bottom: 0;
      }
    }

    ul {
      opacity: .4;
      text-align: center;
      padding-left: 0;

      li {
        @include inline-block;
        margin-left: .5em;
        font-style: italic;
      }
    }
  }

  hr {
    margin: 1.5em 30% 3em;
  }

  article {
    @include row;
    margin-bottom: 2em;

    aside {
      opacity: .4;
      font-style: italic;
      font-size: em(14, 16);
      text-align: right;

      &:hover {
        opacity: .8;
      }
    }
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}
