// Fluid video
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: lh(.5);
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul.social {
  li {
    @include inline-block;
    margin-right: .5em;

    a {
      display: block;
      letter-spacing: 1px;
      font-size: 1.3em;
      width: 1.2em;
      @extend .icon;
      border-bottom: 0;
      text-indent: -9999px;

      &:before {
        text-indent: 9999px;
      }

      &:hover {
        background: none;
      }
    }

    &.tumblr a {
      @extend .icon-tumblr;
    }

    &.dribbble a {
      @extend .icon-dribbble;
    }

    &.github a {
      @extend .icon-github;
    }

    &.twitter a {
      @extend .icon-twitter;
    }

    &.tumblr a {
      @extend .icon-tumblr;
    }

    &.rdio a {
      @extend .icon-rdio;
    }

    &.email a {
      @extend .icon-paper-plane;
    }
  }
}

%post {
  @include row;
  position: relative;

  aside {
    text-align: right;
    @include span-columns(1);
    @extend .icon;
    color: lighten($secondary-color, 15%);
    margin-top: 4px;

    a, span {
      display: block;
      border-bottom: none;

      &.date {
        color: lighten($secondary-color, 30%);
        font-size: em(12);

        &:hover {
          color: $primary-color;
          background-color: none;
        }
      }
    }
  }

  article {
    @include span-columns(5);
    @include omega();

    header {
      margin-bottom: lh();
    }
  }

  @include media(max-width $small, 2) {
    aside {
      text-align: left;
      display: block;
      @include span-columns(1);
      border-bottom: 1px solid lighten($secondary-color, 40%);
      padding-bottom: 1em;
      margin-bottom: 1em;
      margin-left: 0;

      a, span {
        @include inline-block;

        &.date {
          margin-left: 1em;
        }
      }
    }

    article {
      display: block;
      padding-left: 0;
      border-left: 0;
      @include span-columns(2);
    }
  };

  &.link {
    h2 {
      margin-bottom: lh(.5);
    }

    aside {
      @extend .icon-compass;
    }
  }

  &.quote {
    h1 {
      display: none;
    }

    blockquote {
      border: 0;
      color: $primary-color;
      font-family: $header-font-family;
      font-size: em(24);
      font-weight: bold;
      line-height: 1em;
      padding: 0;

      p {
        margin-right: 0;
        line-height: 1.3em;
      }
    }

    cite + p {
      margin-top: $body-line-height;
    }
    aside {
      @extend .icon-quote-right;
    }
  }

  &.photo {
    h1 {
      display: none;
    }

    img {
      margin-bottom: lh();
      border: 1px solid $primary-color;
    }

    a.img {
      border-bottom: 0;

      &:hover {
        background: none;
      }
    }

    aside {
      @extend .icon-picture;
    }
  }

  &.text {
    h2 {
      margin-bottom: lh();
    }

    aside {
      @extend .icon-doc-text;
    }

    ul {
      padding-left: 0;

      li {
        margin-bottom: .5em;
        position: relative;
        list-style: none;

        &:before {
          content: "•";
          color: lighten($secondary-color, 10%);
          font-size: em(14);
          @include inline-block;
          @include position(absolute,  0 0 0 -1.2em);
        }
      }
    }

    ol {
      padding-left: 0;
      counter-reset:li;

      li {
        margin-bottom: .5em;
        position: relative;
        list-style: none;

        &:before {
          content:counter(li)"."; /* Use the counter as content */
          counter-increment:li; /* Increment the counter by 1 */
          color: $secondary-color;
          @include inline-block;
          @include position(absolute,  0 0 0 -1.2em);
          font-size: em(14);
        }
      }
    }
  }

  &.video {
    h1 {
      display: none;
    }

    aside {
      @extend .icon-video;
    }
  }
}
