footer.main {
  border-top: 1px solid lighten($secondary-color, 40%);
  color: $secondary-color;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;

  @include media($small){
    padding-left: flex-grid(1) + flex-gutter();
  };

  p.copy {
    margin: 0;

    @include media($small) {
      float: left;
    };
  }

  ul.social {
    margin: 0;
    padding-left: 0;

    @include media($small) {
      float: right;
    };

    li {
      @include inline-block;
    }
  }

  p.license {
    opacity: .5;
    clear: both;
    margin-top: 2em;
  }
}
