header.main {
  padding: 0 0 lh(3);

  nav {
    margin-left: flex-grid(1) + flex-gutter();

    h1 {
      font-size: $body-font-size * 1.25;
      @include inline-block;
      margin: 0;

      a {
        border-bottom: 0;
        color: $primary-color;

        &:hover {
          color: $highlight-color;
        }
      }
    }

    ul {
      @include inline-block;
      margin: 0;

      li {
        @include inline-block;
        margin-right: lh();
        font-size: em(14, 16);

        a {
          text-transform: uppercase;
          font-weight: bold;
          -webkit-font-smoothing: antialiased;
        }
      }
    }

    @include media(max-width $small){
      float: none;
      margin-left: 0;

      h1 {
        display: block;
      }

      ul {
        text-align: left;
        padding: 0;
        margin: 2em auto 0;
        @include inline-block;
      }
    };
  }
}
