.main-content {
  header {
    max-width: 450px;
    padding-bottom: 4em;
    text-align: center;
    margin: 0 auto;

    p {
      color: lighten($base-font-color, 40);
      font-style: italic;
    }
  }

  ol.blog {
    li {
      margin-bottom: 3em;

      &:hover {
        .suggest-edits {
          @include transition ( all 1.0s ease-in-out );
          opacity: 1;
          visibility: visible;
        }
      }

      h1 {
        font-family: $header-font-family;
        font-size: em(16);
        font-style: italic;
        font-weight: normal;
        margin-bottom: 2em;
        text-align: center;

        a {
          color: lighten($base-font-color, 40);
        }
      }

      p {
        font-size: em(18);
        margin-bottom: 0;

        & + p {
          text-indent: 2em;
        }
      }

      .suggest-edits {
        visibility: hidden;
        opacity: 0;
        @include transition ( all 1.0s ease-in-out );
      }
    }
  }

  nav.pagination {
    text-align: center;

    li {
      @include inline-block;
      margin-right: .75em;
      opacity: .4;
    }
  }
}

footer {
  display: none;
}
