body.index {
  min-height: 100vh;
  background: url('/images/bg-kyle-1.jpg') bottom left no-repeat;
  background-size: cover;
}

header.about {
  padding: 3em;

  @include media(600px) {
    padding: 3em 5vw 0 20vw;
  };

  @include media(800px) {
    padding: 10vh 10vw 0 60vw;
  };

  @include media(930px) {
    padding: 25vh 10vw 0 60vw;
  };

  h1 {
    color: #fff;
    font-size: em(24);
  }

  h2 {
    font-size: 1em;
    font-style: italic;
    color: $light-gray;
    font-weight: normal;
    line-height: 1.5em;
  }

  hr {
    width: 25%;
    border-color: darken($base-border-color, 20);
  }

  p {
    color: #fff;
  }

  h3 {
    font-size: em(14, 16);
    font-weight: normal;
    margin-top: 3em;
  }

  a {
    @include inline-block;
    color: rgba(#fff, .8);
    padding: em(8) em(12);
    border-radius: 3px;
    font-style: italic;
    border: 1px solid rgba(#fff, .4);
    @include transition;

    // @include media(940px) {
    //   border: 1px solid darken($light-gray, 15);
    // };

    &:hover {
      @include transition;
      border-color: $base-font-color;
      color: $base-font-color;
    }
  }
}

footer {
  display: none;
}
