// fade in
@mixin fade-in-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in { @include fade-in-animation(); }
@-webkit-keyframes fade-in { @include fade-in-animation(); }
@-o-keyframes fade-in { @include fade-in-animation(); } 
@keyframes fade-in { @include fade-in-animation(); }

@mixin fade-in($duration, $timing: ease-in-out) {
  @include animation-name(fade-in);
  @include animation-duration($duration);
  @include animation-timing-function($timing);
  @include animation-fill-mode(both);
}

// fad in and move down
@mixin fade-in-down-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fade-in-down { @include fade-in-down-animation(); }
@-webkit-keyframes fade-in-down { @include fade-in-down-animation(); }
@-o-keyframes fade-in-down { @include fade-in-down-animation(); } 
@keyframes fade-in-down { @include fade-in-down-animation(); }

@mixin fade-in-down($duration, $timing: ease-in-out) {
  @include animation-name(fade-in-down);
  @include animation-duration($duration);
  @include animation-timing-function($timing);
  @include animation-fill-mode(both);
}

