header.main {
  @include row;
  &:hover {
    ul {
      opacity: 1;
      @include transition(color, 1s);
    }
  }

  h1 {
    @include shift(2);
    @include span-columns(2);
    font-size: em(24, 18);
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;

    a {
      color: #8d8d8d;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: em(3) 0 0;
    font-size: em(14);
    opacity: .3;
    @include span-columns(6);
    @include transition(color, 1s);

    li {
      @include inline-block;
      margin-right: 1.5em;
      -webkit-font-smoothing: antialiased;

      a {
        color: lighten($dark-gray, 40);
      }
    }
  }
}

footer.main {
  opacity: .5;
  @include shift(2);
  @include transition(color, 1s);

  &:hover {
    opacity: 1;
  }

  p {
    @include inline-block;
    color: $light-gray;
    font-weight: 200;

    a {
      color: lighten($light-gray, 10);
    }
  }
}
