%post {
  @include row;
  position: relative;

  aside {
    text-align: right;
    @include span-columns(1);
    @extend .icon;
    color: darken($secondary-color, 10%);
    margin-top: 4px;

    a, span {
      display: block;
      border-bottom: none;

      &.date {
        color: lighten($secondary-color, 30%);
        font-size: em(12);

        &:hover {
          color: $primary-color;
          background-color: none;
        }
      }
    }
  }

  article {
    @include span-columns(5);
    @include omega();
    border-left: 1px solid lighten($secondary-color, 42%);
    padding-left: flex-gutter();

    header {
      margin-bottom: lh();
    }
  }


  @include media(max-width 600px, 2) {
    aside {
      display: block;
      text-align: center;
      @include span-columns(2);
      border-bottom: 1px solid lighten($secondary-color, 40%);
      padding-bottom: 2em;
      margin-bottom: 2em;

      a, span {
        @include inline-block;

        &.date {
          margin-left: 1em;
        }
      }
    }

    article {
      display: block;
      padding-left: 0;
      border-left: 0;
      @include span-columns(2);
    }
  };
}

%article-type {
  &.link {
    h2 {
      margin-bottom: lh(.5);
    }

    aside {
      @extend .icon-compass;
    }
  }

  &.quote {
    h1 {
      display: none;
    }

    blockquote {
      border: 0;
      color: $primary-color;
      font-family: $header-font-family;
      font-size: em(24);
      font-weight: bold;
      line-height: 1.3em;
      padding: 0;

      p {
        margin-right: 0;
      }
    }

    cite + p {
      margin-top: $body-line-height;
    }
    aside {
      @extend .icon-quote-right;
    }
  }

  &.photo {
    img {
      margin-bottom: lh();
    }

    aside {
      @extend .icon-picture;
    }
  }

  &.text {
    h2 {
      margin-bottom: lh();
    }

    aside {
      @extend .icon-doc-text;
    }

    ul {
      padding-left: 0;

      li {
        margin-bottom: .5em;
        position: relative;
        list-style: none;

        &:before {
          content: "•";
          color: lighten($secondary-color, 10%);
          font-size: em(14);
          @include inline-block;
          @include position(absolute,  0 0 0 -1.2em);
        }
      }
    }

    ol {
      padding-left: 0;
      counter-reset:li;

      li {
        margin-bottom: .5em;
        position: relative;
        list-style: none;

        &:before {
          content:counter(li)"."; /* Use the counter as content */
          counter-increment:li; /* Increment the counter by 1 */
          color: $secondary-color;
          @include inline-block;
          @include position(absolute,  0 0 0 -1.2em);
          font-size: em(14);
        }
      }
    }
  }

  &.video {
    h1 {
      display: none;
    }

    aside {
      @extend .icon-video;
    }
  }
}
