nav.pagination {
  border-top: 1px solid lighten($secondary-color, 40%);
  color: $secondary-color;
  margin: 2em 0;
  padding-top: 2em;
  padding-left: flex-grid(1) + flex-gutter();
  @include row();

  @include media(max-width 600px){
    padding-left: 0;
  };

  a {
    &.newer {
      float: right;
      @extend .icon-after;
      @extend .icon-right-open-mini;
    }

    &.older {
      float: left;
      margin-left: -.4em;
      @extend .icon;
      @extend .icon-left-open-mini;
    }
  }
}
