.playground-posts {
  @include outer-container;

  li {
    margin-bottom: 3em;
  }

  a {
    &:hover {
      h2, p {
        color: $base-accent-color;
      }
    }

    h2 {
      margin-bottom: 0.25em;
      color: black;
    }

    p {
      color: $base-text-color;
    }
  }
}
