.post {
  margin: 2em 0;
  padding: 0 0 2em;
  @include row;

  aside {
    margin-top: em(90, 18);

    @include media(em(850)) {
      @include span-columns(2);
    };

    span {
      display: block;
      color: $light-gray;
      font-size: em(20, 18);
      line-height: 1.5;
      font-weight: 200;
      -webkit-font-smoothing: antialiased;
    }
  }

  article {
    @include media(em(850)) {
      @include span-columns(10);
      margin-right: 0;
    };

    h1 {
      color: $base-accent;
    }

    .fluid-width-video-wrapper {
      margin-bottom: 1em;
    }

    p {
      font-size: em(20, 18);
      line-height: 1.5;
      color: lighten($base-color, 10);
      -webkit-font-smoothing: antialiased;

      @include media(em(850)) {
        max-width: flex-grid(8);
      };
    }
  }
}
