body.writing {
  > section {
    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;

      li {
        @include clearfix;
        padding: lh() 0;
        @include box-sizing(border-box);
        border-bottom: 1px solid #eee;
        @include fade-in-down(.75s);
        @include transition(all .3s);

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            @include animation-delay(#{($i * .25)}s);
          }
        }

        h2 {
          font: 300 golden-ratio($body-font-size, 2) $header-font-family;
          color: #000;
          @include span-columns(6);
          margin: 0;
        }

        p {
          color: rgba($text-color, .8);
          margin: em(6) 0 0;
          @include box-sizing(border-box);
          @include span-columns(2);

          &.date {
            float: right;
            padding-right: flex-gutter();
          }

          &.type {
            text-transform: capitalize;
            padding-left: flex-gutter();
            margin-right: flex-gutter();
          }
        }

        &:hover {
          background: #664b8b;
          color: #fff;

          h2, p {
            color: #fff;
          }
        }
      }
    }

    footer {
      padding: 0;
      @include fade-in(1s);
      @include animation-delay(2s);

      p {
        width: 100%;
        margin-left: 0;
        text-align: center;

        a {
          @include inline-block;
          margin: lh();
          color: $text-color;
        }
      }
    }
  }
}
