@import 'bourbon/bourbon';
@import "normalize";

$column: 60px;
$max-width: 63em;
$gutter: 26px;

@import 'neat/neat';

@font-face {
  font-family: 'fontello';
  src: url("/fonts/jr-fontello.eot");
  src: url("/fonts/jr-fontello.eot?#iefix") format('embedded-opentype'), url("/fonts/jr-fontello.woff") format('woff'), url("/fonts/jr-fontello.ttf") format('truetype'), url("/fonts/jr-fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
  line-height: 1em;
  margin-left: 0.3em;
}

.icon-youtube:before {
  @extend %icon;
  content: '\55';
} /* 'U' */

.icon-vimeo:before {
  @extend %icon;
  content: '\f306';
} /* '' */

.icon-gplus:before {
  @extend %icon;
  content: '\f30f';
} /* '' */

.icon-heart:before {
  @extend %icon;
  content: '\2665';
} // '♥'

.icon-mail:before {
  @extend %icon;
  content: '\2709';
} // '✉'

.icon-comment:before {
  content: '\e718';
  @extend %icon;
} // ''

.icon-rss:before {
  @extend %icon;
  content: '\e73a';
} // ''

.icon-twitter:before {
  @extend %icon;
  content: '\f309';
} // ''

.icon-facebook-squared:before {
  @extend %icon;
  content: '\f30e';
} // ''

.icon-pinterest:before {
  @extend %icon;
  content: '\f312';
} // ''

.icon-instagram:before {
  @extend %icon;
  content: '\f32d';
} // ''

.icon-book-open:before {
  @extend %icon;
  content: '📖';
} // '\1f4d6

// variables
//---------------
$pink: #d16bac;
$background-color: #ca5da2;
$text-color: #333;
$header-font: "swingdancer",cursive;
$body-font: "omnes-pro", $helvetica, sans-serif;

%small-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c2c2bf;
  font-size: em(13);
  margin: 0 0 1em;
}

%bottom-border {
  @include row();
  border-bottom: 1px solid lighten($pink, 32%);
  margin-bottom: 2em;
  padding-bottom: 2em;
}

body {
  font-size: 1em;
  font-family: $body-font;
  padding: 0;
  color: darken($pink, 50%);
}

a {
  text-decoration: none;
  color: $pink;
}

header.main {
  background-color: $pink;
  border-bottom: 1px solid darken($pink, 20%);
  @include box-shadow(inset 0 -1px 0 lighten($pink, 10%), 0 2px 0 #eceadf);
  @include background-image(radial-gradient(50% 1%, circle cover, rgba(#fff, .4), rgba(#fff, 0)), linear-gradient(lighten($pink, 5%), darken($pink, 10%)));
  padding: em(56) 0 em(28);
  background-repeat: no-repeat;
  margin-bottom: 3em;
  -webkit-font-smoothing: antialiased;

  div.wrapper {
    @include outer-container();

    h1 {
      text-align: center;
      font-family: $header-font;
      font-size: em(52);
      margin: 0 0 .25em;

      a {
        color: #fff;
      }

      &:before {
        content: "";
        @include inline-block;
        margin-right: .5em;
        width: 133px;
        height: 83px;
        background: url('/jessrocks/icons-left.png') 0 0 no-repeat;
      }

      &:after {
        content: "";
        @include inline-block;
        margin-left: .3em;
        width: 151px;
        height: 60px;
        background: url('/jessrocks/icons-right.png') 0 0 no-repeat;
      }
    }

    nav {
      @include row;
      text-align: center;

      a {
        color: white;
        font-weight: bold;

        &:hover, &:active {
          color: darken($pink, 30);
        }
      }

      ul {
        @include inline-block;
        padding: 0;

        &.main {
          li {
            @include inline-block;
            margin-right: 2em;
          }

          &:after {
            content: " ";
            width: 5px;
            height: 5px;
            @include inline-block;
            border-radius: 5px;
            background-color: lighten($pink, 20%);
          }
        }

        &.social {
          margin-left: 2em;

          li {
            @include inline-block;

            a {
              border-bottom: 0;
              display: block;
              font-size: 1.4em;
              letter-spacing: 1px;
              width: 1.2em;
              overflow: hidden;
            }

            &.twitter a {
              @extend .icon-twitter;
            }

            &.rss a {
              @extend .icon-rss;
            }

            &.pinterest a {
              @extend .icon-pinterest;
            }

            &.instagram a {
              @extend .icon-instagram;
            }

            &.facebook a {
              @extend .icon-facebook-squared;
            }

            &.vimeo a {
              @extend .icon-vimeo;
            }

            &.youtube a {
              @extend .icon-youtube;
            }
          }
        }
      }
    }
  }
}

section.main {
  @include outer-container;

  section.articles {
    @include span-columns(8);
    border-right: 1px solid lighten($pink, 32%);
    padding-right: flex-gutter();

    article {
      @extend %bottom-border;
      padding-bottom: 0;

      &:last-child {
        border-bottom: none;
      }

      p.date {
        @extend %small-text;
        text-align: right;
      }

      header {
        @include row();

        h1 {
          font-family: $header-font;
          @include span-columns(6 8);
          font-size: em(44);
          margin-top: 0;
          margin-bottom: 0;
          color: darken($pink, 18%);
        }

        p.date {
          @include span-columns(2 8);
          margin-bottom: 0;

          span {
            display: block;
          }

          a {
            color: #c2c2bf;
          }
        }
      }

      img {
        max-width: 100%;
      }

      blockquote {
        border-left: 3px solid lighten($pink, 30%);
        margin-left: 0;
        padding-left: 1em;
      }

      cite {
        &:before {
          content: "—";
          @include inline-block;
          margin-right: .5em;
        }
      }

      ul.chat {
        list-style: none;
        padding-left: 0;
        border-top: 1px solid lighten($pink, 30%);

        li {
          border-bottom: 1px solid lighten($pink, 38%);
          padding: .5em 0;
        }

        span.speaker {
          font-weight: bold;
        }
      }

      footer {
        margin-top: 1em;
        @include row();

        ul.meta-list {
          list-style: none;
          padding: 0;
          margin: 0;

          > li {
            @include inline-block;

            &:after {
              content: "|";
              @include inline-block;
              padding: 0 .5em;
              color: lighten($pink, 32%);
            }

            &:last-child:after {
              content: "";
            }

            a {
              @extend %small-text;
            }

            &.share-links {
              h2 {
                @include inline-block;
                font-size: 1em;
                margin: 0;
              }

              ul {
                list-style: none;
                padding: 0;

                li {
                  @include inline-block;
                  margin-right: 1em;
                }
              }

              a {
                color: #fff;
                display: block;
                margin-bottom: .5em;
              }

              a.twitter {
                @extend .icon-twitter;
              }

              a.google {
                @extend .icon-gplus;
              }

              a.pinterest {
                @extend .icon-pinterest;
              }

              a.facebook {
                @extend .icon-facebook-squared;
              }

            }
          }
        }

        ul.tags {
          list-style: none;

          li {
            @include inline-block;

            &:after {
              content: "|";
              @include inline-block;
              padding: 0 .5em;
              color: lighten($pink, 32%);
            }

            &:last-child:after {
              content: "";
            }

            a {
              @extend %small-text;
            }
          }
        }

        section.share {
          float: left;

          span.toggle {
            @extend %small-text;
          }

        }
      }
    }
  }

  aside.sidebar {
    @include span-columns(4);
    color: rgba(darken($pink, 50%), .6);
    margin-right: 0;

    h2 {
      font-size: 1.2em;
      margin: 0 0 1em;
      color: darken($pink, 20%);
    }

    section {
      @extend %bottom-border;

      > span {
        @extend %small-text;
      }

      &.bio {

        img {
          @include span-columns(2 5);
          background-color: #333;
        }

        p {
          @include span-columns(3 5);
          margin: 0;
        }
      }

      &#twitter {
        h2 {
          @extend .icon-twitter;
        }

        div#tweets {
          a {
            margin-bottom: 1em;
            display: block;
            color: rgba(darken($pink, 50%), .6);

            &:hover {
              color: $pink;
            }
          }
        }
      }

      &.reading {
        h2 {
          @extend .icon-book-open;
        }

        h3 {
          font-weight: normal;
          margin: 0;
        }
      }

      &.instagram {
        h2 {
          @extend .icon-instagram;
        }
      }

      &#search {
        input {
          border-radius: 3px;
          border: 1px solid lighten($pink, 20%);
          padding: .3em .6em;
          @include box-sizing(border-box);
          width: 100%;
        }
      }
    }
  }


  footer.main {
    @include row();
    clear: both;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid lighten($pink, 30%);

    p {
      @include span-columns(6);
    }

    ul {
      @include span-columns(6);
      list-style: none;
      text-align: right;

      li {
        @include inline-block;
        margin-right: 1em;
      }
    }
  }
}
