---
layout: default
class: secondary work-index
---

.container
  %h3.page-title Select Work: Projects that I have been a part of

  %ul
    %li.developer-portal
      %a{ href: "/work/developer-portal" }
        %header
          %h2 Developer Portal
          %p
            An internal application for a major pharmaceutical company. They had been hiring more and more developers and found that there was a vast amount of knowledge between all of them but many weren’t tapping into others expertise or knowledge or only using personal networks to tap into their fellow developers knowledge. 

          %span.more See More

    %li.psl
      %a{ href: "/work/psl" }
        %header
          %h2 Philly Startup Leaders
          %p
            A redesign and rebrand for PSL, one of the largest communities of entrepreneurs, designers and developers in the Pjilly area. The goal for the site was to show the thriving startup community in Philly, to give people an idea of what is going on and what to pay attention to in the area.

          %span.more See More

    %li.character-lab
      %a{ href: "/work/character-growth-card" }
        %header
          %h2 Character Growth Card
          %p
            An application to help teachers grade students on their character skills rather than just their academic skills. This non-profit had been conducting this research and encouraging teachers to teach these skills.

          %span.more See More
