/* Base styles
---------------------------------------- */
body {
  background-color: $background-color;
  color: $text-color;
  font: $body-font-size $body-font-family;
}

a {
  text-decoration: none;
  color: $header-color;
  background-color: $link-background;

  &:hover {
    background-color: darken($link-background, 10%);
  }
}

ul, ol {
  list-style: none;
  margin-bottom: 0;
}

.img-double {
  border: 1px solid darken($border-color, 10%);
  background: transparent;
  @include box-shadow(inset 0 0 0 1px $background-color);

  img {
    display: block;
    z-index: -1;
    position: relative;
  }
}

footer {
  color: #ccc;
  margin-top: lh();
  margin-left: flex-grid(4) + flex-gutter();
  clear: both;
  padding-top: lh();

  a {
    color: #ddd;
    background: none;
  }
}
