/* Base styles
---------------------------------------- */
body {
  background-color: $background-color;
  color: $text-color;
  font: $body-font-size $body-font-family;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $header-color;

  &:hover {
    color: rgba($header-color, .8);
  }
}

ul, ol {
  list-style: none;
  margin-bottom: 0;
}

.img-double {
  border: 1px solid darken($background-color, 8%);
  background: transparent;
  @include box-shadow(inset 0 0 0 1px $background-color);

  img {
    display: block;
    z-index: -1;
    position: relative;
  }
}

::selection {
    background: darken($green, 10%);
}

::-moz-selection {
    background: darken($green, 10%);
}

::-webkit-selection {
    background: darken($green, 10%);
}

footer {
  color: #ccc;
  margin-top: lh();
  margin-left: flex-grid(4) + flex-gutter();
  clear: both;
  padding-top: lh();

  a {
    color: #ddd;
    background: none;
  }
}
