// fonts
$body-font-family: "ratio-1","ratio-2", "rooney-web-1","rooney-web-2", p22-underground-1,p22-underground-2, "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$body-font-size: 16px;
$header-font-family: "jubilat-1","jubilat-2", "brevia-1","brevia-2";
$header-font-size: 20px;

// grid
$fg-max-columns: 12;
$fg-column: golden-ratio($body-font-size, 5);
$fg-gutter: golden-ratio($body-font-size, 3);
$fg-max-width: 1160px;
$fg-min-width: 700px;

$base-line-height: golden-ratio($body-font-size, 1);

// colors
$white: #fff;
$gray: #333;

$purple: #9C71B8;
$green: #06967D;

$dark-green: #232a34;
$peach: #a9bd71;
$tan: #FFE2C7;
$light-blue: #2B4440;

$header-color: #367a9d;
$text-color: #626262;

$background-color: #f9f9f9;
$highlight-color: #5a497f;
$border-color: darken($background-color, 15%);

@mixin mask-image($url){
  -webkit-mask-image: url($url);
  -o-mask-image: url($url);
  -moz-mask-image: url($url);
  mask-image: url($url);
}
