/* Base styles
---------------------------------------- */
body {
  background-color: $background-color;
  color: $text-color;
  font: $body-font-size $body-font-family;
}

h1 {
  font: 800 golden-ratio($body-font-size, 3) $header-font-family;
  text-transform: uppercase;
  color: $header-color;
}

h2 {
  font: 900 $body-font-size $body-font-family;
  color: $header-color;
  letter-spacing: 2px;
  margin-bottom: $gw-gutter;

  a {
    background: none;

    &:hover {
      background-color: $link-background;
    }
  }
}

a {
  text-decoration: none;
  color: $header-color;
  background-color: $link-background;
  font-family: $body-font-family;

  &:hover {
    background-color: darken($link-background, 10%);
  }
}

ul, ol {
  list-style: none;
  margin-bottom: 0;
}

.img-double {
  border: 1px solid darken($border-color, 10%);
  background: transparent;
  @include box-shadow(inset 0 0 0 1px $background-color);

  img {
    display: block;
    z-index: -1;
    position: relative;
  }
}
