// fonts
$body-font-family: "ratio-1","ratio-2", "rooney-web-1","rooney-web-2", p22-underground-1,p22-underground-2, "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$body-font-size: 16px;

// grid
$fg-max-columns: 12;
$fg-column: golden-ratio($body-font-size, 3);
$fg-gutter: golden-ratio($body-font-size, 1);
$fg-max-width: 1200px;
$fg-min-width: 700px;

$base-line-height: golden-ratio($body-font-size, 1);

// colors
$white: #fff;
$gray: #333;

$purple: #9C71B8;
$green: #06967D;

$header-color: lighten($gray, 20%);
$text-color: lighten($gray, 40%);
$border-color: lighten($gray, 70%);

$background-color: $white;
$highlight-color: $purple;

