footer.main {
  @extend .clearfix;
  @extend .wrapper;
  margin: ($lh*2) auto;
  
  p {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    
    li {
      float: left;
      padding-right: $gw-gutter/2;
      &:after {
        content: "//";
      }

      &:last-child {
        &:after {
        content: "";
          
        }
      }
      a {
        display: inline-block;
        margin-right: $gw-gutter/2;
      }
    }
  }
}
