body {
  > section {
    header {
      @extend .clearfix;
      @include border-box();
      padding: flex-grid(1.5) 0 flex-grid(1.5) (flex-grid(4) + flex-gutter());

      @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
        padding-left: 0;
      }

      h1 {
        color: $header-color;
        font-family: "jubilat-1","jubilat-2", "brevia-1","brevia-2";
        font-size: golden-ratio($body-font-size, 2);
        font-weight: bold;
        letter-spacing: -1px;
        text-shadow: 0 2px 0 lighten($background-color, 5%);
      }

      h2 {
        font: 200 18px $body-font-family;
        color: rgba($white, .7);
        letter-spacing: 0;
        margin-top: -4px;
        margin-left: 3.5em;
      }
    }
  }
}
