body {
  > section {
    header {
      @extend .clearfix;
      margin-bottom: golden-ratio($body-font-size, 2);
      background: $highlight-color;
      // border-bottom: 1px solid darken($background-color, 5%);
      // @include box-shadow(0 1px 0 #fff);

      @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
        padding-left: 0;
      }

      div {
        @extend .wrapper;
        padding: lh(6) lh() lh(4);

        h1 {
          @include fade-in(1s);
          color: lighten($highlight-secondary-color, 30%);
          font: 200 golden-ratio($header-font-size, 2) $header-font-family;
          line-height: lh(2);
          padding-left: (flex-grid(4) + flex-gutter());
          background: url('/images/header-icon.png') 13% 14px no-repeat;

          strong {
            font-weight: bold;
            color: $background-color;
          }
        }
      }
    }
  }
}
