body.home {
  header.main {
    nav {
      h1 {
        a {
          color: darken($primary, 40%);
          text-shadow: 0 1px 0 lighten($primary, 10%);

          &:hover {
            text-shadow: 0 -1px 0 darken($primary, 10%);
            color: #fff;
          }
        }
      }
      ul {
        li {
          a {
            color: darken($primary, 40%);
            text-shadow: 0 1px 0 lighten($primary, 10%);
            &:hover {
              text-shadow: 0 -1px 0 darken($primary, 10%);
              color: #fff;
            }
          }
        }
      }
    }
  }

  h2 {
    text-shadow: 0 1px 0 #fff;

    span {
      opacity: 0;
      font-weight: 400;
      @include transition (opacity, .3s, ease-in-out);
    }

    &:hover {
      background: none;

      span {
        opacity: .3;
      }
    }

    a {
      border-bottom: none;
    }
  }

  div.header-wrapper {
    background:$primary url('/images/index/header-bg.png') 20% 0 repeat;
    border-bottom: 1px solid darken($primary, 10%);
    @include box-shadow(inset 0 -2px 4px rgba(darken($primary, 20%), .4), 0 1px 0 #fff);

    section#main-header {
      @extend .wrapper;
      position: relative;

      div.illustration {
        position: absolute;
        top: -10px;
        z-index: 1;
        @include animation-name(slidein);
        @include animation-duration(3s);
      }

      h1 {
        font: 200 50px $header;
        line-height: 40px;
        color: #fff;
        padding: ($lh*8) 0 ($lh*9) 720px;
        display: block;
        letter-spacing: -1px;
        -webkit-font-smoothing: antialiased;

        strong {
          font-weight: 900;
          display: block;
        }

        span {
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 500;
          display: block;
          letter-spacing: 1px;
          padding-top: 10px;
          line-height: $lh;
          color: rgba($base, .2);
        }
      }
    }
  }
}


div.main-content {
  @extend .wrapper;
  @extend .clearfix;
  display: table;
  vertical-align: bottom;
  padding-top: 0;
  overflow: hidden;

  #primary-column {
    @extend .clearfix;
    vertical-align: top;
    display: table-cell;
    width: grid-width(6)+($gw-gutter/2);
    border-right: 1px dotted rgba(#000, .1);
    @include box-shadow(1px 0 0 #fff);

    section#posts {
      width: grid-width(6)+($gw-gutter/2);
      background: #fff;
      padding: $lh $gw-gutter*.5 $lh 0;
      @include box-shadow(-14px -14px 0 14px #fff);

      ul {
        @extend .clearfix;
        list-style: none;

        li {
          margin-bottom: $lh;

          a {
            @extend .clearfix;
            font: 500 24px $header;
            color: rgba($base, .5);
            border-bottom: 0;
            line-height: $lh*2;

            span {
              float: right;
              font: italic 14px $body;
              color: rgba($base, .2);
              position: relative;
              top: 12px;
            }

            &:hover {
              color: rgba($base, .9);

              span {
                color: rgba($base, .4);
              }
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    section#dribbble {
      @extend .clearfix;
      width: grid-width(6)+($gw-gutter/2);
      border-top: 1px dotted rgba(#000, .1);
      padding: $lh 0;

      ul {
        list-style: none;

        li {
          width: grid-width(3);
          height: $lh*10;
          margin: 0 ($gw-gutter) ($lh) 0;
          float: left;
          overflow: hidden;
          @include box-shadow(0 0 0 1px rgba($base, .6), 0 2px 0 #fff);
          @include transition(all, .2s, ease-in);

          &:nth-child(2n) {
            margin-right: 0;
          }

          a {
            display: block;
            height: $lh*10;

            img {
              width: grid-width(3);
              display: block;
            }

            &:hover {
              background: none;
              border-bottom: 0;
            }
          }
          &:hover {
            @include box-shadow(0 0 0 2px $primary, 0 0 0 3px darken($primary, 10%), inset 0 0 0 1px darken($primary, 10%));
          }
        }
      }
    }

    div.reading-and-something {
      @extend .clearfix;
      width: grid-width(6)+($gw-gutter/2);
      border-top: 1px dotted rgba(#000, .1);
      @include box-shadow(inset 0 1px 0 #fff);

      section#air {
        display: table-cell;
        vertical-align: top;
        width: grid-width(3)+($gw-gutter/2);
        min-height: $lh*10;
        margin-right: ($gw-gutter)/2;
        border-right: 1px dotted rgba(#000, .1);
        padding: $lh ($gw-gutter/2) $lh 0;

        div.delicious-posts {
          line-height: $lh;

          ul {
            li.delicious-post {
              margin-bottom: $lh !important; 
              position: relative;
              padding-left: 10px;

              &:before {
                content: "–";
                position: absolute;
                top: -2px;
                left: 0;
                color: #ccc;
              }
            }
          }
        }
      }

      section#readernaut {
        display: table-cell;
        vertical-align: top;
        width: grid-width(3)+($gw-gutter);
        padding: $lh ($gw-gutter/2);

        ul {
          list-style: none;

          li {
            max-width: 140px;
            max-height: ($lh*9);
            margin: 0 ($gw-gutter/3) ($lh/2) 0;
            float: left;
            overflow: hidden;
            @include box-shadow(0 0 0 1px rgba($base, .6));
            @include transition(all, .2s, ease-in);

            &:nth-child(even) {
              margin-right: 0;
            }

            a {
              display: block;
              overflow: hidden;

              img {
                max-width: 140px
              }
            }

            &:hover {
              @include box-shadow(0 0 0 2px $primary, 0 0 0 3px darken($primary, 10%), inset 0 0 0 1px darken($primary, 10%));
            }
          }
        }
      }
    }
  }

  #secondary-column {
    @extend .clearfix;
    width: grid-width(6)+($gw-gutter/2);
    display: block;

    section#tumblr {
      width: grid-width(3)+$gw-gutter;
      display: table-cell;
      border-right: 1px dotted rgba(#000, .1);
      padding: $lh ($gw-gutter/2);
      @include box-shadow(1px 0 0 #fff);

      ul {
        list-style: none;

        li {
          margin-bottom: $lh;
          position: relative;
          padding-left: 10px;

          &:before {
            content: "–";
            position: absolute;
            top: -2px;
            left: 0;
            color: #ccc;
          }
        }
      }
    }

    div.music-and-stuff {
      display: table-cell;
      vertical-align: top;
      width: grid-width(3)+($gw-gutter/2);

      section#lastfm {
        @extend .clearfix;
        padding: $lh 0 $lh $gw-gutter/2;

        .lastFMHeader {
          display: none;
        }

        ul {
          list-style: none;

          li {
            max-width: 89px;/*needs to change*/
            max-height: ($lh*4);
            margin: 0 10px ($lh/2) 0;/*right margin needs to change*/
            float: left;
            overflow: hidden;
            @include box-shadow(0 0 0 1px rgba($base, .6));
            @include transition(all, .2s, ease-in);

            &:nth-child(3n) {
              margin-right: 0;
            }

            a {
              display: block;
              overflow: hidden;

              img {
                max-width: 89px;
              }
            }

            &:hover {
              @include box-shadow(0 0 0 2px $primary, 0 0 0 3px darken($primary, 10%), inset 0 0 0 1px darken($primary, 10%));
            }
          }
        }
      }

      section#flickr {
        @extend .clearfix;
        border-top: 1px dotted rgba(#000, .1);
        padding: $lh 0 $lh ($gw-gutter/2);
        @include box-shadow(inset 0 -1px 0 #fff);

        div {
          width: grid-width(1)+(60);
          max-height: ($lh*7);
          margin: 0 ($gw-gutter/3) ($lh/2) 0;
          float: left;
          overflow: hidden;
          @include box-shadow(0 0 0 1px rgba($base, .6));
          @include transition(all, .2s, ease-in);

          &#flickr_badge_image2 {
            margin-right: 0;
          }

          a {
            display: block;
            overflow: hidden;
          }

          &:hover {
            @include box-shadow(0 0 0 2px $primary, 0 0 0 3px darken($primary, 10%), inset 0 0 0 1px darken($primary, 10%));
          }
        }
      }
    }

    section#twitter {
      clear: both;
      border-top: 1px dotted rgba(#000, .1);
      background: #fff;
      @include box-shadow(($gw-gutter/2) ($gw-gutter/2) 0 ($gw-gutter/2) #fff);

      div {
        @extend .clearfix;
        padding: $lh 0 $lh ($gw-gutter/2);

        ul {
          list-style: none;

          span {
            font: 500 24px $header;
            line-height: $lh*2;

            a {
              display: inline;
              border-bottom: 1px solid rgba($base, .2);
              margin-top: 0;
              font-size: 24px !important;
              color: rgba($base, .6);

              &:hover {
                color: rgba($base, .8);
                background: rgba(#fcffe0, .6);
              }
            }
          }

          a {
            display: block;
            margin-top: $lh;
            border-bottom: 0;
            font-size: 13px !important;
            color: rgba($base, .4);

            &:hover {
              background: 0;
              color: rgba($base, .6);
            }
          }
        }
      }
    }

    section#about {
      @extend .clearfix;
      border-top: 1px dotted rgba(#000, .1);

      p.image {
       float: left;
       display: block;
       width: grid-width(2);
       margin-right: $gw-gutter;
       padding: $lh 0 $lh ($gw-gutter/2);

       img {
         overflow: hidden;
         @include box-shadow(0 0 0 1px rgba($base, .6));
       }
      }

      section#description {
        float: left;
        width: grid-width(3);
        padding: $lh 0 0;

        p {
          margin-bottom: $lh;
        }
      }

      section#linkage {
        float: left;
        width: ($gw-column)+($gw-gutter*.66);
        margin-left: ($gw-gutter*.33);
        margin-top: $lh*3;

        ul {
          list-style: none;
        }
      }
    }
  }
}
