body {
  > section {
    header {
      @extend .clearfix;
      @include border-box();
      padding: lh(4) 0 lh(3) (flex-grid(4) + flex-gutter());
      margin-bottom: golden-ratio($body-font-size, 2);
      border-bottom: 1px solid darken($background-color, 5%);

      @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
        padding-left: 0;
      }

      h1 {
        color: $highlight-color;
        font: bold golden-ratio($header-font-size, 2) $header-font-family;
        letter-spacing: -1px;
        // text-shadow: 0 -2px 0 darken($background-color, 10%);
      }

      h2 {
        font: 200 $header-font-size $body-font-family;
        color: darken($background-color, 20%);
        letter-spacing: 0;
        margin-top: -8px;
        margin-left: 4em;
      }
    }
  }
}
