body.home {
  background: url('/images/index/astro.png') 45% -10px no-repeat,
  url(/images/bg.png) 0 0 repeat;

  h2 {
    span {
      display: none;
      @include transition(all .3s);
    }

    &:hover {
      background: none;

      span {
        display: inline;
        color: rgba($base, .3);
        font-weight: 400;
      }
    }

    a {
      border-bottom: none;
    }
  }
}

#main-header {
  @extend .wrapper;

  h1 {
    font: 200 50px $header;
    line-height: 52px;
    color: rgba($base, .3);
    padding: ($lh*5.5) 0 ($lh*9) 720px;
    display: block;
    letter-spacing: -1px;

    strong {
      font-weight: 900;
      display: block;
      color: rgba($base, .4);
    }

    span {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 500;
      display: block;
      letter-spacing: 1px;
      line-height: $lh;
      color: rgba($base, .2);
    }
  }
}

div.main-content {
  @extend .wrapper;
  @extend .clearfix;
  border-bottom: 1px solid rgba(#000, .1);
  display: table;

  #primary-column {
    @extend .clearfix;
    display: table-cell;
    vertical-align: top;
    margin-top: $lh*2;
    width: grid-width(6)+($gutter/2)-(1);
    border-top: 1px solid rgba(#000, .1);
    border-right: 1px solid rgba(#000, .1);

    section#posts {
      width: grid-width(6);
      padding-right: ($gutter/2)-(1);
      background: #fff;
      padding-top: $lh*1.5;
      @include box-shadow(-8px 5px 0 5px #fff);

      h2 {
        margin-top: 0;
      }

      ul {
        @extend .clearfix;
        list-style: none;

        li {
          margin-bottom: $lh;

          a {
            @extend .clearfix;
            font: 500 16px $header;
            border: 0;
            color: rgba($base, .5);

            span {
              float: right;
              font: italic 14px $body;
              color: rgba($base, .2);
            }

            &:hover {
              background:none;
              color: rgba($base, .9);

              span {
                color: rgba($base, .4);
              }
            }
          }
        }
      }
    }

    section#dribbble {
      @extend .clearfix;
      width: grid-width(6);
      border-top: 1px solid rgba(#000, .1);
      padding-right: ($gutter/2)-(1);

      ul {
        list-style: none;

        li {
          width: grid-width(3);
          max-height: ($lh*14);
          margin: 0 ($gutter) ($lh) 0;
          float: left;
          overflow: hidden;
          @include box-shadow(0 0 0 1px rgba($base, .6), 0 0 4px rgba($base, .8));

          &:nth-child(2n) {
            margin-right: 0;
          }

          a {
            display: block;

            img {
              width: grid-width(3);
              display: block;
            }

            &:hover {
              background: none;
            }
          }
        }
      }
    }

    div.reading-and-something {
      @extend .clearfix;
      width: grid-width(6);
      border-top: 1px solid rgba(#000, .1);
      padding-right: ($gutter/2)-(1);

      section#air {
        display: table-cell;
        vertical-align: top;
        width: grid-width(3);
        min-height: $lh*10;
        margin-right: ($gutter)/2;
        border-right: 1px solid rgba(#000, .1);
        padding-right: ($gutter/2)-(1);

        p {
          img {
            @include box-shadow(0 0 0 1px rgba($base, .6), 0 0 4px rgba($base, .8));
          }
        }
      }

      section#readernaut {
        display: table-cell;
        vertical-align: top;
        width: grid-width(3);
        margin-left: -($gutter/2);
        padding-left: ($gutter/2);

        ul {
          list-style: none;

          li {
            max-width: grid-width(1)+(60);
            max-height: ($lh*9);
            margin: 0 8px ($lh/2) 0;
            float: left;
            overflow: hidden;
            @include box-shadow(0 0 0 1px rgba($base, .6), 0 0 4px rgba($base, .8));

            &:nth-child(even) {
              margin-right: 0;
            }

            a {
              display: block;
              overflow: hidden;

              img {
                max-width: grid-width(1)+(60);
              }
            }
          }
        }
      }
    }
  }

  #secondary-column {
    @extend .clearfix;
    display: table-cell;
    width: grid-width(6)+($gutter/2);
    vertical-align: top;
    margin: $lh*2 0 0;
    border-top: 1px solid rgba(#000, .1);

    section#tumblr {
      width: grid-width(3);
      display: table-cell;
      border-right: 1px solid rgba(#000, .1);
      padding-right: ($gutter/2);
      padding-left: $gutter/2;

      ul {
        list-style: none;

        li {
          margin-bottom: $lh;
        }
      }
    }

    div.music-and-stuff {
      display: table-cell;
      vertical-align: top;
      width: grid-width(3)+($gutter/2);

      section#lastfm {
        @extend .clearfix;
        padding-left: $gutter/2;

        .lastFMHeader {
          display: none;
        }

        ul {
          list-style: none;

          li {
            max-width: 89px;/*needs to change*/
            max-height: ($lh*4);
            margin: 0 10px ($lh/2) 0;/*right margin needs to change*/
            float: left;
            overflow: hidden;
            @include box-shadow(0 0 0 1px rgba($base, .6), 0 0 4px rgba($base, .8));

            &:nth-child(3n) {
              margin-right: 0;
            }

            a {
              display: block;
              overflow: hidden;

              img {
                max-width: 89px;
              }
            }
          }
        }
      }

      section#flickr {
        @extend .clearfix;
        border-top: 1px solid rgba(#000, .1);
        padding-left: $gutter/2;

        div {
          width: grid-width(1)+(60);
          max-height: ($lh*7);
          margin: 0 ($gutter/3) ($lh/2) 0;
          float: left;
          overflow: hidden;
          @include box-shadow(0 0 0 1px rgba($base, .6), 0 0 4px rgba($base, .8));

          &#flickr_badge_image2 {
            margin-right: 0;
          }

          a {
            display: block;
            overflow: hidden;
          }
        }
      }
    }

    section#twitter {
      clear: both;
      border-top: 1px solid rgba(#000, .1);

      div {
        @extend .clearfix;
        margin-left: $gutter/2;
        background: #fff;
        padding: 0 0 $lh $lh;
        @include box-shadow(10px 8px 0 8px #fff);

        h2 {
          margin-top: 0;
          padding-top: 30px;
        }

        ul {
          list-style: none;

          span {
            font: 500 24px $header;
            line-height: $lh*2;

            a {
              display: inline;
              border-bottom: 1px solid rgba($base, .2);
              margin-top: 0;
              font-size: 24px !important;
              color: rgba($base, .6);

              &:hover {
                color: rgba($base, .8);
              }
            }
          }

          a {
            display: block;
            margin-top: $lh;
            border-bottom: 0;
            font-size: 13px !important;
            color: rgba($base, .4);

            &:hover {
              background: 0;
              color: rgba($base, .6);
            }
          }
        }
      }
    }

    section#about {
      @extend .clearfix;
      border-top: 1px solid rgba(#000, .1);

      section#description {
        float: left;
        width: grid-width(3);
        padding-left: ($unit*2)+($gutter*2);
        background: transparent url('/images/index/kyle.png') 20px 30px no-repeat;

        p {
          margin-bottom: $lh;
        }
      }

      section#linkage {
        float: left;
        width: ($unit)+($gutter*.66);
        margin-left: ($gutter*.33);
        margin-top: $lh*3;

        ul {
          list-style: none;
        }
      }
    }
  }
}

