header.main {
  @extend .wrapper;
  @extend .clearfix;
  position: relative;
  width: grid-width(12);
  padding: 0;

  nav {
    @extend .clearfix;
    position: absolute;
    top: 0;
    width: grid-width(12);
    padding: $lh*.5 0;
    z-index: 999;

    h1 {
      display: block;
      float: left;
      font: 700 18px $header;
      font-style: normal;
      line-height: $lh*2;

      a {
        color: rgba($base, .7);
        border-bottom: 0;
        font-style: normal;

        &:hover {
          background: none;
          color: rgba($base, .9);
        }
      }
    }

    ul {
      list-style: none;
      float: right;

      li {
        float: left;
        margin-left: $gw-gutter*3;
        display: block;

        a {
          color: rgba($base, .7);
          font: 400 14px $header;
          line-height: $lh*2;
          border-bottom: 0;

          &:hover {
            color: rgba($base, .7);
            background: none;
          }
        }
      }
    }
  }
}
