header.main {
  @extend .wrapper;
  position: relative;

  nav {
    position: absolute;
    top: 10px;
    left: 20px;

    h1 {
      display: none;

      a {
        &:link, &:active, &:visited {
          border-bottom: 0;
          display: block;
          font: italic 900 48px $header;
          letter-spacing: -1px;
          line-height: $lh*2;

          span.first {
            display: block;
            padding-left: 23px;
          }
        }

        &:hover {
          opacity: .8;
          background: none;
        }
      }
    }
  }
}
