.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

ul.work {
  @extend .wrapper;
  margin-top: $lh*3;
  border-bottom: 1px solid rgba(#000, .1);

  > li {
    list-style: none;
    border-top: 1px solid rgba(#000, .1);

    div {
      &.work-image {
        display: table-cell;
        width: grid-width(8);
        padding: $lh 0;
        margin: 0;
        vertical-align: top;

        ul {
          margin: $lh/2 $lh/2 $lh/2 0;
          overflow: hidden;
          @include box-shadow(0 0 0 1px rgba($base, .6));

          li {
            display: block;
          }
        }
      }
      
      &.work-info {
        display: table-cell;
        width: grid-width(4);
        padding: $lh 0 $lh $gutter;
        line-height: $lh;

        h2 {
          font: 500 24px $header;
          margin-bottom: 0;
        }
        
        p {
          margin-top: $lh;

          &.link {
            margin-top: 0;
            a {
              color: rgba($base, .3);
              font-style: italic;
            }
          }
        }
        ul.tags {
          margin-top: $lh;

          li {
            list-style: none;
            color: rgba($base, .3);
            font-style: italic;
            display: inline;
          }
        }
      }
    }
  }
}
