/* CSS Reset
---------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

/* Mixins
---------------------------------------- */
/* Variables
---------------------------------------- */
/*fonts*/
/*grid*/
/*colors*/
/* Functions
---------------------------------------- */
/* Extended classes
---------------------------------------- */
/* Clearfix hack I love you */
.clearfix:after, header.main:after, footer.main:after, div.main-content:after, div.main-content #primary-column:after, div.main-content #primary-column section#posts ul:after, div.main-content #primary-column section#posts ul li a:after, div.main-content #primary-column section#dribbble:after, div.main-content #primary-column div.reading-and-something:after, div.main-content #secondary-column:after, div.main-content #secondary-column div.music-and-stuff section#lastfm:after, div.main-content #secondary-column div.music-and-stuff section#flickr:after, div.main-content #secondary-column section#twitter div:after, div.main-content #secondary-column section#about:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix, header.main, footer.main, div.main-content, div.main-content #primary-column, div.main-content #primary-column section#posts ul, div.main-content #primary-column section#posts ul li a, div.main-content #primary-column section#dribbble, div.main-content #primary-column div.reading-and-something, div.main-content #secondary-column, div.main-content #secondary-column div.music-and-stuff section#lastfm, div.main-content #secondary-column div.music-and-stuff section#flickr, div.main-content #secondary-column section#twitter div, div.main-content #secondary-column section#about {
  display: inline-block; }

/* Hide from IE Mac \*/
.clearfix, header.main, footer.main, div.main-content, div.main-content #primary-column, div.main-content #primary-column section#posts ul, div.main-content #primary-column section#posts ul li a, div.main-content #primary-column section#dribbble, div.main-content #primary-column div.reading-and-something, div.main-content #secondary-column, div.main-content #secondary-column div.music-and-stuff section#lastfm, div.main-content #secondary-column div.music-and-stuff section#flickr, div.main-content #secondary-column section#twitter div, div.main-content #secondary-column section#about {
  display: block; }

/* End hide from IE Mac */
.wrapper, header.main, footer.main, #main-header, div.main-content {
  width: 1224px;
  text-align: left;
  margin: 0 auto; }

/* Base styles
---------------------------------------- */
body {
  text-align: center;
  font: 14px "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Georgia", serif;
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
  background: white url(/images/bg.png) 0 0 repeat; }

h2 {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 10px; }

a:link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 20px -1px; }
a:active {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic; }
a:visited {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic; }
a:hover {
  color: rgba(0, 0, 0, 0.9);
  background: rgba(0, 0, 0, 0.06);
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

header.main {
  background: rgba(136, 200, 129, 0.9);
  border: 1px solid #77c06f;
  border-top: 0;
  padding: 10px 24px;
  width: 1224px;
  -webkit-box-shadow: inset 0 -1px 0 #badfb6, 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px 0 #badfb6, 0 1px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 -1px 0 #badfb6, 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 0 #badfb6, 0 1px 3px rgba(0, 0, 0, 0.2); }
  header.main nav h1 {
    float: left;
    display: block;
    font: italic 800 18px "ronnia-1", "ronnia-2", "Gill Sans", Helvetica, sans-serif;
    line-height: 40px; }
    header.main nav h1 a {
      color: #fff;
      border-bottom: 0; }
      header.main nav h1 a:hover {
        background: none;
        color: #2b5726;
        text-shadow: 0 1px 0 #aad7a5; }
  header.main nav ul {
    list-style: none;
    float: right; }
    header.main nav ul li {
      float: left;
      margin-left: 72px;
      display: block; }
      header.main nav ul li a {
        color: #fff;
        font: 400 14px "ronnia-1", "ronnia-2", "Gill Sans", Helvetica, sans-serif;
        line-height: 40px;
        border-bottom: 0; }
        header.main nav ul li a:hover {
          background: none;
          color: #2b5726;
          text-shadow: 0 1px 0 #aad7a5; }

footer.main {
  margin: 80px auto; }
  footer.main p {
    float: left; }
  footer.main ul {
    float: right;
    list-style: none; }
    footer.main ul li {
      float: left;
      padding-right: 12px; }
      footer.main ul li a {
        display: inline-block;
        margin-right: 12px; }

body.home {
  background: url("/images/index/astro.png") 45% 10px no-repeat, url(/images/bg.png) 0 0 repeat; }
  body.home h2 a {
    border-bottom: none; }
    body.home h2 a span {
      display: none;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    body.home h2 a:hover {
      background: none; }
      body.home h2 a:hover span {
        display: inline;
        color: rgba(0, 0, 0, 0.3);
        font-weight: 400; }

#main-header h1 {
  font: 200 50px "ronnia-1", "ronnia-2", "Gill Sans", Helvetica, sans-serif;
  line-height: 52px;
  color: rgba(0, 0, 0, 0.3);
  padding: 110px 0 180px 720px;
  display: block;
  letter-spacing: -1px; }
  #main-header h1 strong {
    font-weight: 900;
    display: block;
    color: rgba(0, 0, 0, 0.4); }
  #main-header h1 span {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    display: block;
    letter-spacing: 1px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.2); }

div.main-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  div.main-content #primary-column {
    margin-top: 40px;
    float: left;
    width: 611px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
    div.main-content #primary-column section#posts {
      width: 600px;
      padding-right: 11px;
      background: #fff;
      padding-top: 30px;
      -webkit-box-shadow: -8px 5px 0 5px white;
      -moz-box-shadow: -8px 5px 0 5px white;
      -o-box-shadow: -8px 5px 0 5px white;
      box-shadow: -8px 5px 0 5px white; }
      div.main-content #primary-column section#posts h2 {
        margin-top: 0; }
      div.main-content #primary-column section#posts ul {
        list-style: none; }
        div.main-content #primary-column section#posts ul li {
          margin-bottom: 20px; }
          div.main-content #primary-column section#posts ul li a {
            font: 500 16px "ronnia-1", "ronnia-2", "Gill Sans", Helvetica, sans-serif;
            border: 0;
            color: rgba(0, 0, 0, 0.5); }
            div.main-content #primary-column section#posts ul li a span {
              float: right;
              font: italic 14px "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Georgia", serif;
              color: rgba(0, 0, 0, 0.2); }
            div.main-content #primary-column section#posts ul li a:hover {
              background: none;
              color: rgba(0, 0, 0, 0.9); }
              div.main-content #primary-column section#posts ul li a:hover span {
                color: rgba(0, 0, 0, 0.4); }
    div.main-content #primary-column section#dribbble {
      width: 600px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding-right: 11px; }
      div.main-content #primary-column section#dribbble ul {
        list-style: none; }
        div.main-content #primary-column section#dribbble ul li {
          width: 288px;
          max-height: 280px;
          margin: 0 24px 20px 0;
          float: left;
          overflow: hidden;
          -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8);
          -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8);
          -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8); }
          div.main-content #primary-column section#dribbble ul li:nth-child(2n) {
            margin-right: 0; }
          div.main-content #primary-column section#dribbble ul li a {
            display: block; }
            div.main-content #primary-column section#dribbble ul li a img {
              width: 288px;
              display: block; }
            div.main-content #primary-column section#dribbble ul li a:hover {
              background: none; }
    div.main-content #primary-column div.reading-and-something {
      width: 600px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding-right: 11px; }
      div.main-content #primary-column div.reading-and-something section#air {
        float: left;
        width: 288px;
        min-height: 200px;
        margin-right: 12px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        padding-right: 11px; }
      div.main-content #primary-column div.reading-and-something section#readernaut {
        float: left;
        width: 288px;
        margin-left: -13px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        padding-left: 11px; }
        div.main-content #primary-column div.reading-and-something section#readernaut ul {
          list-style: none; }
          div.main-content #primary-column div.reading-and-something section#readernaut ul li {
            max-width: 140px;
            max-height: 180px;
            margin: 0 8px 10px 0;
            float: left;
            overflow: hidden;
            -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8);
            -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8);
            -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8); }
            div.main-content #primary-column div.reading-and-something section#readernaut ul li:nth-child(even) {
              margin-right: 0; }
            div.main-content #primary-column div.reading-and-something section#readernaut ul li a {
              display: block;
              overflow: hidden; }
              div.main-content #primary-column div.reading-and-something section#readernaut ul li a img {
                max-width: 140px; }
  div.main-content #secondary-column {
    float: left;
    width: 612px;
    margin: 40px 0 0 -1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 0;
    border-bottom: 0; }
    div.main-content #secondary-column section#tumblr {
      width: 288px;
      float: left;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      padding-right: 11px;
      padding-left: 12px; }
      div.main-content #secondary-column section#tumblr ul {
        list-style: none; }
        div.main-content #secondary-column section#tumblr ul li {
          margin-bottom: 20px; }
    div.main-content #secondary-column div.music-and-stuff {
      float: left;
      width: 300px; }
      div.main-content #secondary-column div.music-and-stuff section#lastfm {
        padding-left: 12px; }
        div.main-content #secondary-column div.music-and-stuff section#lastfm .lastFMHeader {
          display: none; }
        div.main-content #secondary-column div.music-and-stuff section#lastfm ul {
          list-style: none; }
          div.main-content #secondary-column div.music-and-stuff section#lastfm ul li {
            max-width: 89px;
            /*needs to change*/
            max-height: 80px;
            margin: 0 10px 10px 0;
            /*right margin needs to change*/
            float: left;
            overflow: hidden;
            -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8);
            -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8);
            -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8); }
            div.main-content #secondary-column div.music-and-stuff section#lastfm ul li:nth-child(3n) {
              margin-right: 0; }
            div.main-content #secondary-column div.music-and-stuff section#lastfm ul li a {
              display: block;
              overflow: hidden; }
              div.main-content #secondary-column div.music-and-stuff section#lastfm ul li a img {
                max-width: 89px; }
      div.main-content #secondary-column div.music-and-stuff section#flickr {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-left: 12px; }
        div.main-content #secondary-column div.music-and-stuff section#flickr div {
          width: 140px;
          max-height: 140px;
          margin: 0 8px 10px 0;
          float: left;
          overflow: hidden;
          -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8);
          -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8);
          -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8); }
          div.main-content #secondary-column div.music-and-stuff section#flickr div:nth-child(even) {
            margin-right: 0; }
          div.main-content #secondary-column div.music-and-stuff section#flickr div a {
            display: block;
            overflow: hidden; }
    div.main-content #secondary-column section#twitter {
      clear: both;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
      div.main-content #secondary-column section#twitter div {
        margin-left: 12px;
        background: #fff;
        padding: 0 0 20px 20px;
        -webkit-box-shadow: 10px 8px 0 8px white;
        -moz-box-shadow: 10px 8px 0 8px white;
        -o-box-shadow: 10px 8px 0 8px white;
        box-shadow: 10px 8px 0 8px white; }
        div.main-content #secondary-column section#twitter div h2 {
          margin-top: 0;
          padding-top: 30px; }
        div.main-content #secondary-column section#twitter div ul {
          list-style: none; }
          div.main-content #secondary-column section#twitter div ul span {
            font: 500 24px "ronnia-1", "ronnia-2", "Gill Sans", Helvetica, sans-serif;
            line-height: 40px; }
            div.main-content #secondary-column section#twitter div ul span a {
              display: inline;
              border-bottom: 1px solid rgba(0, 0, 0, 0.2);
              margin-top: 0;
              font-size: 24px !important;
              color: rgba(0, 0, 0, 0.6); }
              div.main-content #secondary-column section#twitter div ul span a:hover {
                color: rgba(0, 0, 0, 0.8); }
          div.main-content #secondary-column section#twitter div ul a {
            display: block;
            margin-top: 20px;
            border-bottom: 0;
            font-size: 13px !important;
            color: rgba(0, 0, 0, 0.4); }
            div.main-content #secondary-column section#twitter div ul a:hover {
              background: 0;
              color: rgba(0, 0, 0, 0.6); }
    div.main-content #secondary-column section#about {
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
      div.main-content #secondary-column section#about section#description {
        float: left;
        width: 288px;
        padding-left: 208px;
        background: transparent url("/images/index/kyle.png") 20px 30px no-repeat; }
        div.main-content #secondary-column section#about section#description p {
          margin-bottom: 20px; }
      div.main-content #secondary-column section#about section#linkage {
        float: left;
        width: 95.84px;
        margin-left: 7.92px;
        margin-top: 60px; }
        div.main-content #secondary-column section#about section#linkage ul {
          list-style: none; }
