@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, red 0, red 5.26316%, rgba(0, 0, 0, 0) 5.26316%, rgba(0, 0, 0, 0) 10.52632%, red 10.52632%, red 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 21.05263%, red 21.05263%, red 26.31579%, rgba(0, 0, 0, 0) 26.31579%, rgba(0, 0, 0, 0) 31.57895%, red 31.57895%, red 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 42.10526%, red 42.10526%, red 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, red 52.63158%, red 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 63.15789%, red 63.15789%, red 68.42105%, rgba(0, 0, 0, 0) 68.42105%, rgba(0, 0, 0, 0) 73.68421%, red 73.68421%, red 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 84.21053%, red 84.21053%, red 89.47368%, rgba(0, 0, 0, 0) 89.47368%, rgba(0, 0, 0, 0) 94.73684%, red 94.73684%, red 100.0%, rgba(0, 0, 0, 0) 100.0%));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 5.26316%, rgba(0, 0, 0, 0) 5.26316%, rgba(0, 0, 0, 0) 10.52632%, red 10.52632%, red 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 21.05263%, red 21.05263%, red 26.31579%, rgba(0, 0, 0, 0) 26.31579%, rgba(0, 0, 0, 0) 31.57895%, red 31.57895%, red 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 42.10526%, red 42.10526%, red 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, red 52.63158%, red 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 63.15789%, red 63.15789%, red 68.42105%, rgba(0, 0, 0, 0) 68.42105%, rgba(0, 0, 0, 0) 73.68421%, red 73.68421%, red 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 84.21053%, red 84.21053%, red 89.47368%, rgba(0, 0, 0, 0) 89.47368%, rgba(0, 0, 0, 0) 94.73684%, red 94.73684%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 5.26316%, rgba(0, 0, 0, 0) 5.26316%, rgba(0, 0, 0, 0) 10.52632%, red 10.52632%, red 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 21.05263%, red 21.05263%, red 26.31579%, rgba(0, 0, 0, 0) 26.31579%, rgba(0, 0, 0, 0) 31.57895%, red 31.57895%, red 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 42.10526%, red 42.10526%, red 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, red 52.63158%, red 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 63.15789%, red 63.15789%, red 68.42105%, rgba(0, 0, 0, 0) 68.42105%, rgba(0, 0, 0, 0) 73.68421%, red 73.68421%, red 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 84.21053%, red 84.21053%, red 89.47368%, rgba(0, 0, 0, 0) 89.47368%, rgba(0, 0, 0, 0) 94.73684%, red 94.73684%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 5.26316%, rgba(0, 0, 0, 0) 5.26316%, rgba(0, 0, 0, 0) 10.52632%, red 10.52632%, red 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 21.05263%, red 21.05263%, red 26.31579%, rgba(0, 0, 0, 0) 26.31579%, rgba(0, 0, 0, 0) 31.57895%, red 31.57895%, red 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 42.10526%, red 42.10526%, red 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, red 52.63158%, red 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 63.15789%, red 63.15789%, red 68.42105%, rgba(0, 0, 0, 0) 68.42105%, rgba(0, 0, 0, 0) 73.68421%, red 73.68421%, red 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 84.21053%, red 84.21053%, red 89.47368%, rgba(0, 0, 0, 0) 89.47368%, rgba(0, 0, 0, 0) 94.73684%, red 94.73684%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 5.26316%, rgba(0, 0, 0, 0) 5.26316%, rgba(0, 0, 0, 0) 10.52632%, red 10.52632%, red 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 21.05263%, red 21.05263%, red 26.31579%, rgba(0, 0, 0, 0) 26.31579%, rgba(0, 0, 0, 0) 31.57895%, red 31.57895%, red 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 42.10526%, red 42.10526%, red 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, red 52.63158%, red 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 63.15789%, red 63.15789%, red 68.42105%, rgba(0, 0, 0, 0) 68.42105%, rgba(0, 0, 0, 0) 73.68421%, red 73.68421%, red 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 84.21053%, red 84.21053%, red 89.47368%, rgba(0, 0, 0, 0) 89.47368%, rgba(0, 0, 0, 0) 94.73684%, red 94.73684%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 5.26316%, rgba(0, 0, 0, 0) 5.26316%, rgba(0, 0, 0, 0) 10.52632%, red 10.52632%, red 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 21.05263%, red 21.05263%, red 26.31579%, rgba(0, 0, 0, 0) 26.31579%, rgba(0, 0, 0, 0) 31.57895%, red 31.57895%, red 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 42.10526%, red 42.10526%, red 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, red 52.63158%, red 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 63.15789%, red 63.15789%, red 68.42105%, rgba(0, 0, 0, 0) 68.42105%, rgba(0, 0, 0, 0) 73.68421%, red 73.68421%, red 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 84.21053%, red 84.21053%, red 89.47368%, rgba(0, 0, 0, 0) 89.47368%, rgba(0, 0, 0, 0) 94.73684%, red 94.73684%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  content: '';
  display: inline-block;
  height: 100%;
  max-width: 75.99879em;
  position: fixed;
  width: 100%;
  z-index: -1;
  left: 0;
  right: 0;
  margin: 0 auto; }

/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-o-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

/* Base styles
---------------------------------------- */
body {
  color: #626262;
  font: 1em "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", Tisa, Georgia;
  line-height: 1.618em; }

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  -ms-transition: all 0.15s ease-out 0;
  -o-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  border-bottom: 1px solid transparent; }
  a:hover {
    border-bottom-color: #afafaf; }

body {
  background: #403e36;
  background-color: #403e36;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #403e36), color-stop(100%, #24231f));
  background-image: -webkit-linear-gradient(top, #403e36, #24231f);
  background-image: -moz-linear-gradient(top, #403e36, #24231f);
  background-image: -ms-linear-gradient(top, #403e36, #24231f);
  background-image: -o-linear-gradient(top, #403e36, #24231f);
  background-image: linear-gradient(top, #403e36, #24231f);
  min-height: 100%; }
  body > section {
    zoom: 1;
    max-width: 75.99879em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    margin-top: 2.61792em;
    -webkit-box-shadow: 0 0 10px #23231e;
    box-shadow: 0 0 10px #23231e; }
    body > section:before, body > section:after {
      content: "";
      display: table; }
    body > section:after {
      clear: both; }
    body > section > header {
      background: #999999 url("/images/header-bg.jpg") center top no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      text-align: center;
      padding: 8.09em 16.18em;
      -webkit-font-smoothing: antialiased; }
      body > section > header h1 {
        color: #fff;
        font: 800 4.2358em "etica-display-1", "etica-display-2", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        margin: 0; }
      body > section > header h2 {
        font-size: 1.125em;
        font-weight: bold;
        color: #ddd;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
        margin: 0.809em 0 0 0; }
        body > section > header h2 a {
          color: #ddd;
          font-style: italic; }
          body > section > header h2 a:hover {
            color: #fff; }
    body > section > section {
      zoom: 1;
      padding: 3.236em 2.427em;
      -webkit-font-smoothing: antialiased; }
      body > section > section:before, body > section > section:after {
        content: "";
        display: table; }
      body > section > section:after {
        clear: both; }
      body > section > section h2 {
        text-transform: uppercase;
        font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", Tisa, Georgia;
        font-size: 1em;
        margin: 0 0 1.618em; }
        body > section > section h2 a {
          color: rgba(255, 255, 255, 0.4); }
      body > section > section ul {
        padding-left: 0;
        list-style: none; }
      body > section > section.top {
        background: #664b8b;
        background-color: #664b8b;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #664b8b), color-stop(100%, #5f4681));
        background-image: -webkit-linear-gradient(top, #664b8b, #5f4681);
        background-image: -moz-linear-gradient(top, #664b8b, #5f4681);
        background-image: -ms-linear-gradient(top, #664b8b, #5f4681);
        background-image: -o-linear-gradient(top, #664b8b, #5f4681);
        background-image: linear-gradient(top, #664b8b, #5f4681);
        -webkit-box-shadow: inset 0 1px 0 #72549c;
        box-shadow: inset 0 1px 0 #72549c;
        color: #fff; }
        body > section > section.top .blog {
          display: block;
          float: left;
          margin-right: 5.26316%;
          width: 57.89474%; }
          body > section > section.top .blog:last-child {
            margin-right: 0; }
          body > section > section.top .blog li a {
            color: #fff;
            font-size: 3em;
            line-height: 1.618em;
            font-family: "etica-display-1", "etica-display-2", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
            font-weight: 100; }
            body > section > section.top .blog li a:hover, body > section > section.top .blog li a:focus {
              color: rgba(255, 255, 255, 0.6); }
        body > section > section.top .tumblr {
          display: block;
          float: left;
          margin-right: 5.26316%;
          width: 36.84211%;
          margin-right: 0; }
          body > section > section.top .tumblr:last-child {
            margin-right: 0; }
          body > section > section.top .tumblr li {
            margin-bottom: 0.809em; }
            body > section > section.top .tumblr li a {
              color: rgba(255, 255, 255, 0.7); }
      body > section > section.middle {
        background: #8155bf;
        background-color: #8155bf;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8155bf), color-stop(100%, #794abb));
        background-image: -webkit-linear-gradient(top, #8155bf, #794abb);
        background-image: -moz-linear-gradient(top, #8155bf, #794abb);
        background-image: -ms-linear-gradient(top, #8155bf, #794abb);
        background-image: -o-linear-gradient(top, #8155bf, #794abb);
        background-image: linear-gradient(top, #8155bf, #794abb);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: inset 0 1px 0 #8f68c6;
        box-shadow: inset 0 1px 0 #8f68c6;
        border-bottom: 1px solid #50307e; }
        body > section > section.middle a:hover, body > section > section.middle a:focus {
          border-bottom: none; }
        body > section > section.middle #dribbble {
          display: block;
          float: left;
          margin-right: 5.26316%;
          width: 36.84211%;
          margin-right: 5.26316%; }
          body > section > section.middle #dribbble:last-child {
            margin-right: 0; }
          body > section > section.middle #dribbble img {
            width: 100%;
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
        body > section > section.middle .rdio {
          display: block;
          float: left;
          margin-right: 5.26316%;
          width: 26.31579%;
          margin-right: 5.26316%; }
          body > section > section.middle .rdio:last-child {
            margin-right: 0; }
          body > section > section.middle .rdio .lastFMHeader {
            display: none; }
          body > section > section.middle .rdio ul {
            zoom: 1; }
            body > section > section.middle .rdio ul:before, body > section > section.middle .rdio ul:after {
              content: "";
              display: table; }
            body > section > section.middle .rdio ul:after {
              clear: both; }
            body > section > section.middle .rdio ul li {
              width: 47%;
              margin-right: 6%;
              margin-bottom: 0.809em;
              float: left; }
              body > section > section.middle .rdio ul li:nth-child(2n) {
                margin-right: 0; }
              body > section > section.middle .rdio ul li img {
                width: 100%;
                -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
        body > section > section.middle .readernaut {
          display: block;
          float: left;
          margin-right: 5.26316%;
          width: 26.31579%; }
          body > section > section.middle .readernaut:last-child {
            margin-right: 0; }
          body > section > section.middle .readernaut img {
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            max-width: 100%; }
      body > section > section.twitter h2 a {
        color: rgba(0, 0, 0, 0.3); }
      body > section > section.twitter li span {
        font-size: 3em;
        font-weight: 100;
        font-family: "etica-display-1", "etica-display-2", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
        line-height: 1.2em; }
        body > section > section.twitter li span a {
          color: rgba(0, 0, 0, 0.4); }
          body > section > section.twitter li span a:hover {
            color: rgba(0, 0, 0, 0.8); }
      body > section > section.twitter li > a {
        display: none; }
      body > section > section.github {
        background: #8c4a8a;
        background-color: #8c4a8a;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8c4a8a), color-stop(100%, #7b417a));
        background-image: -webkit-linear-gradient(top, #8c4a8a, #7b417a);
        background-image: -moz-linear-gradient(top, #8c4a8a, #7b417a);
        background-image: -ms-linear-gradient(top, #8c4a8a, #7b417a);
        background-image: -o-linear-gradient(top, #8c4a8a, #7b417a);
        background-image: linear-gradient(top, #8c4a8a, #7b417a);
        border-top: 1px solid #6b3869;
        text-align: center; }
        body > section > section.github h2 {
          line-height: 1em; }
          body > section > section.github h2:after {
            content: "•";
            display: inline-block;
            vertical-align: baseline;
            zoom: 1;
            *display: inline;
            *vertical-align: auto;
            padding: 1.618em;
            color: rgba(255, 255, 255, 0.6); }
        body > section > section.github h2, body > section > section.github ul, body > section > section.github li {
          display: inline-block;
          vertical-align: baseline;
          zoom: 1;
          *display: inline;
          *vertical-align: auto;
          margin: 0; }
        body > section > section.github li {
          margin-right: 1.618em; }
  body > footer {
    zoom: 1;
    max-width: 75.99879em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #5c594d;
    padding: 3.236em;
    text-shadow: 0 1px 0 #24231f; }
    body > footer:before, body > footer:after {
      content: "";
      display: table; }
    body > footer:after {
      clear: both; }
    body > footer a {
      color: #5c594d; }
      body > footer a:hover, body > footer a:focus {
        color: #aaa; }

body.writing > section ul {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  body.writing > section ul li {
    zoom: 1;
    padding: 1.618em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    -webkit-animation-name: fade-in-down;
    -moz-animation-name: fade-in-down;
    animation-name: fade-in-down;
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    body.writing > section ul li:before, body.writing > section ul li:after {
      content: "";
      display: table; }
    body.writing > section ul li:after {
      clear: both; }
    body.writing > section ul li:nth-child(1) {
      -webkit-animation-delay: 0.25s;
      -moz-animation-delay: 0.25s;
      animation-delay: 0.25s; }
    body.writing > section ul li:nth-child(2) {
      -webkit-animation-delay: 0.5s;
      -moz-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    body.writing > section ul li:nth-child(3) {
      -webkit-animation-delay: 0.75s;
      -moz-animation-delay: 0.75s;
      animation-delay: 0.75s; }
    body.writing > section ul li h2 {
      font: 300 2.61792em "etica-display-1", "etica-display-2", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
      color: #000;
      display: block;
      float: left;
      margin-right: 5.26316%;
      width: 57.89474%;
      margin: 0; }
      body.writing > section ul li h2:last-child {
        margin-right: 0; }
    body.writing > section ul li p {
      color: rgba(98, 98, 98, 0.8);
      margin: 0.375em 0 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      float: left;
      margin-right: 5.26316%;
      width: 15.78947%; }
      body.writing > section ul li p:last-child {
        margin-right: 0; }
      body.writing > section ul li p.date {
        float: right;
        padding-right: 5.26316%; }
      body.writing > section ul li p.type {
        text-transform: capitalize;
        padding-left: 5.26316%;
        margin-right: 5.26316%; }
    body.writing > section ul li:hover {
      background: #664b8b;
      color: #fff; }
      body.writing > section ul li:hover h2, body.writing > section ul li:hover p {
        color: #fff; }
body.writing > section footer {
  padding: 0;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; }
  body.writing > section footer p {
    width: 100%;
    margin-left: 0;
    text-align: center; }
    body.writing > section footer p a {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      margin: 1.618em;
      color: #626262; }
