.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  @media (min-width: $screen--mid) {
    display: flex;
  }
}

.justify-between {
  justify-content: space-between;
}

.grid {
  @media (min-width: $screen--mid) {
    gap: var(--spacing);
    display: grid;
  }
}

.masonry {
  @media (min-width: $screen--mid) {
  column-count: 2;
  gap: var(--spacing);
}
}

.break-inside-avoid {
  break-inside: avoid-column;
}