.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  @media (min-width: $screen--mid) {
    display: flex;
  }
}

.justify-between {
  justify-content: space-between;
}

.masonry {
  @media (min-width: $screen--mid) {
    column-count: 2;
    gap: var(--spacing);
  }
}

.break-inside-avoid {
  break-inside: avoid-column;
}

.quote {
  display: flex;

  .icons {
    margin-right: var(--spacing);
  }
}