.container {
  max-width: 1700px;
  margin: 0 auto;
}

.grid {
  @media (min-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: var(--spacing--gap);
    display: grid;
  }
}

.grid__end {
  grid-column-start: 2;
}
