.grid {
  @media (min-width: $breakpoint--small) {
    grid-template-columns: repeat(5, 1fr);
    column-gap: var(--spacing--gap);
    display: grid;
  }

  @media (min-width: $breakpoint--medium) {
    grid-template-columns: repeat(9, 1fr);
    column-gap: var(--spacing--gap);
    display: grid;
  }
}

.span-two {
  grid-column-end: span 2;
}

.span-three {
  grid-column-end: span 3;
}

.span-four {
  grid-column-end: span 4;
}

.span-five {
  grid-column-end: span 5;
}
