
.two-one {
  grid-template-columns: 2fr 1fr;
}

.one-one {
  grid-template-columns: 1fr 1fr;
}

.three-one {
  grid-template-columns: 3fr 1fr;
}

.three {
  grid-template-columns: 1fr 1fr 1fr;
}

.four {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.span-2 {
  grid-column: span 2;
}

.row-span-2 {
  grid-row: span 2;
}

.row-span-3 {
  grid-row: span 3;
}