.disc {
  list-style-type: disc;

  ul {
    margin-left: var(--spacing--small);
    list-style-type: circle;
  }
}

.circle {
  list-style-type: circle;

  ul {
    margin-left: var(--spacing--small);
    list-style-type: circle;
  }
}

.numbered {
  list-style-type: decimal;
  margin: var(--spacing--small) 0;
}