.mb--none {
  margin-bottom: 0;
}

.mb--xsmall {
  margin-bottom: var(--spacing--xsmall);
}

.mb--small {
  margin-bottom: var(--spacing--small);
}

.mb--base {
  margin-bottom: var(--spacing);
}

.mb--base-mobile {
  @media (max-width: $screen--small) {
    margin-bottom: var(--spacing);
  }
}

.mb--large {
  margin-bottom: var(--spacing--large);
}

.mb--xlarge {
  margin-bottom: var(--spacing--xlarge);
}

.mt--base {
  margin-top: var(--spacing);
}

.mt--large {
  margin-top: var(--spacing--large);
}

.mt--xl {
  margin-top: var(--spacing);

  @media (min-width: $screen--small) {
    margin-top: var(--spacing--xlarge);
  }
}

.mt--xxl {
  @media (min-width: $screen--small) {
    margin-top: 8rem;
  }
}

.pt--large {
  padding-top: var(--spacing--large);
}
.pb--base {
  padding-bottom: var(--spacing);
}
.pb--large {
  padding-bottom: var(--spacing--large);
}

.pr--base {
  padding-right: var(--spacing);
}