.mb--none {
  margin-bottom: 0;
}

.mb--small {
  margin-bottom: var(--spacing--small);
}

.mb--base {
  margin-bottom: var(--spacing);
}

.mb--large {
  margin-bottom: var(--spacing--large);
}

.mb--xlarge {
  margin-bottom: var(--spacing--xlarge);
}

.mt--base {
  margin-top: var(--spacing);
}

.mt--large {
  margin-top: var(--spacing--large);
}

.mt--xxl {
  @media (min-width: $screen--small) {
    margin-top: 8rem;
  }
}