body {
  background: $background-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  color: $secondary-color;
  line-height: $body-line-height;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  font-size: em(20);
  line-height: lh(1.25);
  font-weight: bold;
  margin: 0;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $primary-color;
  @include transition();

  &:hover {
    color: $secondary-color;
  }
}

header {
  color: $background-color;
  background-color: #020202;
  background-image: url(http://labs.kylefiedler.com/tumblr/images/image-small.jpg);
  background-position: 40% 60%;
  background-repeat: no-repeat;
  @include background-size(cover);
  padding: lh(2) 0 lh(2);

  @media screen and (min-width:29.1875em) and (max-width:58.25em) {
    background-image: url(http://labs.kylefiedler.com/tumblr/images/image-medium.jpg);
  }

  @media screen and (min-width:58.251em) {
    background-image: url(http://labs.kylefiedler.com/tumblr/images/image-high.jpg);
    @include background-size(80%);
  }

  div {
    @include outer-container;
    text-align: center;
  }

  h1 {
    text-indent: -999999em;
    font-size: 1em;
    display: block;
    background-image: url('http://labs.kylefiedler.com/tumblr/images/kylefiedler.svg');
    @include background-size(cover);
    background-position: center;
    background-repeat: no-repeat;
    height: em(140);
    width: em(220);
    text-align: center;
    margin: 0 auto;
  }

  ul {
    list-style: none;
    padding-left: 0;

    &:before, &:after {
      display: block;
      content: "";
      height: 1px;
      width: 100%;
      @include linear-gradient(left, rgba($background-color, 0), rgba($background-color, .8), rgba($background-color, 0));
      margin: lh(1.5) 0;
    }
  }

  li {
    @include inline-block;
    margin-right: 1em;

    a {
      text-indent: -999999em;
      display: block;
      width: 2em;
      height: 2em;
      @include background-size(cover);
      background-position: 0 0;
      background-repeat: no-repeat;
      opacity: .3;

      &:hover {
        opacity: .9;
      }
    }

    &.dribbble a {
      background-image: url('http://labs.kylefiedler.com/tumblr/images/dribbble.svg');
    }

    &.github a {
      background-image: url('http://labs.kylefiedler.com/tumblr/images/github.svg');
    }

    &.twitter a {
      background-image: url('http://labs.kylefiedler.com/tumblr/images/twitter.svg');
    }

    &.rdio a {
      background-image: url('http://labs.kylefiedler.com/tumblr/images/rdio.svg');
    }

    &.readernaut a {
      background-image: url('http://labs.kylefiedler.com/tumblr/images/readernaut.svg');
    }

    &.email a {
      background-image: url('http://labs.kylefiedler.com/tumblr/images/email.svg');
    }

    &.gimmebar a {
      background-image: url('http://labs.kylefiedler.com/tumblr/images/gimme.svg');
    }

    &.quora a {
      background-image: url('http://labs.kylefiedler.com/tumblr/images/quora.svg');
    }
  }

  p {
    @include span-columns(4);
    @include shift(1);

    a {
      color: rgba($background-color, .8);

      &:hover, &:active {
        color: rgba($background-color, 1);
      }
    }
  }
}

section {
  @include outer-container();
  margin-top: lh(3);
  // padding: lh();

  > ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: lh(2);
      @include row;

      &.link aside {
        @extend .icon-compass;
      }

      &.quote {
        blockquote {
          color: $primary-color;
          font-size: em(20);
          font-weight: bold;
          line-height: lh(1.25);
          margin: 0;

          p:last-child {
            margin-bottom: 0;
          }
        }
        aside {
          @extend .icon-quote-right;
        }
      }

      &.image {
        img {
          max-width: 100%;
          margin-bottom: lh();
        }

        aside {
          @extend .icon-picture;
        }
      }

      &.text {
        h2 {
          margin-bottom: lh();
        }

        aside {
          @extend .icon-doc-text;
        }
      }

      &.audio {
        aside {
          @extend .icon-music-alt;
        }
      }

      &.video {
        .video-container {
          position: relative;
          padding-bottom: 56.25%;
          padding-top: 30px;
          height: 0;
          overflow: hidden;
          margin-bottom: lh();
        }

        .video-container iframe,  
        .video-container object,  
        .video-container embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        aside {
          @extend .icon-video;
        }
      }
    }
  }


  cite {
    &:before {
      content: "—";
      margin-right: lh();
      @include inline-block;
    }
  }

  aside {
    text-align: right;
    @include span-columns(1);
    @extend .icon;
    color: $primary-color;

    a {
      color: lighten($secondary-color, 20%);
      font-size: em(12);

      &:hover {
        color: $primary-color;
      }
    }
  }

  article {
    @include span-columns(5);
  }
}
