@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("http://labs.kylefiedler.com/tumblr/font/fontello.eot");
  src: url("http://labs.kylefiedler.com/tumblr/font/fontello.eot?#iefix") format('embedded-opentype'), url("http://labs.kylefiedler.com/tumblr/font/fontello.woff") format('woff'), url("http://labs.kylefiedler.com/tumblr/font/fontello.ttf") format('truetype'), url("http://labs.kylefiedler.com/tumblr/font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.7;
}

.icon-quote-right:before { content: '\275e'; } /* '❞' */
.icon-ccw:before { content: '\27f2'; } /* '⟲' */
.icon-chat:before { content: '\e720'; } /* '' */
.icon-compass:before { content: '\e728'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */
.icon-video:before { content: '🎬'; } /* '\1f3ac' */
.icon-music-alt:before { content: '🎵'; } /* '\1f3b5' */
.icon-doc-text:before { content: '📄'; } /* '\1f4c4' */
