    <footer class="main">
      <ul class="social">
        <li>
          <a href="http://twitter.com/kylefiedler">
            {% include social/twitter.svg %}
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href="http://github.com/kylefiedler">
            {% include social/github.svg %}
            <span>GitHub</span>
          </a>
        </li>
        <li>
          <a href="http://dribbble.com/kylefiedler">
            {% include social/dribbble.svg %}
            <span>Dribbble</span>
          </a>
        </li>
        <li>
          <a href="http://ephemera.kylefiedler.com">
            {% include social/tumblr.svg %}
            <span>Tumblr</span>
          </a>
        </li>
        <li>
          <a href="mailto:kyle+hello@kylefiedler.com">
            {% include social/email.svg %}
            <span>Email</span>
          </a>
        </li>
      </ul>
    </footer>

  <script type="text/javascript" src="{{ site.baseurl }}{% asset_path application.js %}"></script>
  </body>
</html>
