---
layout: default
class: work
---

<div class="header--primary">
  <h1>Infura Interface Overhaul &amp; Design System refactor</h1>

  <div class="grid seven">
    <div class="span-2">
      <h4 class="title--secondary mb--small">Timeline</h4>
      <h3 class="detail mb--none">Infura</h3>
    </div>
    <div class="span-2">
      <h4 class="title--secondary mb--small">Timeline</h4>
      <h4 class="detail"><time>12 Weeks</time></h4>
    </div>
    <div class="span-3 row-span-2">
      <h4 class="title--secondary mb--small">Role</h4>
      <ul class="tags detail">
        <li>Design Systems</li>
        <li>Systems Thinking</li>
        <li>Visual Design</li>
        <li>Cross-functional Collaboration</li>
        <li>HTML/CSS</li>
      </ul>
    </div>
    <div class="span-2 cell--first pt--none">
      <h3 class="title--secondary mb--small">Team</h3>
      <ul class="detail">
        <li>David Atada &mdash; UX Engineer</li>
      </ul>
    </div>
    <div class="span-2 pt--none">
      <h3 class="title--secondary mb--small">Leadership</h3>
      <ul class="detail">
        <li>Andrew Cohen &mdash; Design Director</li>
        <li>Tony Chen &mdash; Chief Product Officer</li>
        <li>Thom Allen &mdash; Development Lead</li>
      </ul>
    </div>
  </div>
</div>

<section class="grid seven">
  <div class="span-3">
    <h3>What is Infura?</h3>
    <p>A set of APIs and tools for developers to interact with the blockchain. Think of it as an AWS but specific for blockchain and crypto technologies.</p>
  </div>
  <div class="span-3 mt--xlarge">
    <p>Infura&rsquo;s design had fallen behind user expectations—and competitors. We regularly heard feedback from users that the UI felt disjointed, dated, and inconsistent. Years of fast-paced feature work had created a tangled component system.</p>
  </div>
</section>

<div class="pb--base">
  <h3 class="title--primary">How might we consolidate, pay down debt, and update the Infura UI?</h3>
</div>

<section class="grid seven">
<div class="span-3">
  <h3>Define the problem, set the stage for rethinking UI</h3>
  <p>I kicked off the project by reviewing feedback already collected by our support and product teams. Using this, I wrote a product proposal outlining key problems and a plan to tackle them, with clear, tangible success metrics:</p>
  
  <ul class="circle">
    <li>Reduce time from design to production</li>
    <li>Increase design consistency and reduce the number of components to maintain</li>
    <li>Improve user satisfaction and retention—eliminate UI as a reason for churn</li>
  </ul>
</div>

<div class="span-4 work-image--right">
  <img alt="Screenshot of the project proposal in Confluence" src="/images/infura-design-system/product-proposal.png" class="mb--base">
</div>
</section>

<section class="grid seven">
  <div class="span-4 work-image--left">
      <img alt="Screenshot of Figjam redesign and tasks for components" src="/images/infura-design-system/component-organization.png">
  </div>
  <div class="span-3">
    <h3>Conduct inventory of existing components</h3>
    <p>Once we had early alignment on the product proposal, I took inventory of the full interface and mapped components to real usage across the product. I organized this work using Atomic Design principles, to help guide structure and communication.</p>
  </div>
</section>

<section class="grid seven">
  <div class="span-3">
    <h3>Visual exploration</h3>
    <p>Using recent brand design work as a starting point I began exploring updated visual styles for Infura&rsquo;s core screens. After refining with feedback from the brand team and design leadership, I opened the work to broader input from the design and frontend teams.</p>
  </div>
  <div class="span-4 work-image--right">
      <!-- <img alt="Screenshot of Figma viaual design experimentation" src="/images/infura-design-system/visual-experimentation.png" class="mb--base"> -->
      <img alt="Screenshot of Figma viaual design experimentation" src="/images/infura-design-system/visual-experimentation-2.png">
  </div>
</section>

<section class="grid seven">
  <div class="span-4 work-image--left">
    <img alt="Screenshot of button component and it's documentation" src="/images/infura-design-system/new/button-crop.png">
  </div>
  <div class="span-3">
    <h3>Rebuilding the system, one component at a time</h3>
    <p>For each component, I followed a full design-to-implementation lifecycle:</p>
    <ul class="circle">
      <li>Update the design in Figma</li>
      <li>Implement in React Storybook</li>
      <li>Integrate into the app</li>
    </ul>
    <p>Each step informed the others. As new edge cases emerged during integration, I revisited and refined components in Figma and Storybook. Since I was also managing the project, I had visibility into where gaps were forming—and could quickly resolve them across design and engineering.</p>
  </div>
</section>

<section class="masonry work-images">
  <div class="mb--base">
    <img alt="Screenshot of action link component and it's documentation" src="/images/infura-design-system/new/semantic-state-icons.png">
  </div>
  <div class="mb--base">
    <img alt="Screenshot of action link component and it's documentation" src="/images/infura-design-system/new/tag.png">
  </div>
  <div class="mb--base">
    <img alt="Screenshot of action link component and it's documentation" src="/images/infura-design-system/new/message.png">
  </div>
  <div class="mb--base">
    <video autoplay loop width="100%">
      <source src="/images/infura-design-system/new/checkbox.mp4" type="video/mp4">
    </video>
  </div>
  <div>
    <img alt="Screenshot of action link component and it's documentation" src="/images/infura-design-system/new/input-combo.png">
  </div>
</section>

<section class="">
    <video autoplay loop width="100%">
      <source src="/images/infura-design-system/new/dropdown.mp4" type="video/mp4">
    </video>
</section>

<section class="grid seven">
  <div class="span-4">
    <!-- <img alt="Screenshot of Figma sidebar and Storybook sidebar with same component organization" src="/images/infura-design-system/figma-storybook-parity.png"> -->
    <img alt="Screenshot of list of GitHub PRs" src="/images/infura-design-system/github-prs.png" class="mb--base">
    <!-- <img alt="Screenshot of GitHub PR" src="/images/infura-design-system/github-pr-1.png" class="mb--base">
    <img alt="Screenshot of GitHub PR" src="/images/infura-design-system/github-pr-2.png"> -->
  </div>
  <div class="span-3">
    <h3>Shipping in iteration, not all at once</h3>
    <p>Rather than waiting for a big relaunch, we shipped components as they were completed. This meant users experienced a gradual improvement over time, never seeing a jarring change. It gave the team time to adapt to new patterns organically.</p>
    <p>We also used each rollout as a chance to fix small UI/UX bugs that had accumulated. This not only improved the experience but clarified which components should be used where, reducing future inconsistencies.</p>
  </div>
</section>


<section class="grid seven border-top">
    <div class="span-3 row-span-2">
      <h3>Results &amp; Impact</h3>
      <p>This wasn&rsquo;t just a visual refresh, it rebuilt the foundation for how we shipped product at Infura. The end result: a cleaner, more unified user experience that scaled with our team and our users.</p>
    </div>

    <div class="span-2 mt--large">
      <h4 class="data"><span class="inline-icon">{% include icons/trending-down.svg %}</span> 56%</h4> 
      <p class="detail">Component count</p>
    </div>
    <div class="span-2 mt--large cell--last">
      <h4 class="data"><span class="inline-icon">{% include icons/trending-up.svg %}</span> 53</h4> 
      <p class="detail">UI bug tickets cleared</p>
    </div>
    <div class="span-2 pt--none">
      <h4 class="data"><span class="inline-icon">{% include icons/trending-down.svg %}</span> 0</h4> 
      <p class="detail">User complaints about design during post-rollout churn analysis</p>
    </d>
</section>
{% include work.html %}