---
layout: default
class: work
---

<div class="header--primary mb--none">
  <h1 class="">Enabling Web3 Developers to <em>scale their network requests seamlessly</em></h1>

  <div class="grid seven">
    <div class="span-2">
      <h3 class="title--secondary mb--none">Infura</h3>
    </div>
    <div class="span-2">
      <h4 class="detail"><time>~16 weeks (Over two iterations)</time></h4>
    </div>
    <div class="span-3">
      <ul class="tags detail">
        <li>Product Strategy</li>
        <li>User Research</li>
        <li>Quantitative Analysis</li>
        <li>Workshop Facilitation</li>
        <li>Visual Design</li>
        <li>Cross-functional Collaboration</li>
        <li>HTML/CSS</li>
      </ul>
    </div>
  </div>
</div>

<section class="grid seven">
  <div class="span-3">
    <h3>What is Infura?</h3>
    <p>A set of APIs and tools for developers to interact with the blockchain. Think of it as an AWS but specific for blockchain and crypto technologies.</p>
  </div>
  <div class="span-3 mt--xlarge">
    <p>Infura was preparing to expand its API Keys to support additional networks—Near, a new Layer 1, and Aurora, a bridge between Near and Ethereum. Until this point, the way that Infura generated API keys wasn&rsquo;t consistent and was a source of confusion for users.</p>
    <h3>How might we best integrate Near and Aurora into the Infura API?</h3>
  </div>
</section>

<section class="grid seven border-top">
  <div class="span-4 work-image--left">
    <img src="/images/infura-endpoints/exisiting-endpoint.png" alt="">
  </div>
  <div class="span-3">
    <h3>Existing API Key screen</h3>
    <p>All networks were hidden behind a dropdown menu, causing most users to stick with the default option without exploring other available networks. This design led to frequent support requests from users asking to add networks that were already available in the system. If we added Near and Aurora into the network dropdown, most users would never discover they existed.</p>
  </div>
</section>


<section class="grid seven">
  <div class="span-3">
    <h3>Build understanding of the current flow</h3>
    <p>To get grounded in the experience, I stepped through our ideal developer journey for adding new networks to an API Key. I documented each step in FigJam and quickly encountered several points of friction.</p>
    <p>Curious about the scale of the problem, I turned to our analytics. I traced drop-offs in the funnel—from API Key creation to actual network requests—and discovered a common pattern: many developers created a Key but never sent a request. This confirmed we weren’t effectively guiding users to the "aha" moment.</p>
  </div>
  <div class="span-4 work-image--right">
    <img src="/images/infura-endpoints/digesting-information.png" alt="">
  </div>
</section>

<section class="grid seven">
  <div class="span-4 work-image--left">
    <img alt="screenshot of figjam workshop" src="/images/infura-endpoints/initial-workshop.png">
  </div>
  <div class="span-3">
    <h3>Facilitate a Design Jam to build consensus</h3>
    <p>I organized a Design Jam with product and design collaborators to prioritize problems and surface opportunities. The workshop uncovered two critical tracks to pursue:</p>
    <ul class="circle mt--base">
      <li>Short-term – A quick fix to help developers start sending requests to Near and Aurora immediately.</li>
      <li>Long-term – A redesign to clarify the role of API Keys across multiple networks and build user understanding of decentralized app (dApp) setup.</li>
    </ul>
  </div>
</section>

<section class="grid seven">
  <div class="span-3">
    <h3>Getting the first iteration out quick</h3>
    <p>For the short term solution, we needed to scope down to a shippable version and deliver rapidly. After some quick sketching, I began work on a high-fidelity prototype that could move us closer to our long-term vision, while still being feasible within a few weeks.</p>
    <p>One UX challenge: how to display endpoints clearly. Our design system didn&rsquo;t have existing components to represent endpoint states (e.g., active, inactive). I explored new component patterns to address this gap.</p>
    <p>Once the design was approved, I built a code prototype to ensure a smooth handoff to our frontend developer. This not only clarified interaction intent but also sped up implementation&mdash;ultimately helping us deliver the new endpoints faster.</p>
  </div>
  <div class="span-4 work-image--right">
    <img alt="Mockups of Infura endpoints page" src="/images/infura-endpoints/endpoints-v1.png">
  </div>
</section>


    <section class="grid seven border-top">
      <div class="span-4">
        <img alt="Screenshot of Zoom call interview" src="/images/infura-endpoints/interview-1.png">
        <img alt="Screenshot of Zoom call interview" src="/images/infura-endpoints/interview-2.png">
        <!-- <img alt="Screenshot of Zoom call interview" src="/images/infura-endpoints/interview-3.png"> -->
      </div>
      <div class="span-3">
      <h3>Conduct user interviews to better understand developer&rsquo;s mental model</h3>
      <p>We recognized a knowledge gap going into the long-term project: we didn&rsquo;t fully understand how developers were currently choosing networks or organizing multi-network dApps.</p>
      
      <p>To close this gap, I:</p>
      <ul class="circle mt--base">
        <li>Queried our analytics to identify active users utilizing multiple networks.</li>
        <li>Reviewed hundreds of accounts to shortlist candidates for interviews.</li>
        <li>Reached out to ~100 users and conducted 5 in-depth interviews.</li>
      </ul>
        <p>These sessions uncovered how teams were structuring their projects, when and why they used different networks, and how the concept of a single API Key felt unintuitive or limiting.</p>
    </div>
    </section>

<section class="grid seven">
  <div class="span-3">
    <h3>Rapidly creating a low-fidelity prototype</h3>
    <p>Working closely with my PM, Tom Hay, we distilled the research and workshop insights into three key "How might we"
      statements:</p>
    <ul class="circle">
      <li>How might we design a system that scales seamlessly as more networks are added?</li>
      <li>How might we help users quickly choose the right blockchain/network for their needs?</li>
      <li>How might we clarify that a single API Key spans all supported networks?</li>
    </ul>
    <p>With alignment around our direction, we made identified several foundational shifts. To communicate these ideas, I
      built a low-fidelity prototype in Figma for adding and managing networks.</p>
    <ul class="circle">
      <li>Renamed the "Ethereum API" to Web3 API to reflect its broader scope.</li>
      <li>Began exploring UI concepts to educate users about API Key behavior and reduce friction in activating new
        networks.</li>
    </ul>
  </div>
  <div class="span-4 work-image--right">
    <img alt="Screenshot in Figma of rough wireframes" src="/images/infura-endpoints/rough-wireframes.png">
  </div>
</section>

<section class="grid seven">
    <div class="span-4 work-image--left"><img alt="Screenshot of Figjam workshop" src="/images/infura-endpoints/group-workshop-v1.png"></div>
    <div class="span-3">
      <h3>Driving Alignment Across the Organization</h3>
      <p>To build momentum, I facilitated a cross-functional workshop with 40+ stakeholders—product, design, engineering, sales, and marketing. We used the prototype to walk through key findings from our research and preview our proposed changes.</p>
      <p>The workshop generated strong alignment and fast-tracked decisions. Our PM later said it was the most effective workshop they’d ever participated in.</p>
    </div>

</section>
    
<section class="grid seven">
  <div class="span-3 border-top border-right">
    <h3>Usability test the first iteration</h3>
    <p>With the initial designs in place, I ran an unmoderated usability test to evaluate one of our key challenges:</p>
    <blockquote>How might we help users understand that a single API Key spans all supported networks?</blockquote>
    <p>Using Maze, our team’s unmoderated testing platform, I tested the updated flow with 26 users over several months. While the results showed some improvement in user understanding, it was still clear that many users didn’t fully grasp that one Key could access multiple networks.</p>
  </div>
  <div class="span-4 border-top"><img alt="Screenshot of Google docs usability test plan" src="/images/infura-endpoints/usability-test-plan.png"></div>
</section>

<section class="grid seven">
  <div class="span-4 work-image--left">
    <img alt="Screenshot of Figma of the second version of the Endpoints workflow" src="/images/infura-endpoints/endpoints-v2.png" class="mb--small">
  </div>
  <div class="span-3">
    <h3>A New Direction</h3>
    <p>Together with the PM, we took insights from the usability study and post-launch incidents to plan the next iteration. Around the same time, our backend team merged all endpoints—previously separated (e.g., IPFS and Filecoin)—into a single unified Web3 API. This allowed us to present an even more streamlined experience under one Key.</p>
    <p>We set three goals for the new iteration:</p>
    
    <ul class="circle">
      <li>Help users clearly understand what the Web3 API Key enables and how to organize their usage</li>
      <li>Improve the default security of all API Keys</li>
      <li>Reinforce that all networks now live under the same Web3 API Key</li>
    </ul>
  </div>
</section>

<section class="grid seven">
  <div class="span-3">
    <h3>Designing the New Flow</h3>
      <p>After aligning with the PM, we decided that users would need to activate networks individually under their Key. This gave them better control and reinforced what their Key could access. With a clear vision in mind, I jumped straight into high-fidelity mockups.</p>
    <p>I quickly wrapped up the designs and presented them to both product and engineering teams. Their feedback helped simplify a few interactions and strengthen how we communicated endpoint scope and usage.</p>
  </div>
  <div class="span-4 work-image--right">
    <img alt="Mockup of the all endpoints screen" src="/images/infura-endpoints/active-endpoints-v2.png" class="mb--small">
  </div>
</section>

<section class="grid seven border-top">
    <div class="span-3 row-span-2">
      <h3>Results &amp; Impact</h3>
      <p>Beyond the metrics, the project shifted how Infura talks about its API—from a single-chain “Ethereum API” to a unified Web3 API—setting the stage for future scalability across chains and user growth.</p>
    </div>

    <div class="span-2">
      <h4 class="data"><span class="inline-icon">{% include icons/trending-up.svg %}</span> 13.6%</h4> 
      <p class="detail">users successfully sending their first request after creating an API Key</p>
    </div>
    <div class="span-2">
      <h4 class="data"><span class="inline-icon">{% include icons/trending-up.svg %}</span> 25.7%</h4> 
      <p class="detail">user understanding of multi-network access (based on Maze testing)</p>
    </div>
    <div class="span-2 pt--none">
      <h4 class="data"><span class="inline-icon">{% include icons/trending-down.svg %}</span> 12.3%</h4> 
      <p class="detail">reported cases of compromised API Keys due to open defaults</p>
    </d>
</section>

{% include work.html %}