---
layout: index
class: work
---

<header class="u-margin-bottom-large">
  {% include work-shapes.svg %}
  <h1 class="title--primary">Branding and web to promote Keep Ruby Weird, a different kind of conference</h1>
  <p class="u-margin-bottom-base">A group of developers established a Ruby conference in Austin that focused in on weird vibes in Austin. While most of the talks (or songs, yup) still had a vague programming theme, the conference was oriented to be a different kind of event with a different type of talk.</p>
  <p class="detail">2013&ndash;2018 &mdash; Brand &amp; Marketing / Content / Front-end</p>
</header>

<section class="u-margin-bottom-large border-top">
  <h2 class="eyebrow">Logo</h2>
  <p>I was asked early on to design a logo for the conference. At the time, I had never been to Austin, and I found representing it a bit of a challenge. I was supplied with some of the graffiti around Austin for inspiration and ran with that. I quickly sketched an idea that turned immediately into the logo that would later earn the name Weirdo. Over several years, Weirdo was plastered on everything from t-shirts to lab coats to cups and coasters and even made into a Slack emoji. All things that I never imagined when I drew it.</p>
</section>

<ul class="images-list u-margin-bottom-large">
  <li>
    <figure>
      <img src="/images/krw/logo-beer.png" alt="Keep Ruby Weird logo on a glass full of beer">
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/krw/logo-stickers.png" alt="A pile of Keep Ruby Weird stickers">
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/krw/logo-helmet.png" alt="A Keep Ruby Weird sticker on a helmet in a snowy and woody area with a ski lift seat with five people behind">
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/krw/logo-shirt-3.png" alt="Keep Ruby Weird logo in a pink purple gradient on a white shirt">
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/krw/logo-shirts.png" alt="Two people wearing an olive shirt with a graphic of a T-rex holding a Keep Ruby Weird ballon">
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/krw/logo-stickers-2.png" alt="Four different Keep Ruby Weird stickers layed out on a table with a succulent">
    </figure>
  </li>
</ul>

<section class="u-margin-bottom-large">
  <h2 class="eyebrow">2016 Site design</h2>
  <p>2016 was my first year living in Austin, and I happily took on the opportunity of designing the site for the conference. The direction that I got for the folks running the conference was to "make it weird". Yup, that's about it. Thinking through what weird design meant for me, I immediately jumped at a chance to apply some parody. Diving through design history, I wanted to pull from some funky inverted photographs and awkwardly spaced letters popular in early grunge and skateboarding scenes. What made the site design stand out was the animation polish that fellow designer Ethan Leon put on it.</p>
</section>

<ul class="images-list u-margin-bottom-large">
  <li>
    <figure>
      <img src="/images/krw/2016.png" alt="A screenshot of the hero of the 2016 Keep Ruby Weird site">
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/krw/2016-2.png" alt="A screenshot of one of the speakers and their bio on the 2016 Keep Ruby Weird site">
    </figure>
  </li>
  <!-- <li>
    <figure>
      <img src="/images/krw/2016-3.png" alt="A screenshot of the 2016 Keep Ruby Weird site with a description of the location and a photo in the background of the Austin skyline">
    </figure>
  </li> -->
</ul>

<section class="u-margin-bottom-large">
  <h2 class="eyebrow">2017 Site design</h2>
  <p>In 2017 I wanted to adopt another design style that was popular while I was growing up. I took inspiration from the saturated colors and wonky shapes of Nickelodeon during the early '90s. I stole the color scheme almost directly from Rugrats and pushed the limits of what I thought I could do in the browser. What took the outrageous design to a new level was the copy. I drove home the personality of Weirdo through small hand-drawn elements and micro-copy.</p>
</section>

<ul class="images-list u-margin-bottom-large">
  <li>
    <figure>
      <img src="/images/krw/2017-hero.png" alt="A screenshot of the hero section of the 2017 Keep Ruby Weird site">
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/krw/2017-cfp.png" alt="A screenshot of the call for proposals section of the 2017 Keep Ruby Weird site">
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/krw/2017-bottom.png" alt="A screenshot of the location, past talks, and footer sections of the 2017 Keep Ruby Weird site">
    </figure>
  </li>
</ul>

<section class="u-margin-bottom-large">
  <div class="grid">
    <div  class="span-six--half">
      <h2 class="eyebrow">2018 Site Design</h2>
      <p>2018 was the last year of the conference, and I felt a little pressure to go out with a bang. To roll with the parody theme I had going, I wanted to throwback to the internet's early days. Harcon back to the days of page counts, animated construction workers, babies, blue skies, and the dial-up noises that are etched in my memory. Quick feedback from the team running the conference reinforced the direction. The site was up in the matter of a couple of days. Tickets sold out just as fast.</p>
    </div>

    <div class="span-six--half u-margin-top-large">
      <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Holy mother of god. They went all out with <a href="https://twitter.com/keeprubyweird?ref_src=twsrc%5Etfw">@keeprubyweird</a> website this year.<a href="https://t.co/DknPQTbeQT">https://t.co/DknPQTbeQT</a> <a href="https://t.co/mk64stNIts">pic.twitter.com/mk64stNIts</a></p>&mdash; Prem Sichanugrist (@sikachu) <a href="https://twitter.com/sikachu/status/1029890936539500545?ref_src=twsrc%5Etfw">August 16, 2018</a></blockquote>
    </div>
  </div>
</section>

<ul class="images-list u-margin-bottom-large">
  <li>
    <figure>
      <img src="/images/krw/2018-top.png" alt="A screenshot of the hero and speaker section of the 2018 Keep Ruby Weird site">
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/krw/2018-bottom.png" alt="A screenshot of the location tickets and past talks sections of the 2018 Keep Ruby Weird site">
    </figure>
  </li>
</ul>

<section class="u-margin-bottom-large">
  <h2 class="eyebrow">RIP Keep Ruby Weird</h2>
  <p>These were some of the most fun sites that I have had the opportunity to design; from the content to the people I worked with, it was all a joy.</p>
</section>

{% include work.html %}
