---
layout: default
class: work
---
<div class="header--primary">
  <h1>Integrating Point Health&rsquo;s <em>core business offering</em> into their mobile application</h1>

  <div class="grid seven">
    <div class="span-2">
      <h4 class="title--secondary mb--small">Product</h4>
      <h3 class="detail mb--none">Point Health</h3>
    </div>
    <div class="span-2">
      <h4 class="title--secondary mb--small">Timeline</h4>
      <h4 class="detail"><time>Six weeks</time></h4>
    </div>
    <div class="span-3">
      <h4 class="title--secondary mb--small">Role</h4>
      <ul class="tags detail">
          <li>Discovery Research</li>
          <li>Product Strategy</li>
          <li>Journey Mapping</li>
          <li>Visual Design</li>
          <li>Mobile Design</li>
          <li>Cross-functional Collaboration</li>
          <li>HTML/CSS</li>
      </ul>
    </div>
  </div>
</div>

<section class="grid seven">
  <div class="span-3">
    <h3>What is Point Health?</h3>
    <p>A health plan offered to part time and lower income. It&rsquo;s two core offerings are finding low-cost and high-quality providers before a procedure and bill negotiation after a procedure.</p>
  </div>
  <div class="span-3 mt--xlarge">
    <p>One of Point Health's core business offerings is negotiating high medical bills down for its members. Currently, the whole process is done through phone calls and emails.</p>
  </div>
</section>

<div class="pb--base">
  <h3 class="title--primary">How might we bring this offering to our mobile application in a lower effort way?</h3>
</div>

<section class="grid seven border-top">
  <div class="span-4 mt--base work-image--left">
  <img src="/images/ph-messaging/new/call.png" alt="A screenshot of a userflow">
  </div>
  <div class="span-3">
    <h3>Start by understanding the current processes around Bill Negotiation</h3>
    <p>Before designing anything, I needed to deeply understand how bill negotiation worked. I spent several half-days shadowing our Patient Advocate team—listening to calls, watching them triage cases, and observing how they handled negotiation follow-ups. </p>
    <p>This not only gave me a solid grasp of the operational flow, but also a feel for the emotional weight of these interactions—how stressed members often were, and how much energy Advocates spent guiding them through the process.  </p>
  </div>
</section>

<section class="grid seven">
  <div class="span-3">
    <h2>Mapping the Experience and Gathering Input</h2>
    <p>I mapped out the information collected during calls and began exploring what could be shifted into the app. I collaborated closely with our Chief Product Officer, another designer, and the Advocate team to refine the intake experience.</p>
    <p>Once I felt confident in the proposed flow, we reviewed it together in a Product Strategy Meeting to align on scope and direction.</p>
  </div>
<div class="span-4 work-image--right">
  <img src="/images/ph-messaging/new/flows.png" alt="A screenshot of a userflow">
</div>
</section>


<section class="grid seven">
  <div class="span-4 work-image--left">
    <img src="/images/ph-messaging/first-prototype.png" alt="A screenshot of a flow of screens in a prototype">
  </div>
  <div class="span-3">
    <h3>Prototyping a Minimal, Impactful First Version</h3>
    <p>The team aligned on a clear goal: build the most lightweight version possible to start learning fast. I focused on the onboarding experience, which Advocates described as repetitive and tedious. By collecting all the essential information in the app, Advocates could begin their work with far less back-and-forth.</p>
    <p>To keep the scope tight, I left the negotiation follow-up process out of the prototype—those interactions would remain phone-based for the time being. I continued gathering feedback from Advocates and stakeholders throughout prototyping and iteration.</p>
  </div>
</section>

<section class="grid seven">
  <div class="span-3">
    <h3>Adding Messaging to the Experience</h3>
    <p>After reviewing the prototype, stakeholders identified an opportunity to improve retention by encouraging members to stay within the app—rather than defaulting to phone calls. We decided to experiment with in-app messaging.</p>
    <p>I worked closely with our front-end developer to evaluate third-party messaging solutions. We landed on Stream—it covered our immediate use cases and allowed us to move quickly. Using Stream’s UI Kit, I created a refined prototype to align the team on business value and guide engineering estimates.</p>
  </div>
  <div class="span-4 work-image--right">
    <img src="/images/ph-messaging/messaging-prototype.png" alt="A screenshot of a flow of screens in a prototype">
  </div>
</section>

<section class="grid seven">
<div class="span-4 grid one-one">
  <img src="/images/ph-messaging/intro.png" alt="Mobile screenshot introducing what the bill negotiation service is" class="mb--base pr--base">
  <img src="/images/ph-messaging/family-size.png" alt="Mobile screenshot asking a question about family size">
  <img src="/images/ph-messaging/income.png" alt="Mobile screenshot asking a question about income" class="pr--base">
  <img src="/images/ph-messaging/upload-bill.png" alt="Mobile screenshot of uploading a bill">
</div>
  <div class="span-3">
    <h3>Refining the Experience Through Collaboration</h3>
    <p>We discovered that much of the interaction between members and Advocates relied on predictable, repeatable questions. With minimal extra engineering effort, we improved the experience to feel more like a structured, conversational flow.</p>
    <p>We ran usability testing with internal and external testers to refine the interaction patterns and tone. We also looped in our navigation team to pressure-test the member flow.</p>
  </div>
</section>

<section class="grid seven border-top">
    <div class="span-3">
      <h3>Results &amp; Impact</h3>
      <p>Advocates reported that having structured case info upfront “felt like a weight lifted.”</p>
    </div>

    <div class="span-2 mt--large">
      <h4 class="data"><span class="inline-icon">{% include icons/trending-down.svg %}</span> ~30%</h4> 
      <p class="detail">New case onboarding time</p>
    </div>
    <div class="span-2 mt--large cell--last">
      <h4 class="data"><span class="inline-icon">{% include icons/trending-up.svg %}</span> 60%</h4> 
      <p class="detail">Members responding within a day</p>
    </div>
</section>

{% include work.html %}
