---
layout: index
class: work
---

<header class="u-margin-bottom-large">
  {% include work-shapes-3.svg %}
  <h1 class="title--primary">Helping consumers save money and headache on electricity with Real Simple Energy</h1>
  <p class="u-margin-bottom-base">Real Simple Energy came to thoughtbot with a problem and idea. They saw people struggling in the Houston area as a result of selecting private electricity providers. The providers were using unethical techniques to enroll users into plans that weren't a good fit. That's where Real Simple Energy steps in.</p>
  <p class="detail">2018 &mdash; Product / Design Sprint / Research / Front End</p>
</header>

<section class="u-margin-bottom-large border-top">
  <h2 class="eyebrow">Project Kickoff</h2>
  <p>Our team was fully remote with the RSE team in Dallas and Houston and the thoughtbot team in Austin and NYC. The timeline for the project was tight, just a couple of weeks. We started aligning on a customer journey and a problem statement; from there, we worked together to form a job statement.</p>
</section>

<ul class="images-list u-margin-bottom-large">
  <li>
    <figure>
      <img src="/images/rse/kickoff.png" alt="Google docs interface with text about the project.">
      <figcaption>Kicked off the project remotely using Google Docs</figcaption>
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/rse/assumptions-test.png" alt="A table with asumpions in one column, tests in another, and validated in the last column.">
      <figcaption>Documentation of our Assumption/Test table</figcaption>
    </figure>
  </li>
</ul>

<section class="u-margin-bottom-large">
  <h2 class="eyebrow">Research</h2>
  <p>We rolled into a round of research to add assurance that product assumptions were heading in the right direction. We did a round of switch interviews with people who had recently switched from one power company to another. Those interviews helped prioritize the features we intended to build and even pushed some off the table entirely.</p>
</section>

<ul class="images-list u-margin-bottom-large">
  <li>
    <figure>
      <img src="/images/rse/interview.png" alt="My screen conducting an interview with a woman. Video call on the left and my notes on the right.">
      <figcaption>Conducting switch interviews</figcaption>
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/rse/interview-2.png" alt="My screen conducting an interview with a man. Video call on the left and my notes on the right.">
      <figcaption>Conducting switch interviews</figcaption>
    </figure>
  </li>
</ul>

<section class="u-margin-bottom-large">
  <h2 class="eyebrow">Prototyping in HTML</h2>
  <p>Since the timeline for the project was so short, I was looking for places to cut corners. It made sense to hop into code as soon as possible. I skipped visual tools altogether and went straight to working in HTML and CSS. This helped George Brocklehurst, the developer on the project, get started with building the Python app. The prototype was clickable in the browser with just the smallest pinch of color and brand.</p>
</section>

<ul class="images-list u-margin-bottom-large">
  <li>
    <figure>
      <img src="/images/rse/iteration-usage.png" alt="Interface of real simple energy. Text says: Based on your usage, we suggest these plans.">
      <figcaption>First iteration of defining usage</figcaption>
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/rse/iteration-account.png" alt="An early version of the user's accont page asking them to sign up for another plan.">
      <figcaption>Early iteration of account page</figcaption>
    </figure>
  </li>
</ul>

<section class="u-margin-bottom-large">
  <h2 class="eyebrow">Launching an MVP</h2>
  <p>We kept the features need to launch low by continually evaluating scope as a team and the value that they would bring to users and the business. Each week we would work together to prioritize our project management board. At the end of the project, I had just enough time to squeeze in a second iteration of visual refinement to help the team establish a stronger brand.</p>
</section>

<ul class="images-list u-margin-bottom-large">
  <li>
    <figure>
      <img src="/images/rse/calculate.png" alt="Screenshot of part of the questions that lead to signup. Text reads: Let's calculate your usage.">
      <figcaption>Part of the signup flow</figcaption>
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/rse/estimated.png" alt="Screenshot of the interface displaying saving when using Real Simple Energy.">
      <figcaption>Showing user's potential savings</figcaption>
    </figure>
  </li>
</ul>

<section class="u-margin-bottom-large">
  <h2 class="eyebrow">Results</h2>
  <p>The MVP helped the Real Simple Energy team achieve some product validation. Over a few months, they had over 200 paid subscribers. Read more about <a href="https://thoughtbot.com/case-studies/real-simple-energy">Read more about the team's work on Real Simple Energy&nbsp;↗</a></p>
</section>

<ul class="images-list u-margin-bottom-large">
  <li>
    <figure>
      <img src="/images/rse/home.png" alt="Screenshot of an iteration of the homepage. Text says: Save big on electricity, with zero hassle." class="portfolio-image">
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/rse/plans.png" alt="Screenshot of a plans page.">
    </figure>
  </li>
  <li>
    <figure>
      <img src="/images/rse/account.png" alt="Screenshot of account page design while person is being signed up for a new plan.">
      <figcaption>Last iteration of the account page</figcaption>
    </figure>
  </li>
</ul>

{% include work.html %}
