---
layout: default
class: work thoughtbot
---
<div class="header--primary">
  <h1><em>Rethinking the content and design</em> for the thoughtbot Website</h1>

  <div class="grid seven">
    <div class="span-2">
      <h4 class="title--secondary mb--small">Company</h4>
      <h3 class="detial mb--none">thoughtbot</h3>
    </div>
    <div class="span-2">
      <h4 class="title--secondary mb--small">Timeline</h4>
      <h4 class="detail"><time>Six Months</time></h4>
    </div>
    <div class="span-3">
      <h4 class="title--secondary mb--small">Role</h4>
      <ul class="tags detail">
          <li>Discovery Research</li>
          <li>Product Strategy</li>
          <li>Journey Mapping</li>
          <li>Visual Design</li>
          <li>Mobile Design</li>
          <li>Cross-functional Collaboration</li>
          <li>HTML/CSS</li>
      </ul>
    </div>
  </div>
</div>

<section class="grid seven">
  <div class="span-3">
    <h3>What is thoughtbot?</h3>
    <p>A product design and development consultancy.</p>
  </div>
  <div class="span-3 mt--xlarge">
    <p>The thoughtbot site lacked a consistent tone and voice, that it didn't have long term direction established, the user experience and visual design was inconsistent, and it lacked a CMS allowing our Marketing team to contribute.</p>
  </div>
</section>

<div class="pb--base">
  <h3 class="title--primary">How might we establish a consistent tone and visual system while integrating the site into a CMS?</h3>
</div>

<section class="grid seven">
  <div class="span-3">
    <h3>Gathering project requirements</h3>
    <p>Lindsey Christensen, thoughtbot&rsquo;s CMO, and Elaina Natario, a Designer in our Boston studio, started a document to capture all the problems that we were seeing both from an internal and external perspective. I supported the process by offering feedback, historical context, and guidance throughout.</p>
    <h3>Understanding users and their journey</h3>
    <p>To complement the internal research, I conducted Jobs-to-be-Done–style interviews with clients to uncover their motivations and decision-making timeline. These interviews helped validate our assumptions and revealed how and when the site influenced their buying journey.</p>
  </div>
  <div class="span-4 work-image--right">
      <img src="/images/thoughtbot/research.png" alt="A screenshot of a google hangout recording; one person's camera view in the main screen and two people's camera view in the sidebar">
      <!-- <img src="/images/thoughtbot/jobs-notes.png" alt="A screenshot of a Google Document of a customers purchase timeline" class="u-margin-top-medium"> -->
  </div>
</section>

<section class="grid seven border-top">
  <div class="span-4 work-image--left">
    <img src="/images/thoughtbot/content-audit.png" alt="A screenshot of the content audit template">
    <!-- <img src="/images/thoughtbot/content-audit-in-action.png" alt="A screenshot of the content audit for one of the pages on thoughtbot.com" class="u-margin-top-base"> -->
  </div>
  <div class="span-3">
    <h3>Reworking the content strategy</h3>
    <p>Lindsey and I took on a complete audit of the website content. Much of it was company-centric, not user-focused, and failed to speak to client goals or outcomes.</p>
    <p>We rewrote each core page—starting with Services—to better reflect the challenges our audience faced and clearly communicate how we could help.</p>
  </div>
</section>

<section class="grid seven border-top">
  <div class="span-3">
    <h2>Experimenting with typogrpahy and visual styles</h2>
    <p>While we were rethinking the site content, I started experimenting with different directions for both typography and photos with illustrations</p>
    <p>We landed on using lots of photography in collages, because it showed the people behind the company and handdrawn illustrations that referenced our work in Design Sprints. Both of these meant to reinforce thoughtbot designers and developers as friendly experts</p>
  </div>
  <div class="span-4 work-image--right">
      <img src="/images/thoughtbot/brand-exploration.png" alt="A screenshot of the Homepage page on thoughtbot.com">
  </div>
</section>

<section class="grid seven border-top">
  <div class="span-3">
    <h2>Designing a flexible component system</h2>
    <p>As content patterns emerged, I began designing a component system—or “slices”—that could support a variety of storytelling needs across the site.</p>
    <p>I collaborated closely with Tyson Gach, our NYC-based Design Director, to define the underlying data model and evolve the visual design. Tyson also led a massive code refactor, giving us a clean base to build and ship from.</p>
  </div>
</section>

<section class="grid one-one">
    <div class="cell"><img src="/images/thoughtbot/homepage.png" alt="A screenshot of the Homepage page on thoughtbot.com"></div>
    <div class="cell"><img src="/images/thoughtbot/our-company.png" alt="A screenshot of the Our Company page on thoughtbot.com"></div>
</section>

<section class="grid seven border-top">
  <div class="span-3">
    <h3>Building with Prismic</h3>
    <p>To move quickly, we focused first on structure—implementing content and layout components in Prismic. This allowed us to validate the design system and ensure it worked across all key pages.</p>
    <p>In tandem, we aligned our content audit to the new components, making it easy for the Marketing team to create or update pages without needing design or dev support.</p>
    <p>Tyson and I also created documentation for the slice system to guide content creation and ensure consistency going forward.</p>
  </div>
  <div class="span-4">
      <img src="/images/thoughtbot/prismic-combo.png" alt="A screenshot of the Prismic page type backend">
  </div>
</section>

<section class="grid seven border-top">
    <div class="span-3">
      <h3>Results &amp; Impact</h3>
      <p>A majority of the site was moved into a CMS and had content rewritten to speak with our audience. The project culminated in a workshop we led at thoughtbot titled “There&rsquo;s a typo on the homepage!”—a lighthearted look at the power of collaboration, process, and systems thinking.</p>
    </div>

    <div class="span-2 mt--large">
      <h4 class="data"><span class="inline-icon">{% include icons/trending-down.svg %}</span> 23.5%</h4> 
      <p class="detail">Bounce rate</p>
    </div>
    <div class="span-2 mt--large cell--last">
      <h4 class="data"><span class="inline-icon">{% include icons/trending-up.svg %}</span> 29%</h4> 
      <p class="detail">Conversion rate</p>
    </div>
</section>

{% include work.html %}
