.with-dropdown {
  display: inline-block;
  position: relative;

  label {
    color: $text-color;
    display: block;
    font-weight: normal;
    font-size: rem(14);
    position: relative;
    z-index: 2;

    &:hover{
      color: $base-accent-color;
      cursor: pointer;
    }
  }

  input {
    display: none;

    &:checked {
      ~ .dropdown {
        visibility: visible;
        opacity: 1;
        top: 2.5em;
      }
    }
  }

  input ~ .dropdown {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }

  .dropdown {
    @include position(absolute, 1em -75px null null);
    background: $base-font-color;
    padding: 1em 0;
    width: rem(225);

    &:before {
      @include position(absolute, -0.5em null null 50%);
      @include triangle(1em, $base-font-color, up);
      content: "";
      display: block;
      margin-left: -0.25em;
    }

    li {
      display: block;
      margin-right: 0;

      a {
        color: white;
        display: block;
        padding: 1em;

        &:hover {
          color: $base-accent-color;
        }
      }
    }
  }
}

.animate {
  @include transition(all .3s);
  @include backface-visibility(hidden);
}
