footer.main {
  clear: both;
  padding: 6em 0;
  text-align: center;

  ul {
    display: inline-block;
    border-top: 3px solid $base-border-color;
    padding: 3em 2em;
  }

  li {
    display: inline-block;
    margin-right: 0.75rem;
    font-size: rem(14);
  }

  svg {
    @include size(1.25rem);
  }
  a {
    &:hover {
      g {
        fill: $base-accent-color;
      }
    }
  }

  span {
    display: none;
  }
}
