header.main {
  padding: 4em 0;
  text-align: center;

  h1 {
    font-size: rem(20);
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    margin-right: 0.75em;

    @include media(max-width em(550)) {
      display: block;
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .name {
    margin-right: 2rem;

    @include media(max-width em(550)) {
      display: block;
      margin-right: 0;
    }

    a {
      color: lighten($base-font-color, 15);

      &:hover {
        color: $base-accent-color;
      }
    }
  }

  a {
    color: lighten($text-color, 15);
    font-size: em(15);

    &:hover {
      color: $base-accent-color;
    }
  }

  hr {
    border-top: 3px solid $base-border-color;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    max-width: em(150);
    margin: 2em auto;
  }
}
