main.index {
  max-width: em(1600);

  h3 {
    &:after {
      @include size(em(60) 3px);
      display: block;
      content: "";
      background-color: $base-border-color;
      margin: 1em 0 2em;
    }
  }
}

.introduction {
  @include shift(1);

  h1 {
    margin-bottom: 1.5rem;
  }

  p {
    max-width: flex-grid(6);
    padding-right: 2em;
  }
}

.select-work-preview {
  @include align-items(flex-end);
  @include display(flex);
  @include flex-direction(row);
  margin-top: -5em;

  .psl,
  .character-lab {
    margin-right: flex-gutter();
    width: flex-grid(3.5);
  }

  .character-lab {
    @include animation-duration(1s);
    @include animation-name(floatup);
    @include animation-timing-function(ease);
    @include animation-fill-mode(backwards);
    @include animation-delay(0.25s);

    .hover {
      background-color: rgba($character-lab-color, 0.8);
    }
  }

  .psl {
    @include animation-duration(1s);
    @include animation-name(floatup);
    @include animation-timing-function(ease);
    @include animation-fill-mode(backwards);
    @include animation-delay(0.05s);

    .hover {
      background-color: rgba($psl-color, 0.8);
    }
  }

  .developer-portal {
    @include animation-duration(1s);
    @include animation-name(floatup);
    @include animation-timing-function(ease);
    @include animation-fill-mode(backwards);
    margin-right: flex-gutter();
    width: flex-grid(5);

    .hover {
      background-color: rgba($developer-portal-color, 0.8);
    }
  }

  a {
    display: block;
    position: relative;
    overflow: hidden;

    .hover {
      @include transition;
      @include align-items(center);
      @include display(flex);
      @include position(absolute, 0 0 0 0);
      @include transform(translateY(100px));
      background-color: rgba($base-font-color, 0.7);
      border-radius: 6px;
      opacity: 0;
      pointer-events: none;

      header {
        text-align: center;
        width: 100%;
        color: #fff;

        h4 {
          font-size: em(20);
        }

        p {
          font-size: em(14);
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-top: 0.25em;
          color: rgba(#fff, 0.7);
        }
      }
    }

    &:hover {
      .hover {
        @include transform(translateY(0px));
        @include transition;
        opacity: 1;
      }
    }
  }

  img {
    display: block;
  }
}

.recent-wrapper {
  @include row;
  margin: 6em 0;
}

.recent-writing {
  @include span-columns(7);

  h3 {
    @include shift(1 7);
  }

  li {
    @include row;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  time {
    @include span-columns(1 7);
  }

  header {
    @include span-columns(6 7);
  }
}

.recent-playground {
  @include span-columns(4);

  li {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about {
  @include shift(1);
  @include row;
  margin-top: 4em;

  img {
    @include span-columns(3.5);
    border-radius: $base-border-radius;
  }

  header {
    @include span-columns(5.5);
    padding-top: 2em;
  }
}
