header.main {
  padding: 3em 0;
  text-align: center;

  h1 {
    font-size: rem(24);
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    margin-right: 0.75em;

    &:last-child {
      margin-right: none;
    }
  }

  .name {
    margin-right: 2rem;

    a {
      color: $base-font-color;

      &:hover {
        color: $base-accent-color;
      }
    }
  }

  a {
    font-size: em(14);
    color: $text-color;

    &:hover {
      color: $base-accent-color;
    }
  }
}

main {
  @include outer-container;
  padding: 3em;

  &.index {
    max-width: em(1200);
  }
}

footer.main {
  padding: 3em 0;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 0.75rem;
    font-size: rem(14);
  }

  svg {
    @include size(1.25rem);
  }

  span {
    display: none;
  }
}
