.post-show,
.ephemera {
  @include row(block);
  max-width: em(980);

  li {
    @include row;
    margin: 5em 0;
  }

  time {
    @include media(em(650)) {
      @include span-columns(2);
    }

    a {
      color: lighten($text-color, 25);
    }
  }

  .post-body {
    @include media(em(650)) {
      @include span-columns(8.5);
    }
  }
}

.post-show {
  time {
    line-height: rem(38);
  }

  p {
    font-size: rem(17);
  }
}

.external {
  h2 {
    &::after {
      color: lighten($text-color, 30%);
      content: "External Post";
      display: inline-block;
      font-family: $base-font-family;
      font-size: rem(15);
      font-weight: normal;
      letter-spacing: 0;
      margin-left: 0.75rem;
    }
  }
}
