.post-show,
.ephemera {
  @include row(block);
  max-width: em(980);

  li {
    @include row;
    margin: 5em 0;
  }

  time {
    @include span-columns(2);

    a {
      color: lighten($text-color, 25);
    }
  }

  .post-body {
    @include span-columns(8.5);
  }
}

.post-show {
  time {
    line-height: rem(38);
  }

  p {
    font-size: rem(17);
  }
}
