.work-index {
  .container {
    max-width: em(1400);
  }

  h2 {
    margin-bottom: 1.5em;
  }

  li {
    margin-bottom: 3em;
  }

  header {
    padding: flex-gutter() * 2;
    color: white;
    vertical-align: middle;

    @include media(em(950)) {
      @include span-columns(5);
    }

    p {
      color: #fff;
    }
  }

  .character-lab {
    background-image: url("/images/character-lab/hero.png");
    background-position: 115% 2em;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: $character-lab-color;

    header {
      background-color: rgba($character-lab-color, 0.9);
    }

    .more {
      color: $character-lab-color;
    }
  }

  .developer-portal {
    background-image: url("/images/developer-portal/hero.png");
    background-position: 115% 2em;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: $developer-portal-color;

    header {
      background-color: rgba($developer-portal-color, 0.9);
    }

    .more {
      color: $developer-portal-color;
    }
  }

  .psl {
    background-image: url("/images/psl/hero.png");
    background-position: -15% 2em;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: $psl-color;

    header {
      background-color: rgba($psl-color, 0.9);

      @include media(em(950)) {
        float: right;
      }
    }

    .more {
      color: $psl-color;
    }
  }
}

.work-index {
  .developer-portal,
  .character-lab,
  .psl {
    border-radius: $base-border-radius;
    overflow: hidden;

    @include media(max-width em(950)) {
      background-position: center center;
      background-size: cover;
    }
  }
}

.more {
  color: $base-accent-color;
  font-family: $header-font-family;
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #fff;
  border-radius: $base-border-radius;
  margin-top: 1em;
}
