.view-project {
  display: block;
  position: relative;
  overflow: hidden;

  img {
    display: block;
  }

  .hover {
    @include transition;
    @include align-items(center);
    @include display(flex);
    @include position(absolute, 0 0 0 0);
    background-color: rgba($base-font-color, 0.7);
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;

    .character-lab & {
      background-color: rgba($character-lab-color, 0.8);
    }

    .psl & {
      background-color: rgba($psl-color, 0.8);
    }

    .developer-portal & {
      background-color: rgba($developer-portal-color, 0.8);
    }

    header {
      text-align: center;
      width: 100%;
      color: #fff;

      h4 {
        font-size: em(20);
      }

      p {
        font-size: em(14);
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 0.25em;
        color: rgba(#fff, 0.7);
      }
    }
  }
}

.view-project:hover {
  .hover {
    opacity: 1;
  }
}
