.work {
  .container {
    max-width: em(1200);
  }

  .hero {
    overflow: hidden;

    img {
      display: block;
      margin: 0 auto -300px;
      vertical-align: bottom;
    }
  }
}

.image {
  margin-bottom: 2em;

  img {
    display: block;
    margin: 0 auto 0.5em;
  }
}
.divider {
  color: lighten($base-font-color, 60%);
}

.full-image {
  padding: 2em 0;
  background-color: $base-border-color;
  text-align: center;
}

.project-header {
  padding: 4em 0 0;
  text-align: center;
}

.copy {
  font-size: em(18);
  margin: 4em auto;
  max-width: em(900, 18);

  @include media(em(700)) {
    @include column-count(2);
    @include column-gap(flex-gutter());
  }
}

.single {
  max-width: em(440, 18);
  font-size: em(18);
  margin: 4em auto;
}

.full {
  img {
    width: 100%;
  }
}

.frameless {
  border-radius: $base-border-radius;
}

header.psl,
.psl .hero {
  background-color: $psl-color;
  color: #fff;

  .name a,
  a {
    color: #fff;
  }
}

header.character-lab,
.character-lab .hero {
  background-color: $character-lab-color;
  color: #fff;

  .name a,
  a {
    color: #fff;
  }
}

header.developer-portal,
.developer-portal .hero {
  background-color: $developer-portal-color;
  color: #fff;

  .name a,
  a {
    color: #fff;
  }
}
