.work-index {
  max-width: em(1100);

  li {
    margin-bottom: 1em;

    a {
      @include row(table);

      &:hover {
        .hover {
          @include transform(translateY(0px));
          @include transition;
          opacity: 1;
        }
      }
    }
  }

  .view-project {
    @include media(em(950)) {
      @include span-columns(5);
    }
  }

  header {
    padding: flex-gutter() * 2;
    vertical-align: middle;

    @include media(em(950)) {
      @include span-columns(7);
    }
  }

  .psl {
    .view-project {
      @include media(em(950)) {
        float: right;
      }
    }

    header {
      @include media(em(950)) {
        float: right;
      }
    }
  }

}

.more {
  color: $base-accent-color;
}
