.border-top--large {
  border-top: 2px solid darken($viewport-background-color, 15%);

  @media (prefers-color-scheme: dark) {
    border-color: lighten($viewport-background-color--dark, 15%);
  }
}

.border-bottom--large {
  border-bottom: 2px solid darken($viewport-background-color, 15%);

  @media (prefers-color-scheme: dark) {
    border-color: lighten($viewport-background-color--dark, 15%);
  }
}

.border-top {
  border-top: 1px solid darken($viewport-background-color, 15%);

  @media (prefers-color-scheme: dark) {
    border-color: lighten($viewport-background-color--dark, 15%);
  }
}

.border-right {
  @media (max-width: $screen--mid) {
    border-bottom: 1px solid darken($viewport-background-color, 15%);

    @media (prefers-color-scheme: dark) {
      border-color: lighten($viewport-background-color--dark, 15%);
    }
  }

  @media (min-width: $screen--mid) {
    border-right: 1px solid darken($viewport-background-color, 15%);

    @media (prefers-color-scheme: dark) {
      border-color: lighten($viewport-background-color--dark, 15%);
    }
  }
}

.border-left {
  @media (max-width: $screen--mid) {
    border-top: 1px solid darken($viewport-background-color, 15%);

    @media (prefers-color-scheme: dark) {
      border-color: lighten($viewport-background-color--dark, 15%);
    }
  }

  @media (min-width: $screen--mid) {
    border-left: 1px solid darken($viewport-background-color, 15%);

    @media (prefers-color-scheme: dark) {
      border-color: lighten($viewport-background-color--dark, 15%);
    }
  }
}

.border-bottom {
  border-bottom: 1px solid darken($viewport-background-color, 15%);

  @media (prefers-color-scheme: dark) {
    border-color: lighten($viewport-background-color--dark, 15%);
  }
}
