.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: var(--spacing--x-large);

  @media (min-width: $breakpoint--x-small) {
    grid-template-columns: repeat(8, 1fr);
    column-gap: var(--spacing--gap);
    display: grid;
  }

  @media (min-width: $breakpoint--large) {
    grid-template-columns: repeat(10, 1fr);
  }

  @media (min-width: $breakpoint--x-large) {
    grid-template-columns: repeat(16, 1fr);
  }
}
