.dashed-list {
  li {
    &:before {
      content: "–";
      display: inline-block;
      margin-right: $spacing-small;
      color: $x-light-gray;

      @media screen and (min-width: 700px) {
        margin-left: -1.5em;
      }

      @media screen and (prefers-color-scheme: dark) {
        color: $medium-gray;
      }
    }
  }
}
