.detail {
  font-weight: normal;
  color: rgba($gray, 0.7);
  font-style: italic;
  max-width: 80ch;

  @media (prefers-color-scheme: dark) {
  color: rgba($white, 0.7);
}


  li {
    display: inline-block;
  }
}
