.detail {
  font-weight: normal;
  color: lighten($gray, 20%);
  font-style: italic;
  max-width: 80ch;

  @media (prefers-color-scheme: dark) {
  color: darken($white, 20%);
}


  li {
    display: inline-block;
  }
}
