.eyebrow {
  font-family: var(--font-family--mono);
  font-weight: normal;
  font-size: clamp(1rem, 1vw, 1.25rem);
  letter-spacing: normal;
  color: $gray--medium;
  margin-bottom: var(--spacing--x-large);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.125rem;

  h2 {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    display: inline-block;
    font-weight: normal;
    margin-right: var(--spacing--medium);
  }

  a {
    color: inherit;

    &:hover {
      color: $white;
    }
  }
}
