.eyebrow {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: clamp(1rem, 1vw, 1.25rem);
  letter-spacing: normal;
  color: #ca4e25;
  margin-bottom: var(--spacing--x-large);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  max-width: 60ch;

  h2 {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    display: inline-block;
    font-weight: normal;
    margin-right: var(--spacing--medium);
  }

  a {
    color: inherit;

    &:hover {
      color: $white;
    }
  }
}
