.hero {
  padding: 0 0 var(--spacing--large);

  @media screen and (min-width: $breakpoint--medium) {
    padding: 0 0 6vh;
  }
}

.hero__shapes {
  margin-bottom: var(--spacing--x-large);
  width: clamp(165px, 15vw, 250px);
  height: clamp(165px, 15vw, 285px);
}
