.inline-icon {
  display: inline-block;
  vertical-align: text-bottom;

  svg {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    vertical-align: middle;
    stroke: lighten($font-color--base, 40%);

    @media (prefers-color-scheme: dark) {
      stroke: darken($font-color--dark, 40%);
    }
  }

  path {
    stroke: lighten($font-color--base, 40%);

    @media (prefers-color-scheme: dark) {
      stroke: darken($font-color--dark, 40%);
    }
  }
}

.icons-link {
  text-decoration: none;
  line-height: 1.3em;
  vertical-align: text-bottom;
}