.images-list {
  border: 1px solid rgba($gray, 0.2);
  column-gap: var(--spacing--medium);
  padding: var(--spacing--small) var(--spacing--small) 0;

  @media (prefers-color-scheme: dark) {
    border-color: rgba($white, 0.6);
  }

  @media screen and (min-width: $breakpoint--small) {
    padding: var(--spacing--large) var(--spacing--large) var(--spacing--small);
    columns: 2;
  }

  li {
    -webkit-column-break-inside: avoid;
    @extend .detail;
    break-inside: avoid;
    padding-bottom: var(--spacing--small);
    page-break-inside: avoid;
    text-align: center;

    @media screen and (min-width: $breakpoint--small) {
      padding-bottom: var(--spacing--medium);
    }
  }

  figcaption {
    display: none;
  }
}
