.index {
  .heading-1 {
    margin-bottom: 0.5em;

    @media screen and (min-width: 1200px) {
      margin-right: 1em;
    }
  }
}

.index__image {
  margin-bottom: $spacing-base;
  position: relative;

  @media screen and (min-width: 650px) {
    margin-top: $spacing-small;
    margin-right: -11.666666667em;
    margin-bottom: -14rem;
  }

  @media screen and (min-width: 725px) and (max-width: 1050px) {
    margin-top: -$spacing-small;
  }

  img {
    display: block;
    border-radius: 6px;
  }
}

.values {
  margin-top: $spacing-base;

  @media screen and (min-width: 650px) {
    margin-top: $spacing-small;
  }
}
