.index {
  .heading-1 {
    margin-bottom: 0.5em;

    @media screen and (min-width: 1200px) {
      margin-right: 1em;
    }
  }
}

.index__image {
  margin-bottom: $spacing-base;
  position: relative;

  @media screen and (min-width: 650px) {
    margin-right: -11.666666667em;
    margin-bottom: -14rem;
  }

  @media screen and (min-width: 725px) and (max-width: 1050px) {
    margin-top: -$spacing-small;
  }

  img {
    display: block;
    border-radius: 6px;
  }
}

.values {
  &::before {
    display: block;
    content: "";
    margin-bottom: $spacing-base;
    margin-top: $spacing-base;
    height: 3px;
    width: 70px;
    background-color: $base-border-color;
  }
}

.values__list li {
  border-top: 1px solid $base-border-color;
  padding: $spacing-base 0;
}
