.main-title {
  font-family: $base-font-family;
  margin-bottom: 3rem;
  margin-top: 6rem;

  a {
    border: none;
  }
}

.wave {
  margin-left: -2rem;
  display: inline-block;
  margin-right: 0.5rem;
}
