.main-title {
  color: lighten($text-color, 20);
  font-family: $base-font-family;
  font-weight: normal;
  margin-bottom: 3rem;
  margin-top: 6rem;

  a {
    color: lighten($text-color, 10);

    &:hover {
      color: $base-font-color;
    }
  }
}
