.navigation-main {
  margin-top: 1.5em;
  margin-bottom: $spacing-super;

  h2 {
    display: inline-block;
    font-weight: 600;
    font-family: $base-font-family;
    margin-right: 3rem;
    font-size: 1em;

    @media screen and (min-width: 600px) {
      margin-left: -1.5em;
    }

    span {
      margin-right: 0.25em;
      display: inline-block;
    }

    @media screen and (min-width: 760px) {
      font-size: $medium-font-size;
    }
  }

  ul {
    display: inline-block;
    font-size: 1em;

    @media screen and (min-width: 760px) {
      font-size: $medium-font-size;
    }

    @media screen and (min-width: 1200px) {
      font-size: $small-font-size;
    }
  }

  li {
    display: inline-block;
    margin-right: 1.75em;
  }

  a {
    background-image: none;
    border-width: 0;

    &:active,
    &:hover {
      color: $blue;
    }

    .blog-index &.blog,
    .index &.about {
      font-weight: bold;
    }
  }
}
