.navigation-main {
  margin-top: 1.5em;
  margin-bottom: $spacing-super;
  text-align: center;

  h2 {
    display: inline-block;
    font-weight: 700;
    font-family: $base-font-family;
    margin-right: 3rem;
    font-size: $medium-font-size;

    @media screen and (min-width: 600px) {
      margin-left: -1.5em;
    }

    span {
      margin-right: 0.25em;
      display: inline-block;
    }

  }

  ul {
    display: inline-block;
    font-size: $medium-font-size;
  }

  li {
    display: inline-block;
    margin-right: 1.75em;
  }

  a {
    background-image: none;
    border-width: 0;

    &:active,
    &:hover {
      color: $blue;
    }

    .work-index &.work,
    .blog-index &.blog,
    .index &.about {
      font-weight: 500;
    }
  }
}
