.pagination {
  padding-top: $spacing-base;
  display: flex;
  justify-content: space-between;
    font-size: 1em;

    @media screen and (min-width: 760px) {
      font-size: $medium-font-size;
    }
}
