.post {
  padding-right: $spacing-large;
  padding-bottom: $spacing-large;
}

.post__header {
  margin-bottom: $spacing-large;

  h1 {
    margin-bottom: 0;
  }
}

.sidebar {
  padding: 0;

  @media screen and (min-width: 1024px) {
    border-left: $border;
    padding: ($spacing-large * 3) 0 0;
  }
}

.section {
    padding: $spacing-large 0;

  @media screen and (min-width: 1024px) {
    padding: $spacing-large;
  }

  &:not(:first-of-type) {
    border-top: $border;
  }
}

.post--all-posts {
  margin-top: 10rem;
}
