.post {
  position: relative;
  border-bottom: $base-border;
  padding: $spacing-large 0;
  
  @media screen and (prefers-color-scheme: dark) {
    border-color: $medium-gray;
  }

  &:first-of-type {
    padding-top: 0;
  }

  .heading-1 {
    margin-bottom: $spacing-small;
  }

  p {
    max-width: 800px;
  }
}

.post__tags,
.post__info {
  color: $light-gray;
  display: block;
  font-size: 1em;

  @media screen and (min-width: 760px) {
    font-size: $medium-font-size;
  }

  a {
    border-bottom: 0;
  }
}

.post__tags li {
  display: inline-block;
  margin-right: 1em;
}
