$breakpoint--shape-item: 1000px;

.shape-item {
  @media screen and (min-width: $breakpoint--shape-item) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: var(--spacing--gap);
  }
}

.shape-item__shape {
  margin-bottom: var(--spacing--small);

  @media screen and (min-width: $breakpoint--shape-item) {
    grid-column: 1;
  }

  svg {
    width: clamp(36px, 15vw, 56px);
    height: clamp(34px, 15vw, 58px);
  }
}

.shape-item__content {
  @media screen and (min-width: $breakpoint--shape-item) {
    grid-column: span 5;
  }
}
