.sidebar-layout {
  @media screen and (min-width: 700px) {
    display: grid;
    grid-template-columns: 2fr 5fr;
  }
}

.sidebar {
  color: $light-gray;
  font-size: $medium-font-size;

  @media screen and (max-width: 700px) {
    margin-bottom: $spacing-base;
  }

  h4 {
    font-family: $base-font-family;
    color: $light-gray;
    font-weight: 400;
    margin-bottom: $spacing-small;
  }
}
