.title--primary {
  font-size: clamp(2rem, 4.25vw, 4.5rem);
  max-width: 30ch;
  margin-bottom: var(--spacing--medium);

  @media screen and (min-width: $breakpoint--large) {
    letter-spacing: -1px;
  }
  
  img {
    max-width: 1em;
    max-height: 1em;
  }
}
