.header--primary {
  @extend .border-bottom--large;
  padding-bottom: var(--spacing--large);

  h1, p {
    max-width: 58.2rem;
  }
}

h1,
.title--primary {
  font-family: var(--font-family--heading);
  line-height: var(--line-height--heading);
  font-weight: 500;
  letter-spacing: -0.0125em;
  color: darken($font-color--base, 15%);
  font-size: 1.0125rem;

  @media (prefers-color-scheme: dark) {
    color: lighten($font-color--dark, 15%);
  }
}

.title--secondary {
  font-family: var(--font-family--mono);
  color: lighten($font-color--base, 25%);
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: var(--spacing);

  @media (prefers-color-scheme: dark) {
    color: darken($font-color--dark, 15%);
  }
}

.data {
  margin-top: -2rem;
  font-size: 4rem;
}