.title--primary {
  font-family: var(--font-family--title);
  font-size: clamp(1.5rem, 3.5vw, 2.875rem);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
}

.title--secondary {
  margin-bottom: var(--spacing--medium);
  text-transform: uppercase;
  font-size: clamp(0.875rem, 1.3vw, 1.125rem);
  letter-spacing: 2px;
  font-weight: normal;
  color: rgba($gray, 0.7);

  @media (prefers-color-scheme: dark) {
    color: rgba($white, 0.5);
  }
}

.title--tertiary {
  font-weight: 600;
  font-size: inherit;
  max-width: 80ch;
}
