.header--primary {
  @extend .border-bottom--large;
  padding-bottom: var(--spacing--large);

  p {
    max-width: 50rem;
  }
}

h1,
.title--primary {
  // font-family: var(--font-family--mono);
  // font-weight: 500;
  color: darken($font-color--base, 15%);
  line-height: 1.2em;
  font-size: 1.125rem;

  @media (min-width: $screen--mid) {
    font-size: 1.5rem;
  }

  @media (prefers-color-scheme: dark) {
    color: lighten($font-color--dark, 15%);
  }

  em {
    font-family: var(--font-family--mono);
    font-style: normal;
    letter-spacing: -2px;
    background-color: $highlight--base;

  @media (prefers-color-scheme: dark) {
    background-color: $highlight--dark;
  }
  }
}

.title--secondary {
  font-size: 0.75rem;
  font-family: var(--font-family--mono);
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: var(--spacing);
  letter-spacing: 1px;
}

.data {
  margin-top: -1.5rem;
  font-size: 2.25rem;
  font-family: var(--font-family--mono);
  letter-spacing: -2px;
  color: lighten($font-color--base, 15%);

  @media (prefers-color-scheme: dark) {
    color: darken($font-color--dark, 15%);
  }
}

.data--quote {
  font-size: 1.25rem;
  color: lighten($font-color--base, 5%);

  @media (prefers-color-scheme: dark) {
    color: darken($font-color--dark, 5%);
  }

  @media (min-width: $screen--mid) {
    font-size: 1.5rem;
  }
}