h1,
.title--primary {
  font-family: var(--font-family--heading);
  line-height: var(--line-height--heading);
  font-weight: 500;
  letter-spacing: -0.0125em;
  margin: 0 0 var(--spacing);
}

.title--secondary {
  font-family: var(--font-family--mono);
  color: lighten($font-color--base, 15%);
  font-size: smaller;
  font-weight: normal;

  @media (prefers-color-scheme: dark) {
    color: darken($font-color--dark, 15%);
  }
}