.wave {
  display: inline-block;
  font-kerning: none;
  transform: translate3d(0px, 0px, 0.1px);
  animation: wave-animation 4s ease-in-out infinite;
  transform-origin: 60% 70%;
  user-select: none;
}

@keyframes wave-animation {
  0%,10% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  5% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
