.work {
  section {
    margin-bottom: var(--spacing--large);
  }

  p {
    max-width: 46rem;
    margin-bottom: var(--spacing);
  }

  .circle {
    margin-bottom: var(--spacing);
  }
}

.work-images {
  @media (min-width: $screen--mid) {
    margin: 0 -2rem;
  }

  @media (min-width: 110rem) {
    margin: 0 -6rem;
  }

  .title--secondary {
    @media (min-width: $screen--mid) {
      margin-left: 2rem;
    }

    @media (min-width: 110rem) {
      margin-left: 6rem;
    }
  }
}

.work-image--left {
  @media (min-width: $screen--mid) {
    margin-left: -2rem;
  }

  @media (min-width: 110rem) {
    margin-left: -6rem;
  }
}

.work-image--right {
  @media (min-width: $screen--mid) {
    margin-right: -2rem;
  }

  @media (min-width: 110rem) {
    margin-right: -6rem;
  }
}

.work-image {
  display: inline-block;
  text-decoration: none;
  border-radius: 0.25rem;

  &:hover h4 {
    color: $action-color;

    @media (prefers-color-scheme: dark) {
      color: $action-color--dark;
    }
  }

  img {
    display: inline-block;
  }
}

.work-title-content {
    @media (min-width: $screen--mid) {
      margin-left: 2rem;
    }

    @media (min-width: 110rem) {
      margin-left: 6rem;
    }
}

.project-specs {
  margin-bottom: var(--spacing);

  p, h3 {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 300;
    color: lighten($font-color--base, 20%);
    font-size: smaller;

    @media (prefers-color-scheme: dark) {
      color: darken($font-color--dark, 20%);
    }
  }
}