<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Description" name="Description" content="{{ page.meta_description }}" />
    <meta http-equiv="Keywords" name="Keywords" content="{{ page.meta_keywords }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!--Typekit-->
    <script type="text/javascript" src="http://use.typekit.com/vzw1iuz.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="default {{ page.keyword }}">
    <section class="main">
      <header class="main">
        <nav>
          <h1><a href="/">Kyle Fiedler</a></h1>
          <ul>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/experiments">Experiments</a></li>
          </ul>
        </nav>
      </header>

      {{ content }}

      <footer class="main">
        <p class="copy">&copy;Kyle Fiedler {{ site.time | date: "%Y" }}</p>

        <ul class="social">
          <li class="dribbble"><a href="http://dribbble.com/kylefiedler">Dribbble</a></li>
          <li class="twitter"><a href="https://twitter.com/kylefiedler">Twitter</a></li>
          <li class="tumblr"><a href="http://allsortsofshit.kylefiedler.com">Tumblr</a></li>
          <li class="rdio"><a href="http://www.rdio.com/people/kfiedler/">Rdio</a></li>
          <li class="github"><a href="https://github.com/kylefiedler">Github</a></li>
          <li class="email"><a href="mailto:kyle@kylefiedler.com">Email</a></li>
        </ul>

        <p class="license">Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a></p>
      </footer>
    </section>


  </body>
</html>
