<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Description" name="Description" content="Kyle enjoys a well made peanut butter and jelly sandwich cut in 2 triangles." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kyle Fiedler</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="//use.typekit.net/vog4txp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="index">
    <header class="main">
      <h1><a "/">Kyle Fiedler</a></h1>
      <nav>
        <ul>
          <li> <a href="/">About</a></li>
          <li><a href="http://blog.kylefiedler.com">Blog</a></li>
          <li><a href="/playground">Playground</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-action">Select Work</a>

            <ul class="dropdown-list">
              <li><a href="#">Character Growth Card</a></li>
              <li><a href="#">Development Portal</a></li>
              <li><a href="#">Philly Startup Leaders</a></li>
              <li><a href="#">MITx / edX</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer class="main">
      <p class="copy">&copy;Kyle Fiedler 2013</p>
      <p class="license">Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a></p>
    </footer>
  </body>
</html>

