{% include header.html %}

<main>

  {% include nav.html %}

  <section class="mb--xlarge">
      <h1 class="mb--none">{{ page.title }}</h1>
      <time pubdate="{{ page.date }}" class="detail mb--large">{{ page.date | date: '%m.%d.%Y' }}</time>
      {{ content }}
  </section>

  <section>
    <h4>Keep Reading</h4>
    <ul>
      {% for post in site.related_posts limit: 3 %}
      <li class="time-n-title">
        <time class="detail">{{ post.date | date: '%m.%d.%Y' }}</time>
        {% if post.external_url %}
        <p><a href="{{post.external_url}}">{{ post.title }}</a> ↗</p>
        {% else %}
        <p><a href="{{post.url}}">{{ post.title }}</a></p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>
</main>

{% include footer.html %}
