{% include header.html %}

<main>
  <h1 class="title--primary u-margin-bottom-medium">
    {{ page.title }}
  </h1>

  <section>
    <div class="u-margin-bottom-medium">
      {{ content }}
    </div>

    <time pubdate="{{ page.date }}" class="detail">{{ page.date | date: '%B %d, %Y' }}</time>
  </section>

  <section class="u-margin-top-large">
    <h6 class="title--tertiary u-margin-bottom-medium">Keep Reading</h6>
    <ul class="dashed-list">
      {% for post in site.related_posts limit: 4 %}
      <li class="u-margin-bottom-medium">
  {% if post.external_url %}
  <h3><a href="{{post.external_url}}">{{ post.title }}</a> ↗</h3>
  {% else %}
  <h3><a href="{{post.url}}">{{ post.title }}</a></h3>
  {% endif %}
  <span class="detail">{{ post.date | date: '%B %d, %Y' }}</span>
</li>

      {% endfor %}
    </ul>
  </section>
</main>

{% include footer.html %}
