---
layout: default
---

%header.case-study--header
  %h1
    %a{ href: "http://phillystartupleaders.org/" } Philly Startup Leaders

  %h3.case-study--subtitle
    Nov&ndash;Dec 2014
    %span.divider /
    4 Weeks
    %span.divider /
    %a{ href: "http://phillystartupleaders.org" } http://phillystartupleaders.org

%section.case-study--body
  %p I was asked to redesign and rebrand the PSL marketing website. The goal for the site was to exemplify the thriving startup community in Philly, and to give people an idea of current happenings and worthy activities in the area.

  %p I wanted to showcase the people behind the Philly startup scene. I saw a great photo from a recent PSL event and felt it was a perfect fit for my vision. I used it as a backdrop in order to set the tone that the organization is welcoming and creative.

  %p The site was built on Jekyll, and the styles were compiled using Sass with Bourbon, Neat, and Bitters. They are using GitHub pages as the host in order to easily edit any future content. Early mockups were done using Sketch app.

  .image
    %img{ src: "/images/psl/hero.png", alt: "" }/
  .image
    %img{ src: "/images/psl/body.png", alt: "" }/
  .image
    %img{ src: "/images/psl/mobile.png", alt: "" }/

%section.case-study--navigation
  %h3.main-title
    Other case studies
  %ul
    %li
      %h2
        %a{ href: "/work/developer-portal" }  Developer Portal
    %li
      %h2 
        %a{ href: "/work/character-growth-card" } Character Growth Card

