---
layout: default
class: work psl
---

.container
  %section.copy
    %h1
      %a{ href: "http://phillystartupleaders.org/" } Philly Startup Leaders
    %p I was asked asked to redesign and rebrand the PSL marketing website. The goal for the site was to show the thriving startup community in Philly, to give people an idea of what is going on and what to pay attention to in the area.

    %p One of the things that I wanted to show was the people behind the Philly startup scene. I saw a great photo from a recent event that PSL held and thought it would be perfect for what I wanted. I used it as a backdrop to the entire mood so that it would set a friendly and human tone to the organization.

  %section.image
    %img.browser.top{ src: "/images/psl/hero-2.jpg", alt: "" }/
    %img.browser.bottom{ src: "/images/psl/hero-1.jpg", alt: "" }/

.container
  %section.image
    %img.tablet{ src: "/images/psl/tablet.jpg", alt: "" }/
    %img.phone{ src: "/images/psl/phone.jpg", alt: "" }/

  %section.copy

    %h3 Technical specs
    %p The site was built on Jekyll and the styles are compiled using Sass with Bourbon, Neat, and Bitters. They are using GitHub pages as the host so that it makes it really easy to make changes.

    %h3 Timeline
    %p 4 weeks

    %h3 URL
    %p 
      %a{ href: "http://phillystartupleaders.org" } http://phillystartupleaders.org
