---
layout: default
---

%section.introduction
  %h1 I plan, design, test, and build digital products at&nbsp;<a href="http://thoughtbot.com">thoughtbot</a>.

  %p I enjoy working through complex problems and coming up with simple solutions. I use tools such as research, design thinking, design sprints, and jobs-to-be-done to help me best understand what a product is trying to solve. I ship early and iterate. I enjoy a well-made peanut butter and jelly sandwich, cut in two triangles.

%section.recent-writing
  %h3.main-title Writing

  %ol.posts
  {% for post in site.posts limit:6 %}
  {% if post.external_url %}
    %li.external
      %h2
        %a{ href: "{{ post.url }}" } {{ post.title }}
      {{ post.excerpt }}
  {% else %}
    %li
      %h2
        %a{ href: "{{ post.url }}" } {{ post.title }}
      {{ post.excerpt }}
  {% endif %}
  {% endfor %}
  %a{ href: "/writing" } Archive

%section.work
  %h3.main-title Select Work

  %ul.work-list
    %li.developer-portal
      %h2
        %a{ href: "/work/developer-portal" } Developer Portal
      %p An internal application for a major pharmaceutical company. They had been hiring more and more developers and found that there was a vast amount of knowledge between all of them but many weren’t tapping into others expertise or knowledge or only using personal networks to tap into their fellow developers knowledge.

    %li.psl
      %h2
        %a{ href: "/work/psl" } Philly Startup Leaders
      %p A redesign and rebrand for PSL, one of the largest communities of entrepreneurs, designers and developers in the Pjilly area. The goal for the site was to show the thriving startup community in Philly, to give people an idea of what is going on and what to pay attention to in the area.

    %li.character-lab
      %h2
        %a{ href: "/work/character-growth-card" } Character Growth Card
      %p An application to help teachers grade students on their character skills rather than just their academic skills. This non-profit had been conducting this research and encouraging teachers to teach these skills.

%section
  %h3.main-title Podcasts

  %ul
    %li
      %h2
        %a{ href: "http://tentative.fm/" } Tentative
      %p A podcast that I regularly co-host with Reda Lemeden. We talk about product design, graphic design and front end development.
    %li
      %h2 Between Screens

      %a{ href: "https://soundcloud.com/between-screens/kyle-fiedler-good-designer-saying-no-design-questions-apprentices-onboarding" }  “Good” Designer | Saying “NO!” | Design questions | Apprentices | Onboarding

    %li
      %h2 Giant Robots
      %p
        %a{ href: "http://giantrobots.fm/132" } 132: Story Tellers
      %p
        %a{ href: "http://giantrobots.fm/17" } 17: I'm feeling full and Sassy
    %li
      %h2
        %a{ href: "http://www.freshtilledsoil.com/the-dirt-kyle-fiedler-jobs-to-be-done/" } The Dirt: Kyle Fiedler on the Jobs to be Done Framework

%section.talks
  %h3.main-title Speaking

  %ul
    %li 1871 &mdash; DIY Design Sprint Workshop
    %li Chicago HTML5 meet up &mdash; Rapid Prototyping for the Web
    %li
      %a{ href: "https://youtu.be/3HlLwSg2o9Y?t=2490" } Geekfes#t &mdash; DIY Design Sprints
    %li Sass Conf &mdash; Large Sass Panel

%section.side-projects
  %h3.main-title Side Projects

  %ul
    %li
      %h2
        %a{ href: "/playground/baseball-stadiums" } Baseball Stadiums
      %p One of my bucket list goals is to visit every baseball stadium. This is my way of keeping track of which ones I&rsquo;ve been too and which I still need to visit.

    %li
      %h2
        %a{ href: "http://crswll.github.io/card-creator/" }
          Baseball Card Generator
      %p During <a href="http://baseballhackday.com">Baseball Hack Day 2015</a> I worked with <a href="https://twitter.com/crswll">Bill Criswell</a> to create a random baseball card genrator. It used baseball card photos baseball nicknames and was styled after baseball cards found in the 60&rsquo;s and 70&rsquo;s. We won Best Design for the day.

    %li
      %h2
        %a{ href: "http://philly.buildguild.org" } Build Guild Philly
      %p A monthly meetup that I co-host with <a href="https://twitter.com/bhaslip">Brandon Haslip</a>. Build Guild is web folks drinking in a bar. No talks. No recruiters.  If you ever want to grab a drink with me come to Build Guild.

    %li
      %h2
        %a{ href: "http://refreshphilly.org/" } Refresh Philly
      %p A monthly meetup that I co-host with <a href="http://twitter.com/findes">Troy Finamore</a>. We have some of the best and brightest web professionals in and around Philly to give talks so that we might learn from one another.
    %li
      %h2
        %a{ href: "http://www.baseballhackday.com/" }
          Baseball Hack Day Philly
      %p A free yearly event for designers and developers to work on a baseball project. In the hopes to win one of several prizes. The days goal is to bring people together around a love for baseball.
    %li
      %h2
        %a{ href: "http://codedbykids.com/" } Coded By Kids
      %p Coded by Kids is an amazing program that teaches kids of all age ranges in Philly. I&rsquo;m happy to be a Board Member.

    %li.soon
      %h2 Remembeer
      %p Project I&rsquo;m doing during some of my spare time to teach myself programming and Rails.

%section.elsewhere
  %h3.main-title Elsewhere

  %ul
    %li
      %h2
        %a{href: "http://twitter.com/kylefiedler"} Twitter
    %li
      %h2
        %a{href: "http://dribbble.com/kylefiedler"} Dribbble
    %li
      %h2
        %a{href: "http://ephemera.kylefiedler.com"} Tumblr
    %li
      %h2
        %a{href: "http://github.com/kylefiedler"} GitHub
    %li
      %h2
        %a{href: "http://kylefiedler.vsco.co/grid/1"} Vsco Grid

%section.contact
  %h3.main-title Say Hi!

  %h2
    %a{ href: "mailto:kyle@kylefiedler.com" } kyle@kylefiedler.com
