@font-face {
    font-family: "Basier Circle";
    src: url("/fonts/basiercircle-regular-webfont.woff2") format("woff2"),
         url("/fonts/basiercircle-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Basier Circle";
    src: url("/fonts/basiercircle-semibold-webfont.woff2") format("woff2"),
         url("/fonts/basiercircle-semibold-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
