@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DMMono-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('/fonts/basiercircle-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('/fonts/basiercircle-semibold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Basier Circle Mono';
  src: url('/fonts/basiercirclemono-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}