@font-face {
  font-family: 'Office Times Round';
  src: url('/fonts/OfficeTimesRound-Regular.woff') format('woff'), url('/fonts/OfficeTimesRound-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DMMono-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}