// Neat Overrides – Delete file if not overriding defaults or not using Neat
///////////////////////////////////////////////////////////////////////////////
$column: 90px;
$gutter: 30px;
$grid-columns: 6;
$max-width: 600px;
