// Neat Overrides – Delete file if not overriding defaults or not using Neat
///////////////////////////////////////////////////////////////////////////////
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 900px;
