*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  background-color: $viewport-background-color;
  box-sizing: border-box;

  @media (prefers-color-scheme: dark) {
    background-color: $viewport-background-color--dark;
  }
}

body {
  max-width: 87.5rem;
  padding: 2rem;
  overflow-x: hidden;
  margin: 0 auto;

  @media (min-width: $screen--mid) {
    padding: 8rem 3rem 2rem;
  } 
}

footer {
  padding-top: var(--spacing--large);

  li {
    display: inline-block;
    margin-bottom: var(--spacing--small);

    @media (max-width: $screen--mid) {
      margin-right: var(--spacing--small);
    }

    @media (min-width: $screen--mid) {
      margin-left: var(--spacing--small);
    }
  }
} 

.nav {
  margin-bottom: 6rem;

  svg {
    max-width: 3rem;
  }

  a {
    text-decoration: none;
  }
}
