html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

footer,
main {
  position: relative;
  max-width: 660px;
  padding: ($large-spacing * 2) $small-spacing;
  margin: 0 auto;
}

.footer-wrapper {
    background-color: #f7f9fa;
}

footer {
  display: flex;
}

.column {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 0;

  &:first-child {
    padding-right: 2rem;
  }

  &:last-child {
    padding-left: 2rem;
  }
}
