ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: $base-spacing;

  a {
    color: $font-color-header;

    &:focus,
    &:hover {
      color: $action-color;
    }
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
