html {
  color: $gray;
  font-family: var(--font-family);
  font-size: 100%;
  line-height: var(--line-height);
  background-color: $white;
}

body {
  font-size: clamp(1.25rem, 1.618vw, 1.5rem);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% auto;
  color: rgba($gray, 0.85);
}

main {
  padding: 0 8vw var(--spacing--large);
  max-width: 1800px;
  margin: 0 auto;
}

footer {
  padding: var(--spacing--large) 6vw 8rem;
  max-width: 1400px;
  margin: 0 auto;
}

::selection {
  background-color: $highlight-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray;
  font-size: inherit;
  font-weight: 500;
  margin: 0 0 var(--spacing--small);
  max-width: 70ch;
}

p {
  margin: 0 0 var(--spacing--small);
  max-width: 70ch;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: $gray;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: var(--focus-outline);
  }
}

hr {
  border-bottom: var(--border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: var(--spacing) 0;
}

time {
  display: block;
}

blockquote {
  margin: 0;
}

.about .nav--about,
.blog-index .nav--posts,
.selected {
  text-decoration: line-through;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing--xx-large) 0 15vh;

  ul {
    li {
      display: inline-block;
      margin-left: var(--spacing);
    }
  }
}
