html {
  color: $font-color--base;
  font-family: var(--font-family);
  font-size: 100%;
  line-height: var(--line-height);

  // @media (prefers-color-scheme: dark) {
  //   color: #f4e8cc;
  //   -webkit-font-smoothing: antialiased;
  //   -moz-osx-font-smoothing: antialiased;
  // }
}

body {
  font-size: 1.25rem;

  @media (min-width: 800px) {
    font-size: 1.625rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2f2f2f;
  font-size: 1.75rem;
  letter-spacing: -0.0625rem;
  font-weight: 500;
  line-height: var(--line-height--heading);
  margin: 0 0 var(--spacing--small);

  // @media (prefers-color-scheme: dark) {
  //   color: #fff;
  // }

  @media (min-width: 800px) {
    font-size: 2.25rem;
  }
}

.detail {
  font-family: "Basier Circle Mono";
  font-weight: normal;
  font-size: 1.25rem;
  color: #757575;
}

.heading--eyebrow {
  font-family: "Basier Circle Mono";
  font-weight: normal;
  font-size: 1.25rem;
  letter-spacing: normal;
  color: #3f3f3f;
  margin-bottom: 3rem;
  display: inline-block;

  h2 {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    display: inline-block;
    font-weight: normal;
    margin-right: 2rem;
  }

  a {
    color: inherit;
  }
}

.footer {
  padding-bottom: 0 !important;
}

p {
  margin: 0 0 var(--spacing--small);
  max-width: 55rem;
}

a {
  color: $action-color;
  text-decoration: none;
  border-bottom: 2px solid $action-color;
  background-image: linear-gradient(120deg, $action-color 0%, $action-color 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.0em;
  background-position: 0 100%;
  transition: all 0.125s ease-in;

  &:hover {
    color: $white;
    background-size: 100% 100%;
  }

  &:focus {
    outline: var(--focus-outline);
  }
}

hr {
  border-bottom: var(--border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: var(--spacing) 0;
}
