html {
  color: $font-color-base;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}

h2,
h4,
h5,
h6 {
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  color: $font-color-header;
  font-family: $heading-font-family;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: $heading-line-height;
  margin: 0 0 $large-spacing;
}

h2 {
  color: $font-color-header;
  font-size: 21px;
  font-family: $heading-font-family;
  font-weight: normal;
}

h3 {
  text-transform: uppercase;
  color: rgba($font-color-header, 0.4);
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0;
}

p {
  font-size: 21px;
  margin: 0 0 $small-spacing;

  &:last-of-type {
    margin: 0;
  }

  article &:not(:first-of-type) {
    text-indent: 2rem;
  }
}

time {
  font-size: 17px;
  color: rgba($font-color-header, 0.4);
}

a {
  color: $font-color-header;
  text-decoration-skip: ink;
  text-decoration-color: rgba($font-color-header, 0.3);
  -webkit-text-decoration-color: rgba($font-color-header, 0.3);
  transition: color $base-duration $base-timing;

  &:hover {
    color: $action-color;
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

footer {
  h3 {
    margin-bottom: $base-spacing * 1.5;
  }

  h2 {
    margin-bottom: 0;
  }
}

.hero-title-lead {
  color: rgba($font-color-header, 0.6);
  margin-bottom: 0;
}
