// Typography
$font-family: "ff-tisa-web-pro", Georgia, Times, Times New Roman, serif;

// Spacing & Sizes
$font-size: 1rem;
$line-height: 1.5;
$line-height-header: 1.25;

$spacing-base: $line-height * 1rem;
$spacing-small: $spacing-base / 2;
$spacing-large: $spacing-base * 2;

$max-width: 77rem;

// Colors
$blue: #44accb;
$dark-blue: #404a63;
$purple: #a39ef6;

$color-body: rgba(#fff, 0.8);
$color-heading: #fff;
$color-time: #8b889a;
$color-link: $purple;
$color-link-hover: $blue;

// Border
$border-color: darken($dark-blue, 5%);
$border: 1px solid $border-color;
