// Colors
// $gray: #142E51;
// $white: #AAD7AD;
$gray: #000000;
$white: #C3C1B6;
$highlight-dark: #F5D171;

// Breakpoint
$breakpoint--small: 50rem;
$breakpoint--medium: 68rem;
$breakpoint--large: 75rem;

:root {
  // Typography
  --font-family: "DM Mono", monospace;

  // Line heights
  --line-height: 1.6;
  --line-height--heading: 1.125;

  // Other Sizes
  --spacing: 1.5rem;
  --spacing--small: 0.75rem;
  --spacing--gap: 3vw;
  --spacing--medium: 2rem;
  --spacing--large: 3rem;
  --spacing--x-large: 4rem;
  --spacing--xx-large: 6rem;
}
