---
layout: default
class: baseball-stadiums
---

.container
  %header
    .main-container
      %h3
        Playground <span>no.</span>1
      %h1 Baseball Stadiums
      %p One of my bucket list goals is to visit every baseball stadium. This is my way of keeping track of which ones I&rsquo;ve been too and which I still need to visit.

    %h2
      %strong 14
      %span /33

  %section.map
    .map-inner
      {% include usa.svg %}

      %ul.stadiums
        %li.laa
          %h4 Angel Stadium of Anaheim
          %h5 Los Angeles Angels of Anaheim

        %li.sf.visited
          %h4 AT&amp;T Park
          %h5 San Francisco Giants

        %li.stl.visited
          %h4 Busch Stadium
          %h5 St. Louis Cardinals

        %li.az
          %h4 Chase Field
          %h5 Arizona Diamondbacks

        %li.nym
          %h4 Citi Field
          %h5 New York Mets

        %li.phl.visited
          %h4 Citizens Bank Park
          %h5 Philadelphia Phillies

        %li.dt
          %h4 Comerica Park
          %h5 Detroit Tigers

        %li.co
          %h4 Coors Field
          %h5 Colorado Rockies

        %li.lad
          %h4 Dodger Stadium
          %h5 Los Angeles Dodgers

        %li.bos.visited
          %h4 Fenway Park
          %h5 Boston Red Sox

        %li.tx
          %h4 Globe Life Park in Arlington
          %h5 Texas Rangers

        %li.cin
          %h4 Great American Ball Park
          %h5 Cincinnati Reds

        %li.kan
          %h4 Kauffman Stadium
          %h5 Kansas City Royals

        %li.mia
          %h4 Marlins Park
          %h5 Miami Marlins

        %li.mil
          %h4 Miller Park
          %h5 Milwaukee Brewers

        %li.hou
          %h4 Minute Maid Park
          %h5 Houston Astros

        %li.was
          %h4 Nationals Park
          %h5 Washington Nationals

        %li.oak
          %h4 O.co Coliseum
          %h5 Oakland Athletics

        %li.bal.visited.time
          %h4 Camden Yards
          %h5 Baltimore Orioles

        %li.sd.visited
          %h4 Petco Park
          %h5 San Diego Padres

        %li.pit.visited
          %h4 PNC Park
          %h5 Pittsburgh Pirates

        %li.cle
          %h4 Progressive Field
          %h5 Cleveland Indians

        %li.tor
          %h4 Rogers Centre
          %h5 Toronto Blue Jays

        %li.sea.visited
          %h4 Safeco Field
          %h5 Seattle Mariners

        %li.min
          %h4 Target Field
          %h5 Minnesota Twins

        %li.tb
          %h4 Tropicana Field
          %h5 Tampa Bay Rays

        %li.atl
          %h4 Turner Field
          %h5 Atlanta Braves

        %li.cws.visited
          %h4 U.S. Cellular Field
          %h5 Chicago White Sox

        %li.chc.visited
          %h4 Wrigley Field
          %h5 Chicago Cubs

        %li.nyy.visited.home
          %h4 Yankee Stadium
          %h5 New York Yankees

    .retired
      %h3 Retired Stadiums
      %ul
        %li.visited.home
          %h4 Old Yankee Stadium
          %h5 New York Yankees
        %li.visited
          %h4 Shea Stadium
          %h5 New York Mets
        %li.visited
          %h4 Old Cleveland Stadium
          %h5 Cleveland Indians
