@import 'bourbon/bourbon';

.button {
  @include border-radius( 2px );
  @include box-shadow( 0 1px 0 #E1E1E1, inset 0 1px 0 #E1E1E1 );
  @include linear-gradient( #EBECF0, #E1E2E7 );
  border: 1px solid #8B9494;
  text-shadow: 0 1px 0 #f1f1f1;
  display: block;
  padding: 16px 35px;
  margin-top: 11px;
  float: right;
  color: #595f5f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;

  &:hover {
    @include linear-gradient( darken(#EBECF0, 5%), darken(#E1E2E7, 5%) );
  }
}

body {
  font: 14px "helvetica neue", helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 #E1E1E1;
  color: #595f5f;
  background: #c5c6c6 url(../images/linen.png) repeat;
  text-align: center;

  section {
    margin: 0 auto;
    width: 1236px;

    header {
      @include clearfix();
      padding: 20px 30px;

      hgroup {
        float: left;

        h1 {
          font-weight: bold;
          font-size: 50px;
          letter-spacing: -1px;
          margin: 0 15px 0 0;
          @include inline-block();
          -webkit-font-smoothing: antialiased;
        }

        h2 {
          font-weight: 300;
          font-size: 28px;
          margin: 0;
          color: #878787;
          @include inline-block();
          -webkit-font-smoothing: antialiased;
        }
      }

      a {
        @extend .button;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        position: relative;

        a {
          text-decoration: none;

          p {

            &.image {
              @include border-radius(50px);
              background: #fff;
              border: 1px solid #A6A6A6;
              padding: 102px;
              @include box-shadow( 0 0 2px #A2A4A4 );
              @include inline-block();

              // &::before {
              //   background: url(../images/home.png) 0 0 no-repeat;
              //   content: " ";
              //   width: 68px;
              //   height: 67px;
              //   display: block;
              //   position: absolute;
              // }

              // &::before {
              //   content: " ";
              //   display: block;
              //   height: 50px;
              //   width: 1024px;
              //   background-color: red;
              //   z-index: 10;
              //   position: absolute;
              // }

              img {

                border: 1px solid #c4c4c4;
              }
            }

          }
        }

        div.caption {
          color: #595f5f;
          padding: 0 30px;

          &:hover {
            color: #878787;
          }
        }
      }
    }

    div.pagination {
      a {
        @extend .button;
        display: inline-block;
        float: none;

        &:first-child {
          margin-right: 10px;
        }
      }
    }

    footer {
      @include clearfix();
      padding: 30px;
      margin-top: 40px;
      border-top: 1px solid #999;
      @include box-shadow(inset 0 1px 0 #e1e1e1);

      p {
        float: left;
        margin: 0;
      }

      a {
        color: #878787;
        text-decoration: none;

        &:hover {
          color: #595f5f;
        }
      }

      ul {
        float: right;

        li {
          @include inline-block();
          margin-right: 15px;

        }
      }
    }
  }
}
