/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

@font-face {
  font-family: 'LearningCurveProRegular';
  src: url("http://kylefiedler.com/sippycups/fonts/LearningCurve_OT-webfont.eot");
  src: url("http://kylefiedler.com/sippycups/fonts/LearningCurve_OT-webfont.eot?iefix") format("eot"), url("http://kylefiedler.com/sippycups/fonts/LearningCurve_OT-webfont.woff") format("woff"), url("http://kylefiedler.com/sippycups/fonts/LearningCurve_OT-webfont.ttf") format("truetype"), url("http://kylefiedler.com/sippycups/fonts/LearningCurve_OT-webfont.svg#webfontSY5jsO6d") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 20, ../src/screen.scss */
body {
  text-align: center;
  background: url("http://kylefiedler.com/sippycups/images/bg.jpg") center 0 repeat;
  font: 14px Georgia, serif;
}

/* line 26, ../src/screen.scss */
a {
  color: #963e95;
}
/* line 28, ../src/screen.scss */
a:hover {
  color: #722f71;
}

/* line 33, ../src/screen.scss */
#header {
  margin: 0 auto;
  width: 900px;
  text-align: left;
  padding: 30px 0 10px;
  position: absolute;
  top: -104px;
  left: 0;
  overflow: hidden;
}
/* line 44, ../src/screen.scss */
#header ul li {
  float: left;
  margin-right: 40px;
}
/* line 48, ../src/screen.scss */
#header ul li a {
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #571010;
  text-decoration: none;
  font: 32px 'LearningCurveProRegular', Helvetica, sans-serif;
}
/* line 55, ../src/screen.scss */
#header ul li a:hover {
  color: #491e08;
  text-shadow: 0 1px 0 #cc825e;
}
/* line 63, ../src/screen.scss */
#header #search-block {
  float: right;
  position: relative;
  right: -14px;
}
/* line 68, ../src/screen.scss */
#header #search-block input[type="text"] {
  background: rgba(42, 20, 10, 0.4);
  border: 0;
  font: 14px georgia, serif;
  color: #fff;
  padding: 8px 30px 8px 8px;
  width: 120px;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8), 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8), 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
/* line 85, ../src/screen.scss */
#header #search-block .submit {
  background: url("http://kylefiedler.com/sippycups/images/search.png") 0 0 no-repeat;
  width: 14px;
  top: 3px;
  height: 14px;
  border: 0;
  position: relative;
  left: -28px;
}

/* line 97, ../src/screen.scss */
#paper-wrapper {
  padding: 25px 60px 26px 44px;
  background: url("http://kylefiedler.com/sippycups/images/bgpaper/top.png") 90% 0 no-repeat, url("http://kylefiedler.com/sippycups/images/bgpaper/bottom.png") 74px 100% no-repeat, url("http://kylefiedler.com/sippycups/images/bgpaper/left.png") 0 30px no-repeat, url("http://kylefiedler.com/sippycups/images/bgpaper/right.png") right 98% no-repeat;
  margin: 80px auto 0;
  width: 900px;
  position: relative;
}
/* line 105, ../src/screen.scss */
#paper-wrapper #main {
  margin: 0 auto;
  width: 500px;
  background: white url("http://kylefiedler.com/sippycups/images/notebook-lines.png") 0 0 repeat-y;
  text-align: left;
  position: relative;
  clear: left;
  padding: 30px 200px 60px 200px;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
/* line 118, ../src/screen.scss */
#paper-wrapper #main #photos {
  width: 393px;
  height: 573px;
  background: url("http://kylefiedler.com/sippycups/images/left-side.png") 0 0 no-repeat;
  position: absolute;
  top: 300px;
  left: -200px;
}
/* line 127, ../src/screen.scss */
#paper-wrapper #main #stethescope {
  width: 598px;
  height: 717px;
  background: url("http://kylefiedler.com/sippycups/images/steth_notes.png") 0 0 no-repeat;
  position: absolute;
  top: -110px;
  right: -310px;
}
/* line 136, ../src/screen.scss */
#paper-wrapper #main #sippy-cup {
  position: absolute;
  width: 407px;
  height: 430px;
  background: url("http://kylefiedler.com/sippycups/images/sippy-cup-footer.png") 0 0 no-repeat;
  bottom: 0;
  right: -300px;
}
/* line 147, ../src/screen.scss */
#paper-wrapper #main h1 a {
  text-indent: -9999px;
  width: 556px;
  height: 292px;
  background: url("http://kylefiedler.com/sippycups/images/sippy-cups-logo.png") 0 0 no-repeat;
  display: block;
  position: relative;
  left: -160px;
}
/* line 158, ../src/screen.scss */
#paper-wrapper #main .post {
  padding: 40px 0 60px;
  background: url("http://kylefiedler.com/sippycups/images/divider.png") center bottom no-repeat;
}
/* line 162, ../src/screen.scss */
#paper-wrapper #main .post h3 {
  margin-bottom: 30px;
}
/* line 164, ../src/screen.scss */
#paper-wrapper #main .post h3 a {
  font: 48px 'LearningCurveProRegular', Helvetica, sans-serif;
  color: #963e95;
  text-decoration: none;
}
/* line 169, ../src/screen.scss */
#paper-wrapper #main .post h3 a:hover {
  color: #722f71;
}
/* line 175, ../src/screen.scss */
#paper-wrapper #main .post p {
  line-height: 1.6em;
  color: #444;
  margin-bottom: 1em;
}
/* line 181, ../src/screen.scss */
#paper-wrapper #main .post ul {
  margin-bottom: 20px;
}
/* line 184, ../src/screen.scss */
#paper-wrapper #main .post ul li {
  line-height: 1.6em;
  margin-bottom: 8px;
}
/* line 190, ../src/screen.scss */
#paper-wrapper #main .post .post-info {
  margin-top: 20px;
  color: #777;
}
/* line 194, ../src/screen.scss */
#paper-wrapper #main .post .post-info li {
  float: left;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #aaa;
}
/* line 200, ../src/screen.scss */
#paper-wrapper #main .post .post-info li:last-child {
  border-right: 0;
}
/* line 207, ../src/screen.scss */
#paper-wrapper #main .post.link a.link {
  font: 48px 'LearningCurveProRegular', Helvetica, sans-serif;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}
/* line 213, ../src/screen.scss */
#paper-wrapper #main .post.link a.link:hover {
  color: #722f71;
}
/* line 221, ../src/screen.scss */
#paper-wrapper #main .post.quote blockquote p {
  font: 48px 'LearningCurveProRegular', Helvetica, sans-serif;
}
/* line 228, ../src/screen.scss */
#paper-wrapper #main .post.photo img {
  display: block;
  margin-bottom: 20px;
}
/* line 235, ../src/screen.scss */
#paper-wrapper #main #pagination {
  font: 48px 'LearningCurveProRegular', Helvetica, sans-serif;
  text-align: center;
}
/* line 239, ../src/screen.scss */
#paper-wrapper #main #pagination a {
  text-decoration: none;
}

/* line 248, ../src/screen.scss */
#footer {
  position: relative;
  margin: 0 auto 30px;
  width: 900px;
  text-align: left;
}
/* line 254, ../src/screen.scss */
#footer h3 {
  font: 48px 'LearningCurveProRegular', Helvetica, sans-serif;
  margin-left: 400px;
  text-shadow: 0 1px 0 #da7a4e;
  color: #170a06;
}
/* line 260, ../src/screen.scss */
#footer h3 a {
  color: #170a06;
  text-decoration: none;
}
/* line 264, ../src/screen.scss */
#footer h3 a:hover {
  color: #000;
  text-decoration: underline;
}
/* line 271, ../src/screen.scss */
#footer p {
  margin-left: 400px;
  color: #170a06;
  text-shadow: 0 1px 0 #da7a4e;
}
/* line 276, ../src/screen.scss */
#footer p a {
  color: #170a06;
  text-decoration: none;
}
/* line 280, ../src/screen.scss */
#footer p a:hover {
  color: #000;
  text-decoration: underline;
}
